title: "Blog Bitix"
baseURL: "https://picodotdev.github.io/blog-bitix/"
metadataformat: "yaml"
timeout: 360000

languageCode: "es"
defaultContentLanguage: "es"
languages:
  es:
    weight: 1
  en:
    weight: 1
    taxonomies:
      disableKinds:
      - home
      - page
      - section
      - taxonomy
      - term

theme: "bitix"

outputs:
  home:
  - html
  - rss
  page:
  - html
  rss:
  - rss
  section:
  - html
  - rss
  taxonomy:
  - html
  - rss
  term:
  - html
  - rss

pagination:
  pagerSize: 15

markup:
  defaultMarkdownHandler: goldmark
  blackFriday:
  goldmark:
    extensions:
      linkify: false
    renderer:
      unsafe: true
      xHTML: true
  tableOfContents:
    startLevel: 2
    endLevel: 3
    ordered: true

imaging:
  resampleFilter: "box"
  quality: 90
  exif:
    disableDate: true
    disableLatLong: true
    excludeFields: ".*"
    includeFields: ""

pygmentsUseClasses: true
pygmentsOptions: linenos=table,linenostart=1
pygmentsStyle: github

copyright: https://creativecommons.org/licenses/by-sa/4.0/

permalinks:
  post: "/:year/:month/:title/"

taxonomies:
  tag:
    - tags
  series:
    - series

menu:
  header:
    - Name: "Java"
      URL: "/tags/java/"
      Weight: 1
    - Name: "GNU/Linux"
      URL: "/tags/gnu-linux/"
      Weight: 2
    - Name: "JavaScript"
      URL: "/tags/javascript/"
      Weight: 3
    - Name: "Tapestry"
      URL: "/tags/tapestry/"
      Weight: 4
    - Name: "Archivo y hemeroteca"
      URL: "/archive/"
      Weight: 5
    - Name: "Enlaces"
      URL: "/pages/links/"
      Weight: 6
    - Name: "Acerca de..."
      URL: "/pages/about/"
      Weight: 7
  footer:
    - Name: "Java"
      URL: "/tags/java/"
      Weight: 1
    - Name: "GNU/Linux"
      URL: "/tags/gnu-linux/"
      Weight: 2
    - Name: "JavaScript"
      URL: "/tags/javascript/"
      Weight: 3
    - Name: "Tapestry"
      URL: "/tags/tapestry/"
      Weight: 4
    - Name: "Archivo y hemeroteca"
      URL: "/archive/"
      Weight: 5
    - Name: "Enlaces"
      URL: "/pages/links/"
      Weight: 6
    - Name: "Publicidad"
      URL: "/pages/advertising/"
      Weight: 7
    - Name: "Advertising"
      URL: "/pages/advertising/"
      Weight: 7
    - Name: "Donaciones"
      URL: "/pages/donate/"
      Weight: 8
    - Name: "Política de privacidad"
      URL: "/pages/privacy/"
      Weight: 9
    - Name: "Acerca de..."
      URL: "/pages/about/"
      Weight: 10

params:
  baseurl: "https://picodotdev.github.io/blog-bitix"
  context: "/blog-bitix"
  description: "Blog sobre el lenguaje de programación Java y la distribución GNU/Linux que uso habitualmente, Arch Linux, lo que aprendo sobre el software libre, la programación web y otros temas relacionados con la tecnología y la informática. El contenido puede contener trazas de asuntos fuera de tema."
  keywords: "java, programacion, software, hardware, tapestry, software libre, gnu, linux, gnu/linux, unix, arch, arch linux, web, html, css, javascript, tutorial, guía, básico, avanzado, análisis, tecnología, juegos, productos"
  author:
    name: "picodotdev"
    description: "I ♥ Java, GNU/Linux and libre software."
  publisher:
    name: "Blog Bitix"
    logotype: "https://picodotdev.github.io/blog-bitix/assets/images/blog-bitix.svg"
  links:
    feed:
      url: "index.xml"
      title: "¡Suscríbete a Blog Bitix!"
    github:
      user: "picodotdev"
      url: "https://github.com/picodotdev/blog-ejemplos/"
      title: "¡Obtén el código fuente de los ejemplos!"
#    x:
#      user: "@picodotdev"
#      url: "https://x.com/picodotdev/"
#      title: "¡Sígueme en X!"
#    facebook:
#      url: ""
#      title: ""
#    linkedin:
#      url: ""
#      title: ""
  github:
    user: "picodotdev"
  analytics:
    ua:
      trackingid: "UA-12874075-4"
      domain: "picodotdev.github.io"
    ga4:
      trackingid: "G-9R8XCRGSMY"
  adsense:
    adclient: "ca-pub-3533636310991304"
    adslot:
      autobillboard: "4052324337"
      autoleaderboard: "8238629013"
      autovertical: "7450235768"
  amazon:
    tag: "blobit-21"
  sharethis:
    publisher: "ur-a2d4b156-3d22-5ffc-2477-6c0f8a809173"
    twitteruser: "picodotdev"
  disqus:
    shortname: "blog-bitix"
  outputformats:
    html:
      urlsuffix: ""
    xml:
      urlsuffix: ""
    amp:
      urlsuffix: "index-amp.html"
  misc:
    sponsoredlink: "https://amzn.to/"
