.block {
  width: 200px;
  height: 50px;
  padding: 10px;
}

.red {
  border: solid 1px #000;
  background: linear-gradient(#ccc, #f00);
}

.blue {
  border: solid 1px #000;
  background: linear-gradient(#ccc, #00f);
}