[Unit]
Description=Disk bmovenegro mount

[Mount]
What=/dev/disk/by-uuid/f0fe2765-00aa-4c2a-adef-83a3264b8f4f
Where=/run/media/picodotdev/bmovenegro/
Type=ext4
Options=defaults

[Install]
WantedBy=multi-user.target