{{- $tags := .Page.Site.Data.theme.conf.tags.html -}}
{{- $imgtagopen := $tags.imgtagopen -}}
{{- $imgtagclose := $tags.imgtagclose -}}
{{- $imgtagsrc := $tags.imgtagsrc -}}

{{- $nil := default nil nil -}}
{{- $src := $nil -}}
{{- $srcthumb := $nil -}}
{{- $width := $nil -}}
{{- $height := $nil -}}
{{- $title := .Title -}}

{{- $strings := split .Destination "," -}}
{{- $attributes := dict -}}
{{- range $i := $strings -}}
  {{- $key := index (split $i "=") 0 -}}
  {{- $value := index (split $i "=") 1 -}}
  {{- $attributes = merge $attributes (dict $key $value) -}}
{{- end -}}
{{- $url := index $attributes "url" -}}
{{- $size := index $attributes "size" -}}  
{{- $width := index (split $size "x") 0 -}}
{{- $height := index (split $size "x") 1 -}}
{{- $command := default "Fit" (index $attributes "command") -}}
{{- $commandthumb := default "Fit" (index $attributes "commandthumb") -}}
{{- $options := default "2560x1440" (index $attributes "options") -}}
{{- $optionsthumb := index $attributes "size" -}}
{{- $gallery := eq "true" (index $attributes "gallery") -}}
{{- $layout := index $attributes "layout" -}}

{{- if or (hasPrefix $url "logotype:") (hasPrefix $url "resource:") (hasPrefix $url "asset:") -}}
  {{- $binding := index (split $url ":") 0 -}}
  {{- $image := index (split $url ":") 1 -}}
  {{- $imagethumb := index (split $url ":") 2 -}}

  {{- if eq $binding "logotype" -}}
    {{- $src = print "assets/images/logotypes/" $image | relURL -}}
    {{- $srcthumb = cond (eq $imagethumb nil) nil (print "assets/images/logotypes/" $imagethumb) | relURL -}}
  {{- else if eq $binding "resource" -}}
    {{- if (findRE "\\.svg$|\\.webp$" $image) -}}
      {{- $src = print "images/" $image -}}
      {{- $srcthumb = cond (eq $imagethumb nil) nil (print "images/" $imagethumb) -}}
    {{- else -}}
      {{- $resource := .Page.Resources.GetMatch (print "images/" $image) -}}
      {{- $resourcethumb := .Page.Resources.GetMatch (print "images/" $image) -}}
      {{- $scaled := $nil -}}
      {{- $scaledhumb := $nil -}}

      {{- if eq $optionsthumb nil -}}{{- errorf "Invalid thumb optionsthumb '%s': %s" $optionsthumb .Position -}}{{- end -}}

      {{- if eq $command "Fit" -}}
        {{- $scaled = $resource.Fit $options -}}
      {{- else if eq $command "Resize" -}}
        {{- $scaled = $resource.Resize $options -}}
      {{- else if eq $command "Fill" -}}
        {{- $scaled = $resource.Fill $options -}}
      {{- else -}}
        {{- errorf "Invalid image processing command: Must be one of Fit, Fill or Resize '%s': %s" .Destination .Position -}}
      {{- end -}}

      {{- if eq $commandthumb "Fit" -}}
        {{- $scaledhumb = $resourcethumb.Fit $optionsthumb -}}
      {{- else if eq $commandthumb "Resize" -}}
        {{- $scaledhumb = $resourcethumb.Resize $optionsthumb -}}
      {{- else if eq $commandthumb "Fill" -}}
        {{- $scaledhumb = $resourcethumb.Fill $optionsthumb -}}
      {{- else -}}
        {{- errorf "Invalid image processing command: Must be one of Fit, Fill or Resize '%s': %s" .Destination .Position -}}
      {{- end -}}

      {{- $src = $scaled.RelPermalink -}}
      {{- $srcthumb = $scaledhumb.RelPermalink -}}
      {{- $width = $scaledhumb.Width -}}
      {{- $height = $scaledhumb.Height -}}
    {{- end -}}
  {{- else if eq $binding "asset" -}}
    {{- $src = $image | relURL -}}
    {{- $srcthumb = $imagethumb | relURL -}}
  {{- end -}}
{{- else -}}
  {{- errorf "Malformed image destination '%s': %s" .Destination .Position -}}
{{- end -}}

{{- $srcimg := default .Destination $src -}}
{{- $srca := $nil -}}

{{- if and $gallery (ne $src nil) (ne $srcthumb nil) -}}
  {{- $srcimg = $srcthumb -}}
  {{- $srca = $src -}}
{{- end -}}

{{- if $gallery }}<a href="{{ $srca }}" data-gallery="data-gallery">{{ end -}}
{{- $imgtagopen | safeHTML }} {{ $imgtagsrc }}="{{ $srcimg }}"{{ with $width }} width="{{ . }}"{{ end }}{{ with $height }} height="{{ . }}"{{ end }}{{ with $title }} alt="{{ . }}" title="{{ . }}"{{ end }}{{ with $layout }} layout="{{ . }}"{{ end }} class="lozad">{{ $imgtagclose | safeHTML -}}
{{- if $gallery }}</a>{{ end -}}