{
  "plugins": [
    [
      "@semantic-release/commit-analyzer", {
        "preset": "angular",
        "releaseRules": [{
            "message": "**", "release": "patch"
        }]
      }
    ],
    [
      "@semantic-release/release-notes-generator", {
        "presetConfig": {
          "issuePrefixes": ["BUY-", "POSTPURCH-", "NATIVE-", "INTLSH-", "PIL-"],
          "issueUrlFormat": "https://stubhubint.atlassian.net/browse//{{id}}"
        }
      }
    [
      "@semantic-release/changelog", {
        "changelogFile": "CHANGELOG.md"
      }
    ],
    [
      "@semantic-release/git", {
      "message": "chore(release): ${nextRelease.version} [skip ci]\n\n${nextRelease.notes}"
    }],
    [
      "@semantic-release/exec", {
        "publishCmd": "./miscellaneous/task/publish.sh \"${nextRelease.version}\" \"${lastRelease.version}\""
      }
    ]
  ],
  "branches": [
    { "name": "main" },
    { "name": "*", "prerelease": true }
  ]
}