{{ partial "html-head.html" . }}
<body>
  <div class="container">
    <div class="row">
      <div class="col-12">
        {{ partial "head.html" . }}
      </div>
    </div>
    <div class="row">
      <div class="col-12 adblock-container-billboard mt-3 mb-3 p-0">
        {{ partial "ad-manager/billboard.html" . }}
      </div>
    </div>
    {{ if .Params.imageHead }}
    <div class="row page-header">
      <div class="col-12">
        {{ print "![" (i18n "article_image") "](url=" .Params.imageHead ",command=Fill,options=1040x300___Center,gallery=false,layout=,lazy=false" " \"" (i18n "header_image") "\"" ")" | $.Page.RenderString (dict "display" "inline" "markup" "markdown") }}
      </div>
    </div>
    {{ end }}
    <div class="row">
      <div class="col-12">
        <div class="adblock-container-sidebar">
          <div class="adblock-container-sidebar-left"></div>
          <div class="adblock-container-sidebar-right">
            {{ partial "ad-manager/vertical-right.html" . }}
          </div>
        </div>
        {{ partial "article-single.html" . }}
        <div>
          <hr>
        </div>
        {{ partial "series.html" . }}
        {{ partial "share-this.html" . }}
        {{ if not (in .Content "<toc></toc>") }}
          {{ partial "videoo.html" . }}
        {{ end }}
        {{ partial "related.html" . }}
        <div class="row">
          <div class="col-12 adblock-container-billboard mt-3 mb-3 p-0">
            <span id="pageBottom"></span>
            {{ partial "ad-manager/billboard.html" . }}
          </div>
        </div>
        {{ partial "disqus.html" . }}
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <hr>
      </div>
    </div>
    {{ partial "footer.html" . }}
  </div>
  {{ partial "image-gallery.html" . }}
  {{ partial "html-footer.html" . }}
  {{ partial "html-footer-custom.html" . }}
</body>
</html>