{{ partial "html-head.html" . }}
<body>
  <div class="container">
    <div class="row">
      <div class="col">
        {{ partial "head.html" . }}
      </div>
    </div>
    {{ if .Params.image }}
    <div class="row page-header">
      <div class="col-12">
        <img src="{{ relURL (print .Params.url .Params.image) }}">
      </div>
    </div>
    {{ end }}
    <div class="row">
      <div class="col-12">
        <div class="ad-sidebar ad-sidebar-right">
          {{ partial "sidebar-ad.html" . }}
        </div>
        <article itemprop="mainEntity" itemscope itemtype="http://schema.org/BlogPosting">
          {{ if isset .Params "language" }}
          <meta itemprop="inLanguage" content="{{ .Params.language }}">
          {{ else }}
          <meta itemprop="inLanguage" content="{{ .Site.Language.Lang }}">
          {{ end }}
          {{ if isset .Params "tags" }}
            <meta itemprop="keywords" content="{{ range $i, $e := .Params.tags }}{{ if $i }}, {{ end }}{{ $e }}{{ end }}">
          {{ end }}

          <h1 itemprop="name">{{ .Title }}</h1>
          <p class="information">
            {{ if eq .Params.promoted "external" }}
              {{ i18n "published_by" }}
            {{ else }}
              {{ i18n "writed_by" }}
            {{ end }} 
            <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span itemprop="name">{{ if isset .Params "author" }}{{ .Params.author }}{{ else }}{{ .Site.Author.name }}{{ end }}</span></span> el <time itemprop="datePublished" datetime="{{ .Date.Format "2006-01-02" }}">{{ .Date.Format "02/01/2006" }}</time>{{ if isset .Params "updated" }}, actualizado el <time itemprop="dateModified" datetime="{{ dateFormat "2006-01-02" .Params.updated }}">{{ dateFormat "02/01/2006" .Params.updated }}</time>.{{ else }}.{{ end }}
            {{ if isset .Params "tags" }}
              <br>
              {{ range .Params.tags }} <a href="tags/{{ . }}/">{{ . }}</a>{{ end }}
            {{ end }}
            <br>
            <a href="{{ .RelPermalink }}" itemprop="url">{{ i18n "permanent_link" }}</a>
            {{ if .Params.comments }}
              <a href="{{ .RelPermalink }}#comments">{{ i18n "comments" }}</a>
            {{ end }}
            {{ if eq .Params.promoted true }}
              <div class="alert alert-info" role="alert">
                <small><span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span> {{ i18n "promoted_info" | markdownify | htmlUnescape | safeHTML }}</small>
              </div>
            {{ else if eq .Params.promoted "external" }}
              <div class="alert alert-info" role="alert">
                <small><span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span> {{ i18n "promoted_external_info" | markdownify | htmlUnescape | safeHTML }}</small>
              </div>
            {{ end }}
          </p>

          {{ if isset .Params "summary" }}
            <p class="summary" itemprop="about">{{ .Params.summary | markdownify }}</p>
          {{ end }}
          {{ if isset .Params "note" }}
            <div class="alert alert-warning">{{ .Params.note | markdownify }}</div>
          {{ end }}

          <div class="ad">
            {{ partial "adsense/billboard.html" . }}
          </div>

          <div class="content" itemprop="articleBody">
            <meta itemprop="wordCount" content="{{ .WordCount }}">
            {{ partial "share-this-begin.html" . }}
            {{ .Content }}
          </div>
        </article>
        {{ partial "series.html" . }}
        {{ partial "related.html" . }}
        {{ partial "share-this.html" . }}
        <div class="row">
          <div class="col-12 ad">
            {{ partial "adsense/billboard.html" . }}
          </div>
        </div>
        {{ partial "disqus.html" . }}
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <hr>
      </div>
    </div>
    {{ partial "footer.html" . }}
  </div>
  {{ partial "image-gallery.html" . }}
  {{ partial "html-footer.html" . }}
  {{ partial "html-footer-custom.html" . }}
</body>
</html>
