{{ $tags := $.Site.Data.theme.conf.tags.html }}
{{ $imgtagopen := $tags.imgtagopen }}
{{ $imgtagclose := $tags.imgtagclose }}
{{ $imgtagsrc := $tags.imgtagsrc }}

{{ partial "html-head.html" . }}
<body>
  <div class="container">
    <div class="row">
      <div class="col-12">
        {{ partial "head.html" . }}
      </div>
    </div>
    <div class="row">
      <div class="col-12 text-center">
        {{ partial "adsense/billboard.html" . }}
      </div>
    </div>
    {{ if .Params.imageHead }}
    {{ $imagehead := .Page.Resources.GetMatch (print .Params.imageHead) }}
    {{ $imageheadthumb := $imagehead.Resize "1040x" }}
    <div class="row page-header">
      <div class="col-12">
        {{ $imgtagopen | safeHTML }} src="{{ $imageheadthumb.RelPermalink }}" width="{{ $imageheadthumb.Width }}" height="{{ $imageheadthumb.Height }}">{{ $imgtagclose | safeHTML }}
      </div>
    </div>
    {{ end }}
    <div class="row">
      <div class="col-12">
        <div class="adblock-sidebar-container">
          <div class="adblock-sidebar-container-left"></div>
          <div class="adblock-sidebar-container-right">
            {{ partial "adsense/auto-vertical.html" . }}
          </div>
        </div>
        {{ partial "article-single.html" . }}
        {{ partial "series.html" . }}
        {{ partial "related.html" . }}
        {{ partial "share-this.html" . }}
        <div class="row">
          <div class="col-12 text-center">
            <a id="pageBottom"></a>
            {{ partial "adsense/billboard.html" . }}
          </div>
        </div>
        {{ partial "disqus.html" . }}
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <hr>
      </div>
    </div>
    {{ partial "footer.html" . }}
  </div>
  {{ partial "image-gallery.html" . }}
  {{ partial "html-footer.html" . }}
  {{ partial "html-footer-custom.html" . }}
</body>
</html>