{{- $links := .Page.Site.Data.theme.conf.links.html -}}
{{- $tags := .Page.Site.Data.theme.conf.tags.html -}}
{{- $imgtagopen := $tags.imgtagopen -}}
{{- $imgtagclose := $tags.imgtagclose -}}
{{- $imgtagsrc := $tags.imgtagsrc -}}

{{- $nil := default nil nil -}}
{{- $src := $nil -}}
{{- $srcthumb := $nil -}}
{{- $width := $nil -}}
{{- $height := $nil -}}
{{- $title := .Title -}}

{{- $strings := split .Destination "," -}}
{{- $attributes := dict -}}
{{- range $i := $strings -}}
  {{- $key := index (split $i "=") 0 -}}
  {{- $value := index (split $i "=") 1 -}}
  {{- $attributes = merge $attributes (dict $key $value) -}}
{{- end -}}
{{- $page := default "" (index $attributes "page") -}}
{{- $url := index $attributes "url" -}}
{{- $url := replaceRE "^\"|\"$" "" $url -}}
{{- $command := default "Fit" (index $attributes "command") -}}
{{- $options := default "2560x1440" (index $attributes "options") -}}
{{- $options := replace $options "___" " " -}}
{{- $commandthumb := default "Fit" (index $attributes "commandthumb") -}}
{{- $optionsthumb := default "300x200" (index $attributes "optionsthumb") -}}
{{- $optionsthumb := replace $optionsthumb "___" " " -}}
{{- $gallery := eq "true" (index $attributes "gallery") -}}
{{- $class := index $attributes "class" -}}
{{- $class := replace $class "." " " -}}
{{- $layout := index $attributes "layout" -}}
{{- $loading := default "lazy" (index $attributes "lazy") -}}

{{- if (eq $loading "false") -}}
  {{- $loading := $nil -}}
{{- end -}}

{{- if or (hasPrefix $url "logotype:") (hasPrefix $url "resource:") (hasPrefix $url "image:") (hasPrefix $url "asset:") -}}
  {{- $binding := index (split $url ":") 0 -}}
  {{- $image := index (split $url ":") 1 -}}
  {{- $imagethumb := index (split $url ":") 2 -}}

  {{- if eq $binding "logotype" -}}
    {{- $src = print "assets/images/logotypes/" $image | relURL -}}
    {{- $srcthumb = print "assets/images/logotypes/" $image | relURL -}}
    {{- $width = index (split $options "x") 0 -}}
    {{- $height = index (split $options "x") 1 -}}
  {{- else if or (eq $binding "resource") (eq $binding "image") -}}
    {{- $p := cond (eq $page "") .Page (.Page.GetPage $page) -}}
    {{- $path := cond (eq $binding "image") "images/" "" -}}

    {{- if (findRE "\\.svg$|\\.gif$" $image) -}}
      {{- $base := replace .Page.Permalink "/index-amp.html" "/" -}}
      {{- $src = print $base $path $image | relURL -}}
      {{- $srcthumb = print $base $path $image | relURL -}}
      {{- $width = index (split $options "x") 0 -}}
      {{- $height = index (split $options "x") 1 -}}
    {{- else -}}
      {{- $i := $nil -}}
      {{- $resource := $nil -}}
      {{- if eq $resource nil -}}
        {{- $i = replace $image ".webp" ".png" -}}
        {{- $resource = $p.Resources.GetMatch (print $path $i) -}}
      {{- end -}}
      {{- if eq $resource nil -}}
        {{- $i = replace $image ".webp" ".jpg" -}}
        {{- $resource = $p.Resources.GetMatch (print $path $i) -}}
      {{- end -}}
      {{- if eq $resource nil -}}
        {{- $i = replace $image ".webp" ".webp" -}}
        {{- $resource = $p.Resources.GetMatch (print $path $i) -}}
      {{- end -}}
      {{- $it := $nil -}}
      {{- $resourcethumb := $nil -}}
      {{- if eq $resourcethumb nil -}}
        {{- $it = replace $image ".webp" ".png" -}}
        {{- $resourcethumb = $p.Resources.GetMatch (print $path $it) -}}
      {{- end -}}
      {{- if eq $resourcethumb nil -}}
        {{- $it = replace $image ".webp" ".jpg" -}}
        {{- $resourcethumb = $p.Resources.GetMatch (print $path $it) -}}
      {{- end -}}
      {{- if eq $resourcethumb nil -}}
        {{- $it = replace $image ".webp" ".webp" -}}
        {{- $resourcethumb = $p.Resources.GetMatch (print $path $it) -}}
      {{- end -}}
      {{- $scaled := $nil -}}
      {{- $scaledthumb := $nil -}}

      {{- if eq $resource nil -}}{{- errorf "Invalid resource '%s'" $image -}}{{- end -}}
      {{- if eq $optionsthumb nil -}}{{- errorf "Invalid thumb optionsthumb '%s'" $optionsthumb -}}{{- end -}}

      {{- if eq $command "Fit" -}}
        {{- $scaled = $resource.Fit $options -}}
      {{- else if eq $command "Resize" -}}
        {{- $scaled = $resource.Resize $options -}}
      {{- else if eq $command "Fill" -}}
        {{- $scaled = $resource.Fill $options -}}
      {{- else -}}
        {{- errorf "Invalid image processing command: Must be one of Fit, Fill or Resize '%s'" .Destination -}}
      {{- end -}}

      {{- if eq $commandthumb "Fit" -}}
        {{- $scaledthumb = $resourcethumb.Fit $optionsthumb -}}
      {{- else if eq $commandthumb "Resize" -}}
        {{- $scaledthumb = $resourcethumb.Resize $optionsthumb -}}
      {{- else if eq $commandthumb "Fill" -}}
        {{- $scaledthumb = $resourcethumb.Fill $optionsthumb -}}
      {{- else -}}
        {{- errorf "Invalid image processing command: Must be one of Fit, Fill or Resize '%s'" .Destination -}}
      {{- end -}}

      {{- $src = $scaled.RelPermalink -}}
      {{- $srcthumb = $scaledthumb.RelPermalink -}}

      {{- if $gallery }}
        {{- $width = $scaledthumb.Width -}}
        {{- $height = $scaledthumb.Height -}}
      {{- else -}}
        {{- $width = $scaled.Width -}}
        {{- $height = $scaled.Height -}}
      {{- end -}}

      {{- if eq $layout "fixed-height" -}}
        {{- $width = $nil -}}
      {{- end -}}
    {{- end -}}
  {{- else if eq $binding "asset" -}}
    {{- $src = $image | relURL -}}
    {{- $srcthumb = cond (eq $imagethumb nil) $src (print "assets/images/logotypes/" $imagethumb | relURL) -}}
  {{- end -}}
{{- else -}}
  {{- errorf "Malformed image destination '%s'" .Destination -}}
{{- end -}}

{{- $srcimg := default .Destination $src -}}
{{- $srca := $nil -}}

{{- if and $gallery (ne $src nil) (ne $srcthumb nil) -}}
  {{- $srcimg = $srcthumb -}}
  {{- $srca = $src -}}
{{- end -}}
{{- if eq $links.absolute "true" -}}
  {{- $srcimg = absURL $srcimg -}}
  {{- $srca = absURL $srca -}}
{{- end -}}
{{- $srcimg = replace $srcimg "/index-amp.html" "/" -}}
{{- $srca = replace $srca "/index-amp.html" "/" -}}

{{- if $gallery }}<a href="{{ $srca }}" data-gallery=""{{ with $title }} title="{{ . }}"{{ end }}>{{ end -}}
{{- $imgtagopen | safeHTML }} {{ $imgtagsrc }}="{{ $srcimg }}"{{ with $width }} width="{{ . }}"{{ end }}{{ with $height }} height="{{ . }}"{{ end }}{{ with $title }} alt="{{ . }}" title="{{ . }}"{{ end }}{{ with $layout }} layout="{{ . }}"{{ end }} class="{{ with $class }}{{ . }} {{ end }}"{{ with $loading }} loading="{{ . }}"{{ end }}>{{ $imgtagclose | safeHTML -}}
{{- if $gallery }}</a>{{ end -}}