/* open-sans-light */
@font-face {
	font-family: Open Sans;
	font-style: normal;
	font-weight: 300;
	font-stretch: 100%;
	src: local("Open Sans Light"), local("OpenSans-Light"), url(open-sans-light.woff2) format("woff2");
}

