{{ partial "html-head.amp.html" . }}
<body>
  <div class="container">
    <div class="row">
      <div class="col-12">
        {{ partial "head.amp.html" . }}
        <div class="row">
          <div class="col-12 col-lg-8">
            <h1>{{ i18n "page_not_found" }}</h1>
            <h3>{{ i18n "error_404" }}</h3>
            <p>{{ i18n "error_404_description" }}</p>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <hr>
          </div>
        </div>
        {{ partial "footer.amp.html" . }}
      </div>
    </div>
  </div>
  {{ partial "html-footer.amp.html" . }}
  {{ partial "html-footer-custom.amp.html" . }}
  <script type="text/javascript">
    //ga('send', 'event', 'error', '404', window.location.pathname);
  </script>
</body>
</html>
