{{- $permalink := replace .Permalink "index-amp.html" "" -}}
{{- $permalink := print $permalink "index-amp.html" -}}
<!DOCTYPE html>
<html amp lang="{{ .Site.Language.Lang }}">
<head>
    <title>{{ $permalink }}</title>
    <link rel="canonical" href="{{ $permalink }}"/>
    <script async custom-element="amp-script" src="https://cdn.ampproject.org/v0/amp-script-0.1.js"></script>
    <script type="text/plain" target="amp-script" id="redirect">
        window.location = '{{ $permalink }}';
    </script>
</head>
<body></body>
</html>