{{ partial "html-head.amp.html" . }}
<body>
  <div class="container">
    <div class="row">
      <div class="col-12">
        {{ partial "head.html" . }}
        <div class="row">
          <div class="col-12 text-center">
            {{ partial "adsense/billboard.html" . }}
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <div class="adblock-sidebar-container">
              <div class="adblock-sidebar-container-left">
                {{ partial "sidebar-ad.html" . }}
              </div>
              <div class="adblock-sidebar-container-right">
                {{ partial "sidebar-ad.html" . }}
              </div>
            </div>
            <ul class="list-unstyled">
              {{ range .Paginator.Pages }}
              <li>
                <article>
                  <h1><a href="{{ .RelPermalink }}">{{ .Title }}</a></h1>
                  <span class="information">
                    <time>{{ .Date.Format "02/01/2006" }}</time>
                    {{ if isset .Params "tags" }}
                      {{ range .Params.tags }} <a href="tags/{{ . }}/">{{ . }}</a>{{ end }}
                    {{ end }}
                  </span>
                  <p>
                    {{ if isset .Params "summary" }}
                      {{ .Params.summary | markdownify }}
                    {{ else }}
                      {{ .Summary }}
                    {{ end }}
                    <br>
                    <a href="{{ .RelPermalink }}">{{ i18n "cotinue_reading" }}</a>
                  </p>
                </article>
              </li>
              {{ end }}
            </ul>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            {{ partial "paginator.html" . }}
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <hr class="separator">
          </div>
        </div>
        <div class="row">
          <div class="col-12 text-center">
            <a id="pageBottom"></a>
            {{ partial "adsense/billboard.html" . }}
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <hr>
          </div>
        </div>
        {{ partial "footer.html" . }}
      </div>
    </div>
  </div>
  {{ partial "html-footer.html" . }}
  {{ partial "html-footer-custom.html" . }}
</body>
</html>
