{{ partial "html-head.html" . }}
<body>
  <div class="container">
    <div class="row">
      <div class="col-12">
        {{ partial "head.html" . }}
        <div class="row">
          <div class="col-12">
            <div class="adblock-container-billboard mt-3 mb-3 p-0">
              {{ partial "adsense/billboard.html" . }}
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <div class="adblock-container-sidebar">
              <div class="adblock-container-sidebar-left">
                {{ partial "adsense/vertical.html" . }}
              </div>
              <div class="adblock-container-sidebar-right">
                {{ partial "adsense/vertical.html" . }}
              </div>
            </div>
            {{ partial "article-list.html" . }}
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            {{ partial "paginator.html" . }}
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <hr class="separator">
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <span id="pageBottom"></span>
            <div class="adblock-container-billboard mt-3 mb-3 p-0">
              {{ partial "adsense/billboard.html" . }}
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <hr>
          </div>
        </div>
        {{ partial "footer.html" . }}
      </div>
    </div>
  </div>
  {{ partial "html-footer.html" . }}
  {{ partial "html-footer-custom.html" . }}
</body>
</html>
