{{ partial "html-head.amp.html" . }}
<body>
  <div class="container">
    <div class="row">
      <div class="col-12">
        {{ partial "head.amp.html" . }}
        <div class="row">
          <div class="col-12 adblock-container-billboard mt-3 mb-3 p-0">
            {{ partial "adsense/billboard.amp.html" . }}
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            {{ partial "article-list.amp.html" . }}
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            {{ partial "paginator.html" . }}
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <hr class="separator">
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            {{ partial "videoo.amp.html" . }}
          </div>
        </div>
        <div class="row">
          <div class="col-12 adblock-container-billboard mt-3 mb-3 p-0">
            <span id="pageBottom"></span>
            {{ partial "adsense/billboard.amp.html" . }}
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <hr>
          </div>
        </div>
        {{ partial "footer.amp.html" . }}
      </div>
    </div>
  </div>
  {{ partial "html-footer.html" . }}
  {{ partial "html-footer-custom.amp.html" . }}
</body>
</html>
