<div class="media">
<figure>

{{ with .Params.image1 }}![](url=asset:{{ . }},size={{ $.Params.optionsthumb1 }},gallery=true "{{ $.Params.title1 }}"){{ end }}
{{ with .Params.image2 }}![](url=asset:{{ . }},size={{ $.Params.optionsthumb2 }},gallery=true "{{ $.Params.title2 }}"){{ end }}
{{ with .Params.image3 }}![](url=asset:{{ . }},size={{ $.Params.optionsthumb3 }},gallery=true "{{ $.Params.title3 }}"){{ end }}
</figure>
{{- with .Params.caption }}<figcaption>{{ . }} {{ i18n "source" }}: {{ $.Params.source }}</figcaption>{{ end -}}
</div>