{{ $tags := $.Site.Data.theme.conf.tags.amp }}
{{ $iframetagopen := $tags.iframetagopen }}
{{ $iframetagclose := $tags.iframetagclose }}
{{ $iframetagsrc := $tags.iframetagsrc }}

{{ $amazontags := $.Site.Data.affiliates.amazon }}
{{ if eq $amazontags nil }}{{ errorf "Missing affiliates amazon tags info: %s" .Position }}{{ end }}

{{ $ttags := split (default "" .Params.tags) "," }}
{{ $tlinkids := slice }}
{{ $tasins := slice }}

{{ range $ttag := $ttags }}
  {{ if and (ne $ttag nil) (ne $ttag "") }}
    {{ $t := index $amazontags $ttag }}
    {{ if eq $t nil }}{{ errorf "Missing affiliates amazon tag %s info" $ttag }}{{ end }}
    {{ if or (eq (index $t "linkids") "") (eq (index $t "asins") "") }}{{ errorf "Empty amazon tag linkids or asins %s info" $ttag }}{{ end }}

    {{ $tlinkids = $tlinkids | append (split (index $t "linkids") ",") }}
    {{ $tasins = $tasins | append (split (index $t "asins") ",") }}
  {{ end }}
{{ end }}

{{ $linkids := $tlinkids }}
{{ $asins := $tasins }}
{{ if isset .Params "linkids" }}
  {{ $linkids = $linkids | append (split .Params.linkids ",") }}
{{ end }}
{{ if isset .Params "asins" }}
  {{ $asins = $asins | append (split .Params.asins ",") }}
{{ end }}

{{ if or (gt (len $linkids) 0) (gt (len $asins) 0) }}
{{ if ne (len $linkids) (len $asins) }}
  {{ errorf "Invalid number linkids (%d) and asins (%d) (%s, %s): %s" (len $linkids) (len $asins) (delimit $linkids ",") (delimit $asins ",") .Position }}
{{ end }}
<div class="media media-amazon">
  {{- range $index, $linkid  := $linkids -}}
  {{- $asin := index $asins $index }}
  <amp-ad
    width="120"
    height="240"
    type="a9"
    data-amzn_assoc_placement="adunit0"
    data-amzn_assoc_search_bar="true"
    data-amzn_assoc_tracking_id="{{ $.Site.Params.amazon.trackingId }}"
    data-amzn_assoc_ad_mode="manual"
    data-amzn_assoc_ad_type="smart"
    data-amzn_assoc_marketplace="amazon"
    data-amzn_assoc_region="ES"
    data-amzn_assoc_title="{{ i18n "suggested_products" }}"
    data-amzn_assoc_linkid="{{ $linkid }}"
    data-amzn_assoc_asins="{{ $asin }}">
  </amp-ad>
  {{- end }}
</div>
{{ end }}