{{ if or .Params.link1 .Params.link2 .Params.link3 .Params.link4 .Params.link5 .Params.link6 }}
<div class="media-amazon">
  {{ if .Params.link1 }}<iframe style="width:120px;height:240px;" marginwidth="0" marginheight="0" scrolling="no" frameborder="0" data-src="{{ .Params.link1 }}" class="lozad"></iframe>{{ end }}
  {{ if .Params.link2 }}<iframe style="width:120px;height:240px;" marginwidth="0" marginheight="0" scrolling="no" frameborder="0" data-src="{{ .Params.link2 }}" class="lozad"></iframe>{{ end }}
  {{ if .Params.link3 }}<iframe style="width:120px;height:240px;" marginwidth="0" marginheight="0" scrolling="no" frameborder="0" data-src="{{ .Params.link3 }}" class="lozad"></iframe>{{ end }}
  {{ if .Params.link4 }}<iframe style="width:120px;height:240px;" marginwidth="0" marginheight="0" scrolling="no" frameborder="0" data-src="{{ .Params.link4 }}" class="lozad"></iframe>{{ end }}
  {{ if .Params.link5 }}<iframe style="width:120px;height:240px;" marginwidth="0" marginheight="0" scrolling="no" frameborder="0" data-src="{{ .Params.link5 }}" class="lozad"></iframe>{{ end }}
  {{ if .Params.link6 }}<iframe style="width:120px;height:240px;" marginwidth="0" marginheight="0" scrolling="no" frameborder="0" data-src="{{ .Params.link6 }}" class="lozad"></iframe>{{ end }}
  {{ if .Params.link7 }}<iframe style="width:120px;height:240px;" marginwidth="0" marginheight="0" scrolling="no" frameborder="0" data-src="{{ .Params.link7 }}" class="lozad"></iframe>{{ end }}
  {{ if .Params.link8 }}<iframe style="width:120px;height:240px;" marginwidth="0" marginheight="0" scrolling="no" frameborder="0" data-src="{{ .Params.link8 }}" class="lozad"></iframe>{{ end }}
  {{ if .Params.link9 }}<iframe style="width:120px;height:240px;" marginwidth="0" marginheight="0" scrolling="no" frameborder="0" data-src="{{ .Params.link9 }}" class="lozad"></iframe>{{ end }}
  {{ if .Params.link10 }}<iframe style="width:120px;height:240px;" marginwidth="0" marginheight="0" scrolling="no" frameborder="0" data-src="{{ .Params.link10 }}" class="lozad"></iframe>{{ end }}
</div>
{{ end }}