{{ $file := print "code/" .Params.file }}
{{ $resource := .Page.Resources.GetMatch $file }}
{{ $resourceRelPermalink := print .Page.RelPermalink "code/" .Params.file }}
{{ $content := $resource.Content }}
{{ $content := highlight $content .Params.language .Params.options }}
{{ $content := replaceRE "[ ]{4}" "&nbsp;&nbsp;&nbsp;&nbsp;" $content }}
{{ $content := replaceRE "\\n" "&#10;" $content }}

<div class="code">
    {{ $content | safeHTML }}
    <div class="highlight-meta">
        <span>{{ .Params.file }}</span>
    </div>
</div>