{{ $file := print "code/" .Params.file }}
{{ $resource := .Page.Resources.GetMatch $file }}
{{ $content := $resource.Content }}
{{ $content := highlight $content .Params.language .Params.options }}
{{ $content := replaceRE "[ ]{4}" "&nbsp;&nbsp;&nbsp;&nbsp;" $content }}
{{ $content := replaceRE "[\\n]" "&#10;" $content }}

<div class="code">
    {{ $content | safeHTML }}
    <div class="highlight-meta">
        <span class="raw"><a href="{{ $resource.RelPermalink }}" target="_blank">view raw</a></span>
        <a href="{{ $resource.RelPermalink }}" target="_blank">{{ .Params.file }}</a>
    </div>
</div>