<figure>
  {{ if .Params.image1 }}
  <a href="assets/images/posts/{{ .Page.Params.pid }}/{{ .Params.image1 }}" title="{{ .Params.title1 }}" data-gallery><img src="assets/images/posts/{{ .Page.Params.pid }}/{{ .Params.thumb1 }}"{{ if .Params.width1 }} width="{{ .Params.width1 }}"{{ end }}/></a>
  {{ end }}
  {{ if .Params.image2 }}
  <a href="assets/images/posts/{{ .Page.Params.pid }}/{{ .Params.image2 }}" title="{{ .Params.title2 }}" data-gallery><img src="assets/images/posts/{{ .Page.Params.pid }}/{{ .Params.thumb2 }}"{{ if .Params.width2 }} width="{{ .Params.width2 }}"{{ end }}/></a>
  {{ end }}
  <figcaption>{{ .Params.caption }}</figcaption>
</figure>
