{{ if .Params.image1 }}
  {{ $image1 := .Page.Resources.GetMatch (print "images/" .Params.image1) }}
  {{ $imagethumb1 := .Page.Resources.GetMatch (print "images/" .Params.image1) }}
  {{ $command1 := .Params.command1 }}
  {{ $options1 := .Params.options1 }}
  {{ $commandthumb1 := .Params.commandthumb1 }}
  {{ $optionsthumb1 := .Params.optionsthumb1 }}

  {{ if eq $command1 "Fit"}}
    {{ $.Scratch.Set "imagescaled1" ($image1.Fit $options1) }}
  {{ else if eq $command1 "Resize"}}
    {{ $.Scratch.Set "imagescaled1" ($image1.Resize $options1) }}
  {{ else if eq $command1 "Fill"}}
    {{ $.Scratch.Set "imagescaled1" ($image1.Fill $options1) }}
  {{ else }}
    {{ errorf "Invalid image1 processing command: Must be one of Fit, Fill or Resize."}}
  {{ end }}

  {{ if eq $commandthumb1 "Fit" }}
    {{ $.Scratch.Set "imagescaledthumb1" ($imagethumb1.Fit $optionsthumb1) }}
  {{ else if eq $commandthumb1 "Resize" }}
    {{ $.Scratch.Set "imagescaledthumb1" ($imagethumb1.Resize $optionsthumb1) }}
  {{ else if eq $commandthumb1 "Fill" }}
    {{ $.Scratch.Set "imagescaledthumb1" ($imagethumb1.Fill $optionsthumb1) }}
  {{ else }}
    {{ errorf "Invalid imagethumb1 processing command: Must be one of Fit, Fill or Resize."}}
  {{ end }}
{{ end }}

{{ if .Params.image2 }}
  {{ $image2 := .Page.Resources.GetMatch (print "images/" .Params.image2) }}
  {{ $imagethumb2 := .Page.Resources.GetMatch (print "images/" .Params.image2) }}
  {{ $command2 := .Params.command2 }}
  {{ $options2 := .Params.options2 }}
  {{ $commandthumb2 := .Params.commandthumb2 }}
  {{ $optionsthumb2 := .Params.optionsthumb2 }}

  {{ if eq $command2 "Fit"}}
    {{ $.Scratch.Set "imagescaled2" ($image2.Fit $options2) }}
  {{ else if eq $command2 "Resize"}}
    {{ $.Scratch.Set "imagescaled2" ($image2.Resize $options2) }}
  {{ else if eq $command2 "Fill"}}
    {{ $.Scratch.Set "imagescaled2" ($image2.Fill $options2) }}
  {{ else }}
    {{ errorf "Invalid image2 processing command: Must be one of Fit, Fill or Resize."}}
  {{ end }}

  {{ if eq $commandthumb2 "Fit" }}
    {{ $.Scratch.Set "imagescaledthumb2" ($imagethumb2.Fit $optionsthumb2) }}
  {{ else if eq $commandthumb2 "Resize" }}
    {{ $.Scratch.Set "imagescaledthumb2" ($imagethumb2.Resize $optionsthumb2) }}
  {{ else if eq $commandthumb2 "Fill" }}
    {{ $.Scratch.Set "imagescaledthumb2" ($imagethumb2.Fill $optionsthumb2) }}
  {{ else }}
    {{ errorf "Invalid imagethumb2 processing command: Must be one of Fit, Fill or Resize."}}
  {{ end }}
{{ end }}

{{ if .Params.image3 }}
  {{ $image3 := .Page.Resources.GetMatch (print "images/" .Params.image3) }}
  {{ $imagethumb3 := .Page.Resources.GetMatch (print "images/" .Params.image3) }}
  {{ $command3 := .Params.command3 }}
  {{ $options3 := .Params.options3 }}
  {{ $commandthumb3 := .Params.commandthumb3 }}
  {{ $optionsthumb3 := .Params.optionsthumb3 }}

  {{ if eq $command3 "Fit"}}
    {{ $.Scratch.Set "imagescaled3" ($image3.Fit $options3) }}
  {{ else if eq $command3 "Resize"}}
    {{ $.Scratch.Set "imagescaled3" ($image3.Resize $options3) }}
  {{ else if eq $command3 "Fill"}}
    {{ $.Scratch.Set "imagescaled3" ($image3.Fill $options3) }}
  {{ else }}
    {{ errorf "Invalid image3 processing command: Must be one of Fit, Fill or Resize."}}
  {{ end }}

  {{ if eq $commandthumb3 "Fit" }}
    {{ $.Scratch.Set "imagescaledthumb3" ($imagethumb3.Fit $optionsthumb3) }}
  {{ else if eq $commandthumb3 "Resize" }}
    {{ $.Scratch.Set "imagescaledthumb3" ($imagethumb3.Resize $optionsthumb3) }}
  {{ else if eq $commandthumb3 "Fill" }}
    {{ $.Scratch.Set "imagescaledthumb3" ($imagethumb3.Fill $optionsthumb3) }}
  {{ else }}
    {{ errorf "Invalid imagethumb3 processing command: Must be one of Fit, Fill or Resize."}}
  {{ end }}
{{ end }}

{{ $imagescaled1 := $.Scratch.Get "imagescaled1" }}
{{ $imagescaled2 := $.Scratch.Get "imagescaled2" }}
{{ $imagescaled3 := $.Scratch.Get "imagescaled3" }}

{{ $imagescaledthumb1 := $.Scratch.Get "imagescaledthumb1" }}
{{ $imagescaledthumb2 := $.Scratch.Get "imagescaledthumb2" }}
{{ $imagescaledthumb3 := $.Scratch.Get "imagescaledthumb3" }}

{{ if or $imagescaled1 $imagescaled3 $imagescaled3 }}
<figure>
  {{ if $imagescaled1 }}  
  <a href="{{ $imagescaled1.RelPermalink }}" title="{{ .Params.title1 }}" data-gallery><img src="{{ $imagescaledthumb1.RelPermalink }}" width="{{ $imagescaledthumb1.Width }}"/></a>
  {{ end }}
  {{ if $imagescaled2 }}
  <a href="{{ $imagescaled2.RelPermalink }}" title="{{ .Params.title2 }}" data-gallery><img src="{{ $imagescaledthumb2.RelPermalink }}" width="{{ $imagescaledthumb2.Width }}"/></a>
  {{ end }}
  {{ if $imagescaled3 }}
  <a href="{{ $imagescaled3.RelPermalink }}" title="{{ .Params.title3 }}" data-gallery><img src="{{ $imagescaledthumb3.RelPermalink }}" width="{{ $imagescaledthumb3.Width }}"/></a>
  {{ end }}
  <figcaption>{{ .Params.caption }}</figcaption>
</figure>
{{ end }}
