{{ if .Params.image1 }}
  {{ $image1 := .Page.Resources.GetMatch (print "images/" .Params.image1) }}
  {{ $imagethumb1 := .Page.Resources.GetMatch (print "images/" .Params.thumb1) }}
  {{ $.Scratch.Set "image1" $image1 }}
  {{ $.Scratch.Set "imagethumb1" $imagethumb1 }}
{{ end }}

{{ if .Params.image2 }}
  {{ $image2 := .Page.Resources.GetMatch (print "images/" .Params.image2) }}
  {{ $imagethumb2 := .Page.Resources.GetMatch (print "images/" .Params.thumb2) }}
  {{ $.Scratch.Set "image2" $image2 }}
  {{ $.Scratch.Set "imagethumb2" $imagethumb2 }}
{{ end }}

{{ if .Params.image3 }}
  {{ $image3 := .Page.Resources.GetMatch (print "images/" .Params.image3) }}
  {{ $imagethumb3 := .Page.Resources.GetMatch (print "images/" .Params.thumb3) }}
  {{ $.Scratch.Set "image3" $image3 }}
  {{ $.Scratch.Set "imagethumb3" $imagethumb3 }}
{{ end }}

{{ $image1 := $.Scratch.Get "image1" }}
{{ $image2 := $.Scratch.Get "image2" }}
{{ $image3 := $.Scratch.Get "image3" }}

{{ $imagethumb1 := $.Scratch.Get "imagethumb1" }}
{{ $imagethumb2 := $.Scratch.Get "imagethumb2" }}
{{ $imagethumb3 := $.Scratch.Get "imagethumb3" }}

{{ if or $image1 $image2 $image3 }}
<div class="media">
  <figure>
  {{ if $image1 }}<a href="{{ $image1.RelPermalink }}" title="{{ .Params.title1 }}" data-gallery="data-gallery"><img data-src="{{ $imagethumb1.RelPermalink }}" {{ if ne (string $imagethumb1.MediaType) "image/webp" }}width="{{ $imagethumb1.Width }}"{{ end }} class="lozad"/></a>{{ end }}
  {{ if $image2 }}<a href="{{ $image2.RelPermalink }}" title="{{ .Params.title2 }}" data-gallery="data-gallery"><img data-src="{{ $imagethumb2.RelPermalink }}" {{ if ne (string $imagethumb1.MediaType) "image/webp" }}width="{{ $imagethumb1.Width }}"{{ end }} class="lozad"/></a>{{ end }}
  {{ if $image3 }}<a href="{{ $image3.RelPermalink }}" title="{{ .Params.title3 }}" data-gallery="data-gallery"><img data-src="{{ $imagethumb3.RelPermalink }}" {{ if ne (string $imagethumb1.MediaType) "image/webp" }}width="{{ $imagethumb1.Width }}"{{ end }} class="lozad"/></a>{{ end }}
  {{ if .Params.caption }}<figcaption>{{ .Params.caption }}{{ if .Params.source }}. {{ i18n "source" }}: {{ .Params.source }}{{ end }}</figcaption>{{ end }}
  </figure>
</div>
{{ end }}
