{{ $tags := $.Site.Data.theme.conf.tags.html }}
{{ $imgtagopen := $tags.imgtagopen }}
{{ $imgtagclose := $tags.imgtagclose }}
{{ $imgtagsrc := $tags.imgtagsrc }}

{{ $gallery := ne .Params.gallery "false" }}
{{ $options1 := default "2560x1440" .Params.options1 }}
{{ $options2 := default "2560x1440" .Params.options2 }}
{{ $options3 := default "2560x1440" .Params.options3 }}

{{ if .Params.image1 }}
  {{ if (not (findRE "^assets/|\\.svg$|\\.webp$" .Params.image1)) }}
    {{ $image1 := .Page.Resources.GetMatch (print "images/" .Params.image1) }}
    {{ $imagethumb1 := .Page.Resources.GetMatch (print "images/" .Params.image1) }}
    {{ $command1 := default "Fit" .Params.command1 }}
    {{ $commandthumb1 := default "Fit" .Params.commandthumb1 }}
    {{ $optionsthumb1 := .Params.optionsthumb1 }}

    {{ if eq $command1 "Fit"}}
      {{ $.Scratch.Set "imagescaled1" ($image1.Fit $options1) }}
    {{ else if eq $command1 "Resize"}}
      {{ $.Scratch.Set "imagescaled1" ($image1.Resize $options1) }}
    {{ else if eq $command1 "Fill"}}
      {{ $.Scratch.Set "imagescaled1" ($image1.Fill $options1) }}
    {{ else }}
      {{ errorf "Invalid image processing command: Must be one of Fit, Fill or Resize."}}
    {{ end }}

    {{ if eq $commandthumb1 "Fit" }}
      {{ $.Scratch.Set "imagescaledthumb1" ($imagethumb1.Fit $optionsthumb1) }}
    {{ else if eq $commandthumb1 "Resize" }}
      {{ $.Scratch.Set "imagescaledthumb1" ($imagethumb1.Resize $optionsthumb1) }}
    {{ else if eq $commandthumb1 "Fill" }}
      {{ $.Scratch.Set "imagescaledthumb1" ($imagethumb1.Fill $optionsthumb1) }}
    {{ else }}
      {{ errorf "Invalid imagethumb1 processing command: Must be one of Fit, Fill or Resize."}}
    {{ end }}
  {{ else }}
    {{ $image1 := cond (hasPrefix .Params.image1 "assets/") .Params.image1 (print .Page.Params.url "images/" .Params.image1) }}
    {{ $imagethumb1 := cond (hasPrefix .Params.thumb1 "assets/") .Params.thumb1 (print .Page.Params.url "images/" .Params.thumb1) }}
    {{ $imagethumb1 := cond (isset .Params "thumb1") $imagethumb1 $image1 }}
    {{ $.Scratch.Set "image1" $image1 }}
    {{ $.Scratch.Set "imagethumb1" $imagethumb1 }}
  {{ end }}
{{ end }}

{{ if .Params.image2 }}
  {{ if (not (findRE "^assets/|\\.svg$|\\.webp$" .Params.image2)) }}
    {{ $image2 := .Page.Resources.GetMatch (print "images/" .Params.image2) }}
    {{ $imagethumb2 := .Page.Resources.GetMatch (print "images/" .Params.image2) }}
    {{ $command2 := default "Fit" .Params.command2 }}
    {{ $commandthumb2 := default "Fit" .Params.commandthumb2 }}
    {{ $optionsthumb2 := .Params.optionsthumb2 }}

    {{ if eq $command2 "Fit"}}
      {{ $.Scratch.Set "imagescaled2" ($image2.Fit $options2) }}
    {{ else if eq $command2 "Resize"}}
      {{ $.Scratch.Set "imagescaled2" ($image2.Resize $options2) }}
    {{ else if eq $command2 "Fill"}}
      {{ $.Scratch.Set "imagescaled2" ($image2.Fill $options2) }}
    {{ else }}
      {{ errorf "Invalid image processing command: Must be one of Fit, Fill or Resize."}}
    {{ end }}

    {{ if eq $commandthumb2 "Fit" }}
      {{ $.Scratch.Set "imagescaledthumb2" ($imagethumb2.Fit $optionsthumb2) }}
    {{ else if eq $commandthumb2 "Resize" }}
      {{ $.Scratch.Set "imagescaledthumb2" ($imagethumb2.Resize $optionsthumb2) }}
    {{ else if eq $commandthumb2 "Fill" }}
      {{ $.Scratch.Set "imagescaledthumb2" ($imagethumb2.Fill $optionsthumb2) }}
    {{ else }}
      {{ errorf "Invalid imagethumb2 processing command: Must be one of Fit, Fill or Resize."}}
    {{ end }}
  {{ else }}
    {{ $image2 := cond (hasPrefix .Params.image2 "assets/") .Params.image2 (print .Page.Params.url "images/" .Params.image2) }}
    {{ $imagethumb2 := cond (hasPrefix .Params.thumb2 "assets/") .Params.thumb2 (print .Page.Params.url "images/" .Params.thumb2) }}
    {{ $imagethumb2 := cond (isset .Params "thumb2") $imagethumb2 $image2 }}
    {{ $.Scratch.Set "image2" $image2 }}
    {{ $.Scratch.Set "imagethumb2" $imagethumb2 }}
  {{ end }}
{{ end }}

{{ if .Params.image3 }}
  {{ if (not (findRE "^assets/|\\.svg$|\\.webp$" .Params.image3)) }}
    {{ $image3 := .Page.Resources.GetMatch (print "images/" .Params.image3) }}
    {{ $imagethumb3 := .Page.Resources.GetMatch (print "images/" .Params.image3) }}
    {{ $command3 := default "Fit" .Params.command3 }}
    {{ $commandthumb3 := default "Fit" .Params.commandthumb3 }}
    {{ $optionsthumb3 := .Params.optionsthumb3 }}

    {{ if eq $command3 "Fit"}}
      {{ $.Scratch.Set "imagescaled3" ($image3.Fit $options3) }}
    {{ else if eq $command3 "Resize"}}
      {{ $.Scratch.Set "imagescaled3" ($image3.Resize $options3) }}
    {{ else if eq $command3 "Fill"}}
      {{ $.Scratch.Set "imagescaled3" ($image3.Fill $options3) }}
    {{ else }}
      {{ errorf "Invalid image processing command: Must be one of Fit, Fill or Resize."}}
    {{ end }}

    {{ if eq $commandthumb3 "Fit" }}
      {{ $.Scratch.Set "imagescaledthumb3" ($imagethumb3.Fit $optionsthumb3) }}
    {{ else if eq $commandthumb3 "Resize" }}
      {{ $.Scratch.Set "imagescaledthumb3" ($imagethumb3.Resize $optionsthumb3) }}
    {{ else if eq $commandthumb3 "Fill" }}
      {{ $.Scratch.Set "imagescaledthumb3" ($imagethumb3.Fill $optionsthumb3) }}
    {{ else }}
      {{ errorf "Invalid imagethumb3 processing command: Must be one of Fit, Fill or Resize."}}
    {{ end }}
  {{ else }}
    {{ $image3 := cond (hasPrefix .Params.image3 "assets/") .Params.image3 (print .Page.Params.url "images/" .Params.image3) }}
    {{ $imagethumb3 := cond (hasPrefix .Params.thumb3 "assets/") .Params.thumb3 (print .Page.Params.url "images/" .Params.thumb3) }}
    {{ $imagethumb3 := cond (isset .Params "thumb3") $imagethumb3 $image3 }}
    {{ $.Scratch.Set "image3" $image3 }}
    {{ $.Scratch.Set "imagethumb3" $imagethumb3 }}
  {{ end }}
{{ end }}

{{ $imagescaled1 := $.Scratch.Get "imagescaled1" }}
{{ $imagescaled2 := $.Scratch.Get "imagescaled2" }}
{{ $imagescaled3 := $.Scratch.Get "imagescaled3" }}

{{ $imagescaledthumb1 := $.Scratch.Get "imagescaledthumb1" }}
{{ $imagescaledthumb2 := $.Scratch.Get "imagescaledthumb2" }}
{{ $imagescaledthumb3 := $.Scratch.Get "imagescaledthumb3" }}

{{ $image1 := $.Scratch.Get "image1" }}
{{ $image2 := $.Scratch.Get "image2" }}
{{ $image3 := $.Scratch.Get "image3" }}

{{ $imagethumb1 := $.Scratch.Get "imagethumb1" }}
{{ $imagethumb2 := $.Scratch.Get "imagethumb2" }}
{{ $imagethumb3 := $.Scratch.Get "imagethumb3" }}

{{ if or $imagescaled1 $imagescaled3 $imagescaled3 $image1 $image2 $image3 }}
<div class="media">
{{- if .Params.caption -}}<figure>{{- end }}
{{ if or $imagescaled1 $image1 -}}
{{- if $gallery -}}
  <a href="{{ $imagescaled1.RelPermalink }}" title="{{ .Params.title1 }}" data-gallery="data-gallery">
{{- end -}}
{{- if $imagescaled1 -}}
  {{- $imgtagopen | safeHTML }} {{ $imgtagsrc }}="{{ $imagescaledthumb1.RelPermalink }}" width="{{ $imagescaledthumb1.Width }}" height="{{ $imagescaledthumb1.Height }}" class="lozad {{ .Params.class1 }}" alt="{{ .Params.title1 }}" title="{{ .Params.title1 }}">{{ $imgtagclose | safeHTML }}
{{- else if $image1 -}}
  {{ $imgtagopen | safeHTML }} {{ $imgtagsrc }}="{{ $imagethumb1 | relURL }}"{{ with index (findRE "^\\d+" .Params.optionsthumb1) 0}} width="{{ . }}"{{ end }}{{ with index (findRE "\\d+$" .Params.optionsthumb1) 0 }} height="{{ . }}"{{ end }} class="lozad {{ .Params.class1 }}" alt="{{ .Params.title1 }}" title="{{ .Params.title1 }}">{{ $imgtagclose | safeHTML }}
{{- end -}}
{{- if $gallery -}}
  </a>
{{- end -}}
{{- end }}
{{ if or $imagescaled2 $image2 -}}
{{- if $gallery -}}
  <a href="{{ $imagescaled2.RelPermalink }}" title="{{ .Params.title2 }}" data-gallery="data-gallery">
{{- end -}}
{{- if $imagescaled2 -}}
  {{- $imgtagopen | safeHTML }} {{ $imgtagsrc }}="{{ $imagescaledthumb2.RelPermalink }}" width="{{ $imagescaledthumb2.Width }}" height="{{ $imagescaledthumb2.Height }}" class="lozad {{ .Params.class2 }}" alt="{{ .Params.title2 }}" title="{{ .Params.title2 }}">{{ $imgtagclose | safeHTML }}
{{- else if $image2 -}}
  {{ $imgtagopen | safeHTML }} {{ $imgtagsrc }}="{{ $imagethumb2 | relURL }}"{{ with index (findRE "^\\d+" .Params.optionsthumb2) 0}} width="{{ . }}"{{ end }}{{ with index (findRE "\\d+$" .Params.optionsthumb2) 0 }} height="{{ . }}"{{ end }} class="lozad {{ .Params.class2 }}" alt="{{ .Params.title2 }}" title="{{ .Params.title2 }}">{{ $imgtagclose | safeHTML }}
{{- end -}}
{{- if $gallery -}}
  </a>
{{- end -}}
{{- end }}
{{ if or $imagescaled3 $image3 -}}
{{- if $gallery -}}
  <a href="{{ $imagescaled3.RelPermalink }}" title="{{ .Params.title3 }}" data-gallery="data-gallery">
{{- end -}}
{{- if $imagescaled3 -}}
  {{ $imgtagopen | safeHTML }} {{ $imgtagsrc }}="{{ $imagescaledthumb3.RelPermalink }}" width="{{ $imagescaledthumb3.Width }}" height="{{ $imagescaledthumb3.Height }}" class="lozad {{ .Params.class3 }}" alt="{{ .Params.title3 }}" title="{{ .Params.title3 }}">{{ $imgtagclose | safeHTML }}
{{- else if $image3 -}}
  {{ $imgtagopen | safeHTML }} {{ $imgtagsrc }}="{{ $imagethumb3 | relURL }}"{{ with index (findRE "^\\d+" .Params.optionsthumb3) 0}} width="{{ . }}"{{ end }}{{ with index (findRE "\\d+$" .Params.optionsthumb3) 0 }} height="{{ . }}"{{ end }} class="lozad {{ .Params.class3 }}" alt="{{ .Params.title3 }}" title="{{ .Params.title3 }}">{{ $imgtagclose | safeHTML }}
{{- end -}}
{{- if $gallery -}}
  </a>
{{- end -}}
{{- end -}}
{{- if .Params.caption -}}<figcaption>{{ .Params.caption }}{{ if .Params.source }}<br/><small>{{ i18n "source" }}: {{ .Params.source }}</small>{{ end }}</figcaption>{{- end -}}
{{- if .Params.caption -}}</figure>{{- end -}}
</div>
{{ end }}