<div class="media">
<figure>

{{ with .Params.image1 }}![](url={{ . }},size={{ $.Params.optionsthumb1 }},gallery=true "{{ $.Params.title1 }}"){{ end }}
{{ with .Params.image2 }}![](url={{ . }},size={{ $.Params.optionsthumb2 }},gallery=true "{{ $.Params.title2 }}"){{ end }}
{{ with .Params.image3 }}![](url={{ . }},size={{ $.Params.optionsthumb3 }},gallery=true "{{ $.Params.title3 }}"){{ end }}
{{ with .Params.caption }}<figcaption>{{ . }}{{ with $.Params.source }} {{ i18n "source" }}: {{ . }}{{ end -}}</figcaption>{{ end }}
</figure>
</div>