{{ if .Params.image }}
<div class="logotypes" style="float: right;">
    <img src="assets/images/logotipos/{{ .Params.image }}" class="right"{{ if .Params.width }} widtH="{{ .Params.width }}"{{ end }} alt="{{ .Params.title }}" title="{{ .Params.title }}"/>
</div>
{{ end }}
{{ if .Params.image1 }}
<div class="logotypes" style="float: right;">
    <img src="assets/images/logotipos/{{ .Params.image1 }}" class="right"{{ if .Params.width1 }} width="{{ .Params.width1 }}"{{ end }} alt="{{ .Params.title1 }}" title="{{ .Params.title1 }}"/>
</div>
{{ end }}
{{ if .Params.image2 }}
<div class="logotypes" style="float: right; clear: right;">
    <img src="assets/images/logotipos/{{ .Params.image2 }}" class="right"{{ if .Params.width2 }} width="{{ .Params.width2 }}"{{ end }} alt="{{ .Params.title2 }}" title="{{ .Params.title2 }}"/>
</div>
{{ end }}
{{ if .Params.image3 }}
<div class="logotypes" style="float: right; clear: right;">
    <img src="assets/images/logotipos/{{ .Params.image3 }}" class="right"{{ if .Params.width3 }} width="{{ .Params.width3 }}"{{ end }} alt="{{ .Params.title3 }}" title="{{ .Params.title3 }}"/>
</div>
{{ end }}
