{{ $tags := $.Site.Data.theme.conf.tags.html }}
{{ $imgtag := $tags.imgtag }}
{{ $imgtagopen := $tags.imgtagopen }}
{{ $imgtagclose := $tags.imgtagclose }}
{{ $imgtagsrc := $tags.imgtagsrc }}

{{ $logtypesinfo := $.Site.Data.logotypes.images }}
{{ if eq $logtypesinfo nil }}{{ errorf "Missing logotypes info: %s" .Position }}{{ end }}
{{ $defaultdict := (dict "" nil) }}

{{ $image := .Params.image }}
{{ $image1 := .Params.image1 }}
{{ $image2 := .Params.image2 }}
{{ $image3 := .Params.image3 }}
{{ $image4 := .Params.image4 }}
{{ $info := index (default $defaultdict $logtypesinfo) (default "" $image) }}
{{ $info1 := index (default $defaultdict $logtypesinfo) (default "" $image1) }}
{{ $info2 := index (default $defaultdict $logtypesinfo) (default "" $image2) }}
{{ $info3 := index (default $defaultdict $logtypesinfo) (default "" $image3) }}
{{ $info4 := index (default $defaultdict $logtypesinfo) (default "" $image4) }}
{{ $proportion := index (default $defaultdict $info) "proportion" }}
{{ $proportion1 := index (default $defaultdict $info1) "proportion" }}
{{ $proportion2 := index (default $defaultdict $info2) "proportion" }}
{{ $proportion3 := index (default $defaultdict $info3) "proportion" }}
{{ $proportion4 := index (default $defaultdict $info4) "proportion" }}
{{ $defaultwidth := index (default $defaultdict $info) "defaultwidth" }}
{{ $defaultwidth1 := index (default $defaultdict $info1) "defaultwidth" }}
{{ $defaultwidth2 := index (default $defaultdict $info2) "defaultwidth" }}
{{ $defaultwidth3 := index (default $defaultdict $info3) "defaultwidth" }}
{{ $defaultwidth4 := index (default $defaultdict $info4) "defaultwidth" }}
{{ $defaulttitle := index (default $defaultdict $info) "defaulttitle" }}
{{ $defaulttitle1 := index (default $defaultdict $info1) "defaulttitle" }}
{{ $defaulttitle2 := index (default $defaultdict $info2) "defaulttitle" }}
{{ $defaulttitle3 := index (default $defaultdict $info3) "defaulttitle" }}
{{ $defaulttitle4 := index (default $defaultdict $info4) "defaulttitle" }}

{{ $title := cond (isset .Params "title") .Params.title $defaulttitle }}
{{ $title1 := cond (isset .Params "title1") .Params.title1 $defaulttitle1 }}
{{ $title2 := cond (isset .Params "title2") .Params.title2 $defaulttitle2 }}
{{ $title3 := cond (isset .Params "title3") .Params.title3 $defaulttitle3 }}
{{ $title4 := cond (isset .Params "title4") .Params.title4 $defaulttitle4 }}

{{ $imagewidth := default $defaultwidth .Params.width }}
{{ $imagewidth1 := default $defaultwidth1 .Params.width1 }}
{{ $imagewidth2 := default $defaultwidth2 .Params.width2 }}
{{ $imagewidth3 := default $defaultwidth3 .Params.width3 }}
{{ $imagewidth4 := default $defaultwidth4 .Params.width4 }}
{{ $imageheight := "" }}
{{ $imageheight1 := "" }}
{{ $imageheight2 := "" }}
{{ $imageheight3 := "" }}
{{ $imageheight4 := "" }}
{{ if (ne $image nil) }}
    {{ $imageheight = int (div (int $imagewidth) (float $proportion)) }}
{{ end }}
{{ if (ne $image1 nil) }}
    {{ $imageheight1 = int (div (int $imagewidth1) (float $proportion1)) }}
{{ end }}
{{ if (ne $image2 nil) }}
    {{ $imageheight2 = int (div (int $imagewidth2) (float $proportion2)) }}
{{ end }}
{{ if (ne $image3 nil) }}
    {{ $imageheight3 = int (div (int $imagewidth3) (float $proportion3)) }}
{{ end }}
{{ if (ne $image4 nil) }}
    {{ $imageheight4 = int (div (int $imagewidth4) (float $proportion4)) }}
{{ end }}

{{ $width := $imagewidth }}
{{ $width1 := $imagewidth1 }}
{{ $width2 := $imagewidth2 }}
{{ $width3 := $imagewidth3 }}
{{ $width4 := $imagewidth4 }}
{{ $height := $imageheight }}
{{ $height1 := $imageheight1 }}
{{ $height2 := $imageheight2 }}
{{ $height3 := $imageheight3 }}
{{ $height4 := $imageheight4 }}
{{ $style := "" }}
{{ $style1 := "" }}
{{ $style2 := "" }}
{{ $style3 := "" }}
{{ $style4 := "" }}
{{ $layout := "" }}
{{ $layout1 := "" }}
{{ $layout2 := "" }}
{{ $layout3 := "" }}
{{ $layout4 := "" }}

{{ if and $image (eq $proportion nil) }}{{ errorf "Missing image proportion '%s': %s" $image .Position }}{{ end }}
{{ if and $image1 (eq $proportion1 nil) }}{{ errorf "Missing image proportion '%s': %s" $image1 .Position }}{{ end }}
{{ if and $image2 (eq $proportion2 nil) }}{{ errorf "Missing image proportion '%s': %s" $image2 .Position }}{{ end }}
{{ if and $image3 (eq $proportion3 nil) }}{{ errorf "Missing image proportion '%s': %s" $image3 .Position }}{{ end }}
{{ if and $image4 (eq $proportion4 nil) }}{{ errorf "Missing image proportion '%s': %s" $image4 .Position }}{{ end }}
{{ if and $image (eq $width nil) }}{{ errorf "Missing defaultwidth or width '%s': %s" $image .Position }}{{ end }}
{{ if and $image1 (eq $width1 nil) }}{{ errorf "Missing defaultwidth or width '%s': %s" $image1 .Position }}{{ end }}
{{ if and $image2 (eq $width2 nil) }}{{ errorf "Missing defaultwidth or width '%s': %s" $image2 .Position }}{{ end }}
{{ if and $image3 (eq $width3 nil) }}{{ errorf "Missing defaultwidth or width '%s': %s" $image3 .Position }}{{ end }}
{{ if and $image4 (eq $width4 nil) }}{{ errorf "Missing defaultwidth or width '%s': %s" $image4 .Position }}{{ end }}
{{ if and $image (eq $title nil) }}{{ errorf "Missing image defaulttitle or title '%s': %s" $image .Position }}{{ end }}
{{ if and $image1 (eq $title1 nil) }}{{ errorf "Missing image defaulttitle or title '%s': %s" $image1 .Position }}{{ end }}
{{ if and $image2 (eq $title2 nil) }}{{ errorf "Missing image defaulttitle or title '%s': %s" $image2 .Position }}{{ end }}
{{ if and $image3 (eq $title3 nil) }}{{ errorf "Missing image defaulttitle or title '%s': %s" $image3 .Position }}{{ end }}
{{ if and $image4 (eq $title4 nil) }}{{ errorf "Missing image defaulttitle or title '%s': %s" $image4 .Position }}{{ end }}

{{ with $image }}
<div class="logotypes"{{ $style | safeHTMLAttr }}> 

![](url=logotype:{{ . }},size={{ $width }}x{{ $height }},gallery=false,layout={{ $layout }},lazy=false "{{ $title }}")
</div>
{{ end }}
{{ with $image1 }}
<div class="logotypes"{{ $style1 | safeHTMLAttr }}>

![](url=logotype:{{ . }},size={{ $width1 }}x{{ $height1 }},gallery=false,layout={{ $layout1 }},lazy=false "{{ $title1 }}")
</div>
{{ end }}
{{ with $image2 }}
<div class="logotypes"{{ $style2 | safeHTMLAttr }}>

![](url=logotype:{{ . }},size={{ $width2 }}x{{ $height2 }},gallery=false,layout={{ $layout2 }},lazy=false "{{ $title2 }}")
</div>
{{ end }}
{{ with $image3 }}
<div class="logotypes"{{ $style3 | safeHTMLAttr }}>

![](url=logotype:{{ . }},size={{ $width3 }}x{{ $height3 }},gallery=false,layout={{ $layout3 }},lazy=false "{{ $title3 }}")
</div>
{{ end }}
{{ with $image4 }}
<div class="logotypes"{{ $style4 | safeHTMLAttr }}>

![](url=logotype:{{ . }},size={{ $width4 }}x{{ $height4 }},gallery=false,layout={{ $layout4 }},lazy=false "{{ $title4 }}")
</div>
{{ end }}