{{- $base := replace .Page.Permalink "/index-amp.html" "/" -}}
<div class="media">
<figure>

<amp-video controls width="640" height="360" layout="fixed" poster="images/{{ .Params.poster }}">
  <source src="videos/{{ .Params.video }}" type="video/mp4" />
  {{ with .Params.subtitles }}<track label="{{ $.Params.subtitlesLabel }}" kind="subtitles" srclang="{{ $.Params.subtitlesLang }}" src="{{ print $base $.Params.subtitles }}">{{ end }}
</amp-video>
{{ with .Params.caption }}<figcaption>{{ . }}{{ with $.Params.source }} <br>{{ i18n "source" }}: {{ . }}{{ end }}</figcaption>{{ end }}
</figure>
</div>