
<div class="media media-amazon">
  <ul>
    {{ if and (isset .Params "linkids") (isset .Params "asins") }}
      {{- $linkids := split .Params.linkids "," -}}
      {{- $asins := split .Params.asins "," -}}
      {{- $titles := split .Params.titles "," -}}
      {{- if ne (len $linkids) (len $asins) -}}
        {{- errorf "Invalid number linkids (%d), asins (%d) and titles (%d) (%s, %s, %s): %s" (len $linkids) (len $asins) (len $titles) (delimit $linkids ",") (delimit $asins ",") (delimit $titles ",") .Position -}}
      {{- end -}}
      {{- range $index, $linkid := $linkids -}}
        {{- $asin := index $asins $index -}}
        {{- $title := index $titles $index -}}
        <li><a href="{{ $linkid }}" title="{{ $title }}">{{ $title }}</a></li>
      {{- end -}}
    {{- end -}}
    {{- if and (isset .Params "tags") -}}
      {{- $tags := split .Params.tags "," -}}
      {{- range $index, $tag := $tags -}}
          {{- $products := index (index $.Site.Data.affiliates.amazon "tags") $tag -}}
          {{- if eq $products nil }}{{ errorf "Missing affiliates amazon tag %s information" $tag }}{{ end -}}

          {{- $links := split $products.links "," -}}
          {{- $asins := split $products.asins "," -}}
          {{- $titles := split $products.titles "," -}}

          {{- if ne (len $links) (len $asins) -}}
            {{- warnf "Invalid tag (%s) number links (%d) and asins (%d) (%s, %s)" $tag (len $links) (len $asins) (delimit $links ",") (delimit $asins ",") -}}
          {{- end -}}
          {{- if ne (len $links) (len $titles) -}}
            {{- warnf "Invalid tag (%s) number links (%d) and titles (%d) (%s, %s)" $tag (len $links) (len $titles) (delimit $links ",") (delimit $titles ",") -}}
          {{- end -}}

          {{- range $index, $link := $links -}}
            {{- $title := index $titles $index -}}
            <li><a href="{{ $link }}" title="{{ $title }}">{{ $title }}</a></li>
          {{- end -}}
      {{- end -}}
    {{- end -}}
  </ul>
</div>

