html {
  font-size: 16px;
}
body {
  color: #222;
  font-family: 'PT Serif', 'Times New Roman', Times, serif;
  font-display: auto;
  font-size: 1.2em;
  font-weight: 400;
  margin-bottom: 50px;
}
::-moz-selection {
  background-color: #61b135;
  color: white;
}
::selection {
  background-color: #61b135;
  color: white;
}
a {
  color: #569d2f;
}
a:visited {
  color: #7aca4e;
}
a:hover {
  color: #4b8929;
}
a:active {
  color: #569d2f;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 20px;
  margin-bottom: 10px;
  font-weight: 700;
  clear: both;
}
hr {
  border-top: 3px dotted #ccc;
  width: 60%;
}
hr.separator {
  border-top: 0px dotted #ccc;
}
abbr[title] {
  border-bottom: 1px dotted;
}
ul.recents {
  font-size: 0.9em;
}
ul.recents hr {
  margin-top: 10px;
  margin-bottom: 10px;
  border-top: 1px dotted #ccc;
}
ul.tags {
  columns: 5 8em;
  column-gap: 1em;
}
ul.library {
  columns: 4 12em;
  column-gap: 1em;
}
div.container {
  background-color: white;
  border-left: 1px solid #F8F8F8;
  border-right: 1px solid #F8F8F8;
  padding: 0em 1em;
}
header {
  text-align: center;
  margin-bottom: 10px;
}
header h2 {
  font-size: 2.6em;
  font-weight: 700;
}
header h2 a {
  color: #222 !important;
}
header h2 a:hover {
  color: #222;
}
header h2 a:active {
  color: #222;
}
header nav {
  font-weight: 700;
  margin-top: 10px;
}
header nav.nav-pills a:hover {
  background-color: #e2f3d8;
}
header nav.nav-pills a.active,
header nav.nav-pills a.active:hover {
  background-color: #569d2f;
  color: white;
}
header form.search {
  margin-top: 20px;
  display: inline-block;
}
article h1 {
  font-size: 2.6em;
}
@media (max-width: 576px) {
  article h1 {
    font-size: 1.8em;
  }
}
article p.information,
article span.information {
  font-size: 0.9em;
}
article p.summary {
  font-weight: 700;
}
article table {
  margin-bottom: 20px;
}
article blockquote {
  padding: 0 1em;
  color: #6a737d;
  border-left: 0.25em solid #dfe2e5;
}
article div.logotypes {
  margin-left: 1.5em;
  text-align: right;
  clear: right;
}
@media (max-width: 576px) {
  article div.logotypes {
    width: 125px;
  }
}
article div.logotypes img {
  background-color: white;
  border: 0.5em solid white;
  border-radius: 0.3em;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.15);
  box-sizing: border-box;
  margin-bottom: 1em;
}
@media (max-width: 576px) {
  article div.logotypes img {
    width: 125px;
  }
}
article div.code {
  border: 1px solid #ddd;
  border-radius: 3px;
  margin-bottom: 1em;
}
article div.code div.highlight {
  font-size: 0.8em;
  border-bottom: 1px solid #ddd;
}
article div.code div.highlight table {
  overflow: auto;
}
article div.code div.highlight-meta {
  font-size: 0.8em;
  background-color: #f7f7f7;
  padding: 6px;
}
article div.code div.highlight-meta span.raw {
  float: right;
}
article div.code div.highlight-meta a {
  color: #666;
  font-weight: 600;
  text-decoration: none;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
  font-size: 0.8em;
}
article div.media {
  display: block;
  text-align: center;
}
article div.media iframe[id^="asciicast-iframe"] {
  border: 0em solid white;
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.15);
}
article div.media img,
article div.media iframe {
  background-color: white;
  border: 0.5em solid white;
  border-radius: 0.3em;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.15);
  box-sizing: border-box;
  margin-bottom: 1em;
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}
article div.media figure {
  margin-bottom: 1em;
}
article div.media figure figcaption {
  font-size: 0.8em;
}
article div.media figure img {
  margin-bottom: 0em;
}
article div.media-amazon {
  text-align: center;
}
article div.media-amazon.float-right {
  margin-left: 20px;
}
article div.media-twitter {
  text-align: left;
}
article div.buttons {
  text-align: center;
  margin-bottom: 20px;
}
article div.buttons a.btn {
  color: white;
}
article div.alert h1,
article div.alert h2,
article div.alert h3,
article div.alert h4,
article div.alert h5,
article div.alert h6 {
  clear: none;
}
article div.alert p {
  margin-bottom: 0em;
}
article div.reference {
  font-size: 0.9em;
}
article div.blueimp-gallery-container {
  position: absolute;
}
article div.blueimp-gallery div.modal {
  overflow: hidden;
}
div.page-header {
  min-height: 300px;
  max-height: 300px;
  margin-bottom: 20px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
div.page-header img {
  min-width: 100%;
  max-width: 100%;
}
div.sharethis-inline-share-buttons {
  margin-top: 1em;
  margin-bottom: 1em;
}
div.serie,
div.related {
  font-size: 0.9em;
}
div.serie h3,
div.related h3 {
  font-size: 1em;
  font-weight: normal;
}
footer {
  font-size: 0.8em;
  padding-top: 10px;
  padding-bottom: 30px;
}
footer span.copyleft {
  transform: rotate(180deg);
  display: inline-block;
}
div.banner {
  margin-bottom: 10px;
}
div.featured {
  background-color: white;
  text-align: center;
  font-size: 0.9em;
  font-weight: 700;
  margin-bottom: 10px;
  width: 150px;
  border-radius: 0.3em;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.15);
  -moz-box-sizing: border-box;
  border: 0.3em solid #ffffff;
}
div.featured img {
  width: 100%;
}
div.featured a {
  color: #222;
}
div.links img.icon {
  width: 50px;
}
div.adblock {
  background-color: lightgrey;
  border: 1px solid gray;
  font-size: 0.9em;
  padding: 15px;
}
.cc_container ::-moz-selection {
  background-color: #61b135 !important;
  color: white;
}
.cc_container ::selection {
  background-color: #61b135 !important;
  color: white;
}
.cc_container .cc_btn,
.cc_container .cc_btn:visited {
  color: white !important;
  background-color: #61b135 !important;
}
