@background: white;
@color: #222;
@link: rgb(86, 157, 47);
@border: #F8F8F8;

body {
  color: @color;
  font-family: 'PT Serif', "Times New Roman", Times, serif;
  font-size: 1.2em;
  font-weight: 400;
  margin-bottom: 50px;
}

::-moz-selection {
  background-color: lighten(@link, 5);
  color: white;
}

::selection {
  background-color: lighten(@link, 5);
  color: white;
}

a {
  color: @link;
}

a:visited {
  color: lighten(@link, 15);
}

a:hover {
  color: darken(@link, 5);
}

a:active {
  color: @link;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 20px;
  margin-bottom: 10px;
  font-weight: 700;
  clear: both;
}

hr {
  border-top: 3px dotted #ccc;
  width: 60%;

  &.separator {
    border-top: 0px dotted #ccc;
  }
}

abbr[title] {
  border-bottom: 1px dotted;
}

ul.recents {
  font-size: 0.9em;

  hr {
    margin-top: 10px;
    margin-bottom: 10px;
    border-top: 1px dotted #ccc;
  }
}

ul.tags li {
  display: inline;
}

div.container {
  background-color: @background;
  border-left: 1px solid @border;
  border-right: 1px solid @border;
  padding: 0em 1em;
}

header {
  text-align: center;
  margin-bottom: 10px;

  h2 {
    font-size: 2.6em;
    font-weight: 700;

    a {
      color: @color !important;
    }

    a:hover {
      color: @color;
    }

    a:active {
      color: @color;
    }
  }

  nav {
    font-weight: 700;
    margin-top: 10px;
  }

  nav.nav-pills a:hover {
    background-color: lighten(@link, 50);
  }

  nav.nav-pills a.active, nav.nav-pills a.active:hover {
    background-color: @link;
    color: @background;
  }

  form.search {
    margin-top: 20px;
    display: inline-block;
  }
}

article {
  h1 {
    font-size: 2.6em;
  }

  p.information, span.information {
    font-size: 0.9em;
  }

  p.summary {
    font-weight: 700;
  }

  div.content {
  }

  table {
    margin-bottom: 20px;
  }

  img.header {
    width: 100%;
  }

  div.logotypes {
    margin-left: 1.5em;
    text-align: right;
    clear: right;

    img {
      background-color: white;
      border: 0.5em solid @background;
      border-radius: 0.3em;
      box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.15);
      box-sizing: border-box;
      margin-bottom: 1em;
    }
  }

  div.media {
    display: block;
    text-align: center;

    iframe[id^="asciicast-iframe"] {
      border: 0em solid white;
      box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.15);
    }

    img, iframe {
      background-color: white;
      border: 0.5em solid white;
      border-radius: 0.3em;
      box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.15);
      box-sizing: border-box;
      margin-bottom: 1em;
      max-width: 100%;
    }

    figure {
      margin-bottom: 1em;

      figcaption {
        font-size: 0.8em;
      }

      img {
        margin-bottom: 0em;
      }
    }
  }

  div.media-amazon {
    text-align: center;
  }

  div.media-amazon.float-right {
    margin-left: 20px;
  }

  div.media-twitter {
    text-align: left;
  }

  div.buttons {
    text-align: center;
    margin-bottom: 20px;

    a.btn {
      color: white;
    }
  }

  div.reference {
    font-size: 0.9em;
  }

  div.blueimp-gallery-container {
    position: absolute;
  }

  div.blueimp-gallery div.modal {
    overflow: hidden;
  }
}

div.sharethis-inline-share-buttons {
  margin-top: 1em;
  margin-bottom: 1em;
}

div.serie {
  font-size: 0.9em;
}

footer {
  font-size: 0.8em;
  padding-top: 10px;
  padding-bottom: 30px;

  span.copyleft {
    transform: rotate(180deg);
    display: inline-block;
  }
}

@media (min-width: 992px) {
  span.adsense-xs {
    display: none;
  }
}

@media (max-width: 991px) {
  span.adsense-md {
    display: none;
  }
}

div.banner {
  margin-bottom: 10px;
}

div.featured {
  background-color: white;
  text-align: center;
  font-size: 0.9em;
  font-weight: 700;
  margin-bottom: 10px;
  width: 150px;

  border-radius: 0.3em;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.15);
  -moz-box-sizing: border-box;
  border: 0.3em solid rgb(255, 255, 255);

  img {
    width: 100%;
  }

  a {
    color: @color;
  }
}

div.links {
  img.icon {
    width: 50px;
  }
}

div.adblock {
  background-color: lightgrey;
  border: 1px solid gray;
  font-size: 0.9em;
  padding: 15px;
}

// Cookie Consent
.cc_container ::-moz-selection {
  background-color: lighten(@link, 5) !important;
  color: white;
}

.cc_container ::selection {
  background-color: lighten(@link, 5) !important;
  color: white;
}

.cc_container .cc_btn, .cc_container .cc_btn:visited {
  color: white !important;
  background-color: lighten(@link, 5) !important;
}
