<div class="adsense adsense-leaderboard">
    <amp-ad
        media="(max-width: 374px)"
        width="375"
        height="280"
        layout="responsive"
        type="adsense"
        data-ad-client="{{ .Site.Params.adsense.adclient }}"
        data-ad-slot="{{ .Site.Params.adsense.adslot.autoleaderboard }}"
        data-auto-format="auto"
        data-full-width="">
        <div overflow=""></div>
    </amp-ad>
    <amp-ad
        media="(min-width: 375px) and (max-width: 769px)"
        width="336"
        height="280"
        layout="fixed"
        type="adsense"
        data-ad-client="{{ .Site.Params.adsense.adclient }}"
        data-ad-slot="{{ .Site.Params.adsense.adslot.autoleaderboard }}"
        data-auto-format="auto"
        data-full-width="">
        <div overflow=""></div>
    </amp-ad>
    <amp-ad
        media="(min-width: 770px)"
        width="728"
        height="90"
        layout="fixed"
        type="adsense"
        data-ad-client="{{ .Site.Params.adsense.adclient }}"
        data-ad-slot="{{ .Site.Params.adsense.adslot.autoleaderboard }}"
        data-auto-format="auto"
        data-full-width="">
        <div overflow=""></div>
    </amp-ad>
</div>