@keyframes animation {
    0%   {background-color: red; left: 0px; top: 0px;}
    25%  {background-color: yellow; left: 200px; top: 0px;}
    50%  {background-color: blue; left: 200px; top: 200px;}
    75%  {background-color: green; left: 0px; top: 200px;}
    100% {background-color: red; left: 0px; top: 0px;}
}

@keyframes transform {
    from { transform: rotate(0deg) }
    to { transform: rotate(360deg) }
}

div.box-animation {
    width: 100px;
    height: 100px;
    background-color: red;
    position: relative;

    animation-name: animation;
    animation-duration: 5s;
    animation-timing-function: linear;
    animation-delay: 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

img.image {
    height: 250px;
    background-color: green;
}

img.image-transform {
    transform: skewY(25deg);
}

div.box-transform {
    width: 100px;
    height: 100px;
    background-color: black;
}

div.box-transform:hover {
    animation-name: transform;
    animation-duration: 3s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
}