<div class="row text-center">
  <div class="col-md-12">
    <ul class="list-inline">
      <li>
        <div class="featured">
          <img src="assets/images/custom/fijo-tapestry.png">
          <a href="http://elblogdepicodev.blogspot.com.es/2010/05/documentacion-sobre-apache-tapestry.html">Documentación<br/> y artículos</a>
        </div>
      </li>
      <li>
        <div class="featured">
          <img src="assets/images/custom/fijo-tapestry.png">
          <a href="http://goo.gl/Vx8icI">Libro<br/> PlugIn Tapestry</a>
        </div>
      </li>
      <li>
        <div class="featured">
          <img src="assets/images/custom/fijo-arch-linux.png">
          <a href="https://picodotdev.github.io/blog-bitix/2014/05/anexo-a-la-guia-de-instalacion-y-del-principiante-de-arch-linux/">Anexo <br/>a la guía de<br/> instalación de<br/>Arch Linux</a>
        </div>
      </li>
    </ul>
  </div>
</div>
<div class="row text-center">
  <div class="col-md-12">
    <a href="https://picodotdev.github.io/blog-bitix/2015/12/yo-apoyo-al-software-libre-tu-tambien/"><img src="//static.fsf.org/nosvn/images/badges/badges_es/i-support-fs_red-bg-es.png" alt="Yo apoyo al software libre"></a>
  </div>
</div>
