<div class="row text-center banner">
  <div class="col-md-12">
    <a href="https://paysuites.me/website/11383/" rel="nofollow" target="_blank"><img src="assets/images/paysuites-banner-250-v3.jpg" alt="Publicidad con Paysuites"></a>
  </div>
</div>
<div class="row text-center banner">
  <div class="col-md-12">
    <a href="https://picodotdev.github.io/blog-bitix/2015/12/yo-apoyo-al-software-libre-tu-tambien/"><img src="//static.fsf.org/nosvn/images/badges/badges_es/i-support-fs_red-bg-es.png" alt="Yo apoyo al software libre"></a>
  </div>
</div>
