{{ "<!-- Cookie Consent plugin by Silktide - http://silktide.com/cookieconsent -->" | safeHTML }}
<script type="text/javascript">
    window.cookieconsent_options = {
        "message": "Esta bitácora te informa de la obviedad de que utiliza «cookies», propias y de servicios como Google Analytics y Google AdSense entre otros.",
        "dismiss": "Aceptar",
        "learnMore": "Más información",
        "link": null,
        "theme": "dark-bottom"
    };
</script>
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/1.0.9/cookieconsent.min.js" async></script>