{{ if (in .Params.tags "tapestry") }}
  {{ .RenderString "![](url=\"//logotype:apache-tapestry-icon-light.svg,optionsthumb=32x32,gallery=false,layout=,lazy=false\" 'Apache Tapestry')" }}
{{ else if (in .Params.tags "java") }}
  {{ .RenderString "![](url=\"//logotype:java.svg,optionsthumb=32x32,gallery=false,layout=,lazy=false\" 'Java')" }}
{{ else if (in .Params.tags "gnu-linux") }}
  {{ .RenderString "![](url=\"//logotype:linux.svg,optionsthumb=32x32,gallery=false,layout=,lazy=false\" 'Linux')" }}
{{ else if (in .Params.tags "javascript") }}
  {{ .RenderString "![](url=\"//logotype:javascript.svg,optionsthumb=32x32,gallery=false,layout=,lazy=false\" 'JavaScript')" }}
{{ else if (in .Params.tags "juegos") }}
  {{ .RenderString "![](url=\"//logotype:playstation.svg,optionsthumb=32x32,gallery=false,layout=,lazy=false\" 'Juegos')" }}
{{ else if (in .Params.tags "software-libre") }}
  {{ .RenderString "![](url=\"//logotype:gnu.svg,optionsthumb=32x32,gallery=false,layout=,lazy=false\" 'Software libre')" }}
{{ else if (in .Params.tags "web") }}
  {{ .RenderString "![](url=\"//logotype:html.svg,optionsthumb=32x32,gallery=false,layout=,lazy=false\" 'Web')" }}
{{ else if or (in .Params.tags "desempaquetado") (in .Params.series "desempaquetado-tecnologia") (in .Params.series "desempaquetado-otros") }}
  {{ .RenderString "![](url=\"//logotype:amazon.svg,optionsthumb=32x32,gallery=false,layout=,lazy=false\" 'Desempaquetdo')" }}
{{ else if (in .Params.tags "blog") }}
  {{ .RenderString "![](url=\"//logotype:blog-bitix.svg,optionsthumb=32x32,gallery=false,layout=,lazy=false\" 'Blog')" }}
{{ else if (in .Params.tags "microsoft") }}
  {{ .RenderString "![](url=\"//logotype:microsoft.svg,optionsthumb=32x32,gallery=false,layout=,lazy=false\" 'Microsoft')" }}
{{ else if (in .Params.tags "windows") }}
  {{ .RenderString "![](url=\"//logotype:windows.svg,optionsthumb=32x32,gallery=false,layout=,lazy=false\" 'Windows')" }}
{{ else if (in .Params.tags "apple") }}
  {{ .RenderString "![](url=\"//logotype:apple.svg,optionsthumb=32x32,gallery=false,layout=,lazy=false\" 'Apple')" }}
{{ else if (in .Params.tags "programacion") }}
  <i class="bi bi-code-square archive-icon" title="Programación"></i>
{{ else if (in .Params.tags "hardware") }}
  <i class="bi bi-cpu archive-icon" title="Hardware"></i>
{{ else if (in .Params.tags "opinion") }}
  <i class="bi bi-chat archive-icon" title="Opinión"></i>
{{ else }}
{{ end }}