[abiword]: https://www.abisource.com/
[acid]: https://es.wikipedia.org/wiki/ACID
[activiti]: https://www.activiti.org/
[adblockplus-disable]: https://adblockplus.org/es/faq_basics#disable
[adobe-acrobat]: https://acrobat.adobe.com/es/es/acrobat.html
[adobe-acrobat-reader]: https://get.adobe.com/es/reader/otherversions/
[adobe-aftereffects]: https://www.adobe.com/es/products/aftereffects.html
[adobe-illustrator]: https://www.adobe.com/es/products/illustrator.html
[adobe-indesign]: https://www.adobe.com/es/products/indesign.html
[adobe-lightroom]: https://www.adobe.com/es/products/photoshop-lightroom.html
[adobe-photoshop]: https://www.adobe.com/es/products/photoshop.html
[adobe-premiere]: https://www.adobe.com/es/products/premiere.html
[adoptopenjdk]: https://adoptopenjdk.net/
[adblockplus]: https://adblockplus.org/es/
[age]: https://github.com/FiloSottile/age
[akko]: https://en.akkogear.com/
[alfresco]: https://www.alfresco.com/
[alis]: https://github.com/picodotdev/alis/
[alis-site]: https://picodotdev.github.io/alis/
[alpine-linux]: https://www.alpinelinux.org/
[alternativeto]: https://alternativeto.net/
[aliexpress]: https://es.aliexpress.com/
[amazon]: https://www.amazon.es
[amazon-affiliate]: https://amzn.to/2flFhHA
[amazon-aws]: https://aws.amazon.com/es/
[amazon-certificate-manager]: https://aws.amazon.com/es/certificate-manager/
[amazon-cloudfront]: https://aws.amazon.com/es/cloudfront/
[amazon-codeartifact]: https://aws.amazon.com/es/codeartifact/
[amazon-cognito]: https://aws.amazon.com/es/cognito/
[amazon-corretto]: https://aws.amazon.com/es/corretto/
[amazon-ebs]: https://aws.amazon.com/es/ebs/
[amazon-ec2]: https://aws.amazon.com/es/ec2/
[amazon-echo]: https://amzn.to/2Yb97pw
[amazon-kindle]: https://amzn.to/3oqIKXt
[amazon-kindle-fire-7]: https://amzn.to/3meWVwa
[amazon-kindle-paperwhite]: https://amzn.to/3Dd5Q8p
[amazon-kindle-oasis]: https://amzn.to/2Qn2poP
[amazon-lightsail]: https://amazonlightsail.com/
[amazon-luna]: https://www.amazon.com/luna/
[amazon-music]: https://music.amazon.es/home
[amazon-playstation-4]: https://amzn.to/3uxDYIU
[amazon-s3]: https://aws.amazon.com/es/s3/
[amazon-xbox-series-s]: https://amzn.to/3uCsMKQ
[amazon-xbox-series-x]: https://amzn.to/3opYev3
[amazon-polly]: https://aws.amazon.com/es/polly/
[amazon-raspberrypi]: https://amzn.to/2MXH57Q
[amazon-transcribe]: https://aws.amazon.com/es/transcribe/
[amazon-video]: https://www.amazon.es/b/ref=nav_shopall_apv_all?_encoding=UTF8&node=12092245031#all
[amazon-web-services]: https://aws.amazon.com/es/
[amberol]: https://flathub.org/apps/details/io.bassi.Amberol
[amd]: https://www.amd.com/es
[amd-athlon]: https://es.wikipedia.org/wiki/AMD_Athlon
[amd-radeon]: https://www.amd.com/es/graphics/radeon-rx-graphics
[amd-ryzen]: https://www.amd.com/es/ryzen
[amd-vega]: https://en.wikipedia.org/wiki/AMD_RX_Vega_series
[amd-rdna]: https://en.wikipedia.org/wiki/RDNA_(microarchitecture)
[android]: https://www.android.com/
[android-12]: https://www.android.com/intl/es_es/android-12/
[angular]: https://angular.io/
[anne]: https://www.annepro.net/
[ansible]: https://www.ansible.com/
[ant]: https://ant.apache.org/
[antergos]: https://antergos.com/
[aop]: https://en.wikipedia.org/wiki/Aspect-oriented_programming
[apache]: https://www.apache.org/
[apache-archiva]: https://archiva.apache.org/
[apache-bench]: https://httpd.apache.org/docs/current/programs/ab.html
[apache-camel]: https://camel.apache.org/
[apache-commons-csv]: https://commons.apache.org/proper/commons-csv/
[apache-httpd]: https://httpd.apache.org/
[apache-httpcomponents]: https://hc.apache.org/
[apache-kafka]: https://kafka.apache.org/
[apache-license]: https://www.apache.org/licenses/LICENSE-2.0
[apache-pdfbox]: https://pdfbox.apache.org/
[apache-pluto]: https://portals.apache.org/pluto/
[apache-poi]: https://poi.apache.org/
[apache-superset]: https://superset.apache.org/
[apache-thrift]: https://thrift.apache.org/
[apache-wicket]: https://wicket.apache.org/
[apache-zookeeper]: https://zookeeper.apache.org/
[appfog]: https://www.appfog.com/
[appimage]: https://appimage.org/
[apple]: https://www.apple.com/
[apple-ios]: https://www.apple.com/es/ios/ios-12/
[apple-macbook]: https://www.apple.com/macbook/
[apple-metal]: https://developer.apple.com/metal/
[apple-music]: https://www.apple.com/es/apple-music/
[apple-store]: https://www.apple.com/es/ios/app-store/
[arch-anywhere]: https://arch-anywhere.org/
[archinstall]: https://github.com/archlinux/archinstall
[archive]: https://archive.org/
[archlinux]: https://www.archlinux.org/
[archlinux-archway]: https://wiki.archlinux.org/index.php/Arch_Linux
[archlinux-aur]: https://aur.archlinux.org/
[archlinux-download]: https://www.archlinux.org/download/
[archlinux-general-recomendations]: https://wiki.archlinux.org/index.php/General_recommendations
[archlinux-feed-news]: https://www.archlinux.org/feeds/news/
[archlinux-forums]: https://bbs.archlinux.org/
[archlinux-forums-es]: https://foros.archlinux-es.org/
[archlinux-install-guide]: https://wiki.archlinux.org/index.php/Installation_guide
[archlinux-packages]: https://www.archlinux.org/packages/
[archlinux-wiki]: https://wiki.archlinux.org/
[archlinuxarm]: https://archlinuxarm.org/
[arcolinux]: https://arcolinux.com/
[arm]: https://www.arm.com/
[arm-processors]: https://www.arm.com/product-filter?families=cortex-a&showall=true
[armbian]: https://www.armbian.com/
[arsys]: https://www.arsys.es/
[artifactory]: https://jfrog.com/artifactory/
[asciinema]: https://asciinema.org/
[asm]: https://asm.ow2.io/
[aspectj]: https://www.eclipse.org/aspectj/
[atlassian-confluence]:_https://www.atlassian.com/es/software/confluence
[atom]: https://atom.io/
[audacity]: https://audacity.es/
[audio-track]: ttps://www.audio-track.com/
[autocad]: https://www.autodesk.es/products/autocad/overview
[awt]: https://docs.oracle.com/javase/8/docs/api/java/awt/package-summary.html
[babeljs]: https://babeljs.io/
[backbone]: https://backbonejs.org/
[baidu]: https://www.baidu.com/
[banshee]: http://banshee.fm/
[barrapunto]: http://barrapunto.com/
[bash]: https://es.wikipedia.org/wiki/Bash
[bashtop]: https://github.com/aristocratos/bashtop
[beanvalidation]: https://beanvalidation.org/
[bilbostack]: https://bilbostack.com/
[bing]: https://www.bing.com/
[bitbucket]: https://bitbucket.org/
[bitnami]: https://bitnami.com/
[bittorrent]: https://es.wikipedia.org/wiki/BitTorrent
[blender]: https://www.blender.org/
[blizzard]: https://www.blizzard.com/es-es/
[blizzard-battlenet]: https://www.blizzard.com/es-es/apps/battle.net/desktop
[blizzard-diablo3]: https://eu.diablo3.com/es/
[blizzard-hearthstone]: https://eu.battle.net/hearthstone/
[blizzard-heroesofthestorm]: https://eu.battle.net/heroes/
[blizzard-starcraft2]: https://eu.battle.net/sc2
[blizzard-overwatch]: https://playoverwatch.com/
[blizzard-warcraft3]: https://eu.blizzard.com/es-es/games/war3/
[blizzard-worldofwarcraft]: https://worldofwarcraft.com/
[blogger]: https://www.blogger.com/
[bluetooth]: https://es.wikipedia.org/wiki/Bluetooth
[boot2docker]: https://github.com/boot2docker/boot2docker
[bootstrap]: https://getbootstrap.com/
[boundary]: https://www.boundaryproject.io/
[bower]: https://bower.io/
[bpytop]: https://github.com/aristocratos/bpytop
[bricomart]: https://www.bricomart.es/
[broadcom]: https://www.broadcom.com/
[browserstack]: https://www.browserstack.com/
[bsd]: https://es.wikipedia.org/wiki/Berkeley_Software_Distribution
[bsd-licenses]: https://en.wikipedia.org/wiki/BSD_licenses
[bsdmag]: https://bsdmag.org/
[btop]: https://github.com/aristocratos/btop
[buildpacks]: https://buildpacks.io/
[bugzilla]: https://www.bugzilla.org/
[busybox]: https://www.busybox.net/
[bytebuddy]: https://bytebuddy.net/
[calibre]: https://calibre-ebook.com/
[calligra]: https://www.calligra.org/
[camelcamelcamel]: https://es.camelcamelcamel.com/
[canonical]: https://www.canonical.com/
[casadellibro]: https://www.casadellibro.com/
[cassandra]: https://cassandra.apache.org/
[centos]: https://www.centos.org/
[certbot]: https://certbot.eff.org/
[ceylon]: https://ceylon-lang.org/
[cglib]: https://github.com/cglib/cglib
[checkstyle]: https://checkstyle.sourceforge.net/
[chef]: https://www.getchef.com/
[cherrymx]: https://www.cherrymx.de/en
[chezmoi]: https://github.com/twpayne/chezmoi
[chromaticqa]: https://www.chromaticqa.com/
[chromium]: https://www.chromium.org/
[cinnamon]: https://cinnamon-spices.linuxmint.com/
[cisco]: https://www.cisco.com/
[clickup]: https://clickup.com/
[clipgrab]: https://clipgrab.de/es
[cloudfoundry]: https://cloudfoundry.org/
[clojure]: https://clojure.org/
[cloud-computing]: https://en.wikipedia.org/wiki/Cloud_computing
[cloudflare]: https://www.cloudflare.com/es-es/
[cloudingio]: https://clouding.io/
[cms]: https://es.wikipedia.org/wiki/Sistema_de_gesti%C3%B3n_de_contenidos
[cmus]: https://cmus.github.io/
[cobol]: https://es.wikipedia.org/wiki/COBOL
[codigo-espagueti]: https://es.wikipedia.org/wiki/C%C3%B3digo_espagueti
[coffeescript]: https://coffeescript.org/
[coolmod]: https://www.coolmod.com
[commons-lang]: https://commons.apache.org/proper/commons-lang/
[consul]: https://www.consul.io/
[consul-connect]: https://www.consul.io/docs/connect
[consul-template]: https://github.com/hashicorp/consul-template
[containerd]: https://containerd.io/
[coobis]: https://coobis.com/
[corba]: https://es.wikipedia.org/wiki/CORBA
[coreos]: https://coreos.com/
[creativecommons]: https://creativecommons.org/
[crowdin]: https://crowdin.com/
[crud]: https://en.wikipedia.org/wiki/Create,_read,_update_and_delete
[crystalmark]: https://crystalmark.info/en/
[csharp]: https://dotnet.microsoft.com/
[cups]: https://www.cups.org/
[cve]: https://www.cve.org/
[dart]: https://www.dartlang.org/
[dash]: https://wiki.archlinux.org/index.php/Dash
[dash-to-dock]: https://micheleg.github.io/dash-to-dock/
[datadog]: https://www.datadoghq.com/
[db2]: https://www.ibm.com/analytics/us/en/technology/db2/
[debian]: https://www.debian.org/
[deepin]: https://www.deepin.org/en/dde/
[dell]: https://www.dell.com/
[developer-com]: http://developer.com/
[devops]: https://en.wikipedia.org/wiki/DevOps
[devuan]: https://devuan.org/
[dierya]: https://www.dieryatech.com/
[digital-ocean]: https://www.digitalocean.com/
[diozero]: http://rtd.diozero.com/en/latest/
[dip]: https://en.wikipedia.org/wiki/Dependency_inversion_principle
[discord]: https://discord.com/
[disqus]: https://disqus.com/
[disneyplus]:_https://www.disneyplus.com/es-es
[displayport]: https://en.wikipedia.org/wiki/DisplayPort
[distrowatch]: https://distrowatch.com/
[django]: https://www.djangoproject.com/
[docker]: https://www.docker.com/
[docker-compose]: https://docs.docker.com/compose/
[docker-desktop]: https://www.docker.com/products/docker-desktop
[docker-hub]: https://registry.hub.docker.com/
[docker-machine]: https://docs.docker.com/machine/
[docker-personal]: https://www.docker.com/products/personal
[docker-registry]: https://docs.docker.com/registry/
[docker-secrets]: https://docs.docker.com/engine/swarm/secrets/
[docker-swarm]: https://docs.docker.com/swarm/
[dondominio]: https://www.dondominio.com/
[dotcms]: https://dotcms.com/
[dotnet]: https://www.microsoft.com/net
[dotnet-mvc]: https://www.asp.net/mvc
[dragonflybsd]: https://www.dragonflybsd.org/
[drools]: https://www.drools.org/
[drupal]: https://www.drupal.org/
[dtrace]: https://en.wikipedia.org/wiki/DTrace
[duckduckgo]: https://duckduckgo.com/
[duckychannel]: https://www.duckychannel.com.tw/
[durgod]: https://www.durgodkeyboard.com/
[dzone]: https://dzone.com/
[easytag]: https://wiki.gnome.org/Apps/EasyTAG
[ebay]: https://www.ebay.es/
[eclipse]: https://eclipse.org
[ecmascript]: https://es.wikipedia.org/wiki/ECMAScript
[ehcache]: https://www.ehcache.org/
[elasticsearch]: https://www.elastic.co/es/elasticsearch/
[elastic-beats]: https://www.elastic.co/es/beats/
[elchapuzasinformatico]: https://elchapuzasinformatico.com/
[elcomite]: https://www.meetup.com/es-ES/elcomite/
[elcorteingles]: https://www.elcorteingles.es/
[electronjs]: https://electronjs.org/
[elementary]: https://elementary.io/es/
[emacs]: https://www.gnu.org/software/emacs/
[emule]: https://www.emule-project.net
[emuparadise]: https://www.emuparadise.me/
[encfs]: https://vgough.github.io/encfs/
[endlessos]: https://endlessos.com/es/
[envoyproxy]: https://www.envoyproxy.io/
[epicgames]: https://www.epicgames.com/store/es-ES/
[esbuild]: https://github.com/evanw/esbuild
[eslint]: https://eslint.org/
[etcd]: https://etcd.io/
[etcher]: https://www.balena.io/etcher/
[euskalduna]: https://www.euskalduna.eus/
[evolution]: https://wiki.gnome.org/Apps/Evolution/
[fabio]: https://fabiolb.net/
[facebook]: https://www.facebook.com/
[fedora]: https://fedoraproject.org/
[fedora-silverblue]: https://silverblue.fedoraproject.org/
[fedora-silverblue]: https://silverblue.fedoraproject.org/
[feedly]: https://feedly.com
[ffmpeg]: https://www.ffmpeg.org/
[figlet]: http://www.figlet.org/
[filebeat]: https://www.elastic.co/es/beats/filebeat
[firefox]: https://www.mozilla.org/es-ES/firefox/new/
[fishshell]: https://fishshell.com/
[flathub]: https://flathub.org/
[flatpak]: https://flatpak.org/
[flowjs]: https://flow.org/
[fluent]: https://www.microsoft.com/design/fluent/#/
[fluentd]: https://www.fluentd.org/
[fnac]: https://www.fnac.es/
[fragments]: https://flathub.org/apps/details/de.haeckerfelix.Fragments
[freebsd]: https://www.freebsd.org/es/
[freedns]: https://freedns.afraid.org/
[freefilesync]: https://freefilesync.org/
[freemarker]: https://freemarker.apache.org/
[freescale]: https://www.nxp.com/
[fsf]: https://www.fsf.org/
[fsfe]: https://fsfe.org/index.en.html
[gateron]: https://www.gateron.co
[gaupol]: https://otsaloma.io/gaupol/
[gcc]: https://gcc.gnu.org/
[gearbest]: https://www.gearbest.com/
[geary]: https://wiki.gnome.org/Apps/Geary
[geb]: https://gebish.org/
[geekbench]: https://www.geekbench.com/
[geexbox]: https://www.geexbox.org/
[genode]: https://genode.org/
[gentoo]: https://www.gentoo.org/
[geonames]: https://www.geonames.org/
[gimp]: https://www.gimp.org/
[git]: https://git-scm.com/
[gitg]: https://wiki.gnome.org/Apps/Gitg
[github]: https://github.com/
[github-actions]: https://github.com/features/actions
[github-desktop]: https://github.com/desktop/desktop
[github-discussions]: https://docs.github.com/en/discussions
[github-gist]: https://gist.github.com/
[github-packages]: https://github.com/features/packages
[github-pages]: https://pages.github.com/
[github-sponsors]: https://github.com/sponsors
[gitlab]: https://about.gitlab.com/
[gliderlabs-registrator]: https://github.com/gliderlabs/registrator
[glorious]: https://www.gloriousgaming.com/
[gnewsense]: https://www.gnewsense.org/
[gnome]: https://www.gnome.org/
[gnome-apps]: https://apps.gnome.org/es/
[gnome-builder]: https://wiki.gnome.org/Apps/Builder
[gnome-circle]: https://circle.gnome.org/
[gnome-hig]: https://developer.gnome.org/hig/
[gnome-console]: https://apps.gnome.org/es/app/org.gnome.Console/
[gnome-subtitles]: http://www.gnomesubtitles.org/
[gnome-terminal]: https://help.gnome.org/users/gnome-terminal/stable/
[gnu]: https://www.gnu.org/
[gnu-agpl]: https://www.gnu.org/licenses/agpl-3.0.en.html
[gnu-free-software]: http://www.gnu.org/philosophy/free-sw.es.html
[gnu-gpl]: https://www.gnu.org/licenses/gpl-3.0.html
[gnu-guix]: https://guix.gnu.org/
[gnu-hurd]:_https://www.gnu.org/software/hurd/hurd.html
[gnu-lgpl]: https://www.gnu.org/licenses/lgpl-3.0.html
[gnu-manual]: https://www.gnu.org/manual/manual.html
[gnumeric]: http://www.gnumeric.org/
[gnupg]: https://www.gnupg.org/index.html
[gnupga]: https://www.gnupg.org/related_software/gpa/
[gnuplot]: http://gnuplot.info/
[go]: https://golang.org/
[goaccess]: https://goaccess.io/
[google]: https://www.google.es/
[google-adsense]: https://www.google.com/adsense/
[google-analytics]: https://www.google.es/intl/es/analytics/
[google-appengine]: https://cloud.google.com/appengine/
[google-artifact-registry]: https://cloud.google.com/artifact-registry/
[google-authenticator]: https://play.google.com/store/apps/details?id=com.google.android.apps.authenticator2
[google-bigtable]: https://cloud.google.com/bigtable?hl=es
[google-bigquery]: https://cloud.google.com/bigquery?hl=es
[google-calendar]: https://www.google.com/calendar/about/
[google-cloud]: https://cloud.google.com/
[google-compute]: https://cloud.google.com/compute/
[google-cloud-functions]: https://cloud.google.com/functions/
[google-cloud-storage]: https://cloud.google.com/storage/
[google-contacts]: https://contacts.google.com/
[google-chrome]: https://www.google.es/chrome/browser/desktop/
[google-chromium]: https://www.chromium.org/Home
[google-chromium-os]: https://www.chromium.org/chromium-os
[google-chromebook]: https://www.chromium.org/chromium-os
[google-docs]: https://www.google.es/intl/es/docs/about/
[google-drive]: https://www.google.es/drive/apps.html
[google-gmail]: https://www.google.com/intl/es/gmail/about/
[google-images]: https://www.google.com/imghp
[google-maps]: https://cloud.google.com/maps-platform
[google-myaccount]: https://myaccount.google.com/
[google-pagespeed]: https://developers.google.com/speed/pagespeed/insights/
[google-photos]: https://www.google.com/photos/about/
[google-play-games]: https://play.google.com/store/games
[google-play-apps]: https://play.google.com/store/apps
[google-sheets]: https://www.google.com/intl/es/sheets/about/
[google-slides]: https://www.google.com/intl/es/slides/about/
[google-speech]: https://cloud.google.com/speech-to-text/
[google-stadia]: https://stadia.google.com
[google-streetview]: https://www.google.es/intl/es/streetview/
[google-tasks]: https://support.google.com/tasks/answer/7675772?hl=es
[google-tts]: https://cloud.google.com/text-to-speech/
[go]: https://golang.org/
[gog]: https://www.gog.com/
[gpl]: https://www.gnu.org/licenses/gpl.html
[graalvm]: https://www.graalvm.org/
[gradle]: https://gradle.org/
[grafana]: https://grafana.com/
[grails]: https://grails.org/
[gaphor]: https://gaphor.org/
[graphql]: https://graphql.org/
[graphiql]: https://github.com/graphql/graphiql
[graphql-java-tools]: https://github.com/graphql-java/graphql-java-tools
[groovy]: https://www.groovy-lang.org/
[grpc]: https://grpc.io/
[grunt]: https://gruntjs.com/
[gson]: https://github.com/google/gson
[gstreamer]: https://gstreamer.freedesktop.org/
[gtg]: https://flathub.org/apps/details/org.gnome.GTG
[guava]: https://github.com/google/guava
[gulpjs]: https://gulpjs.com/
[gufw]: https://gufw.org/
[h2]: https://www.h2database.com/html/main.html
[haiku]: https://www.haiku-os.org/
[handbrake]: https://handbrake.es/
[hawtio]: https://hawt.io/
[hdmi]: https://es.wikipedia.org/wiki/High-Definition_Multimedia_Interface
[hadoop]: https://hadoop.apache.org/
[haproxy]: https://www.haproxy.org/
[hardkernel]: https://www.hardkernel.com
[hashicorp]: https://www.hashicorp.com/
[hbo]: https://es.hboespana.com/
[heroicgameslauncher]: https://heroicgameslauncher.com/
[heroku]: https://www.heroku.com/
[hateoas]: https://en.wikipedia.org/wiki/HATEOAS
[hibernate]: https://hibernate.org/
[hibernate-envers]: https://hibernate.org/orm/envers/
[homebrew]: https://brew.sh/
[homebrew-cask]: https://caskroom.github.io/
[hsqldb]: http://hsqldb.org/
[http-components]: https://hc.apache.org/
[https]: https://es.wikipedia.org/wiki/Hypertext_Transfer_Protocol_Secure
[holaluz]: https://www.holaluz.com/
[hoppscotch]: https://hoppscotch.io/
[how-fixit]: https://www.how-fixit.com
[hugo]: https://gohugo.io/
[iaas]: https://en.wikipedia.org/wiki/Cloud_computing
[i18next]: https://www.i18next.com/
[i3wm]: https://i3wm.org/
[ibm]: https://www.ibm.com/us-en/
[ibm-cloud]: https://www.ibm.com/cloud-computing/bluemix/es
[ibm-power]: https://www.ibm.com/it-infrastructure/power
[ibm-z]: https://www.ibm.com/it-infrastructure/z
[ifixit]: https://es.ifixit.com
[influxdata]: https://www.influxdata.com/
[infojobs]: https://www.infojobs.net/
[infoq]: https://www.infoq.com/
[inkscape]: https://inkscape.org/es/
[instagram]: https://www.instagram.com/
[instana]: https://www.instana.com/
[imagemagick]: https://www.imagemagick.org
[immutables]: https://immutables.github.io/
[increment]: https://increment.com/
[intel]: https://www.intel.es
[intel-arc]: https://www.intel.com/content/www/us/en/products/details/discrete-gpus/arc.html
[intel-core-t8100]: https://ark.intel.com/es-es/products/33916/Intel-Core2-Duo-Processor-T8100-3M-Cache-2_10-GHz-800-MHz-FSB
[intel-hd-4000]: https://en.wikipedia.org/wiki/Intel_Graphics_Technology#Ivy_Bridge
[intel-i5-3210M]: https://ark.intel.com/es-es/products/67355/Intel-Core-i5-3210M-Processor-3M-Cache-up-to-3_10-GHz-rPGA
[intel-i5-8259U]: https://ark.intel.com/products/135935/Intel-Core-i5-8259U-Processor-6M-Cache-up-to-3_80-GHz
[intel-iris-graphics-655]: https://en.wikipedia.org/wiki/Intel_Graphics_Technology#Kaby_Lake_Refresh_/_Coffee_Lake
[intel-nuc]: https://en.wikipedia.org/wiki/Next_Unit_of_Computing
[intel-nuc8i5bek]: https://www.intel.com/content/www/us/en/products/boards-kits/nuc/kits/nuc8i5bek.html
[intel-nuc-baby-canyon]: https://en.wikipedia.org/wiki/Next_Unit_of_Computing#Kaby_Lake-U_(Baby_Canyon)
[intel-nuc-bean-canyon]: https://en.wikipedia.org/wiki/Next_Unit_of_Computing#Coffee_Lake-U
[intel-nuc-hades-canyon]: https://en.wikipedia.org/wiki/Next_Unit_of_Computing#Kaby_Lake-G
[intel-graphics]: https://en.wikipedia.org/wiki/Intel_HD_and_Iris_Graphics
[intel-xe]: https://en.wikipedia.org/wiki/Intel_Xe
[intellij]: https://www.jetbrains.com/idea/
[inxi]: https://code.google.com/p/inxi/
[imgburn]: https://www.imgburn.com/
[imposter]: https://github.com/outofcoffee/imposter
[iot]: https://es.wikipedia.org/wiki/Internet_de_las_cosas
[itext]: https://itextpdf.com/es
[jackson]: https://github.com/FasterXML/jackson
[jacoco]: https://www.jacoco.org/jacoco/
[jaeger]: https://www.jaegertracing.io/
[jakartaee]: https://jakarta.ee/
[jansi]: https://github.com/fusesource/jansi
[jamendo]: https://www.jamendo.com/
[james-gosling]: https://en.wikipedia.org/wiki/James_Gosling
[jasmine]: https://jasmine.github.io/
[jasperreports]: https://community.jaspersoft.com/project/jasperreports-library
[jaspersoft-studio]: https://community.jaspersoft.com/project/jaspersoft-studio
[java]: https://www.oracle.com/java/
[java-command]: https://docs.oracle.com/en/java/javase/11/tools/java.html
[java-bean]: https://es.wikipedia.org/wiki/JavaBean
[java-ee]: https://www.oracle.com/technetwork/java/javaee/overview/index.html
[java-magazine]: https://blogs.oracle.com/javamagazine/
[java-money]: https://javamoney.github.io/
[java-jmx]: https://www.oracle.com/technical-resources/articles/javase/jmx.html
[javac-command]: https://docs.oracle.com/en/java/javase/11/tools/javac.html
[javacodegeeks]: https://www.javacodegeeks.com/
[javadoc-8]: https://docs.oracle.com/javase/8/docs/api/overview-summary.html
[javadoc-9]: https://docs.oracle.com/javase/9/docs/api/overview-summary.html
[javadoc-10]: https://docs.oracle.com/javase/10/docs/api/overview-summary.html
[javadoc-11]: https://docs.oracle.com/en/java/javase/11/docs/api/index.html
[javafx-scene-builder]: https://www.oracle.com/technetwork/java/javase/downloads/javafxscenebuilder-info-2157684.html
[javahispano]: http://www.javahispano.org/
[javamail]: https://en.wikipedia.org/wiki/JavaMail
[jar-command]: https://docs.oracle.com/en/java/javase/11/tools/jar.html
[javascript]: https://es.wikipedia.org/wiki/JavaScript
[javassist]: https://www.javassist.org/
[javaworld]: https://www.javaworld.com/
[javers]: https://javers.org/
[jbang]: https://www.jbang.dev/
[jboss]: https://www.jboss.org/
[jdbi]: https://jdbi.org/
[jcommander]: https://jcommander.org/
[jdownloader]: https://beta.jdownloader.org/
[jedis]: https://github.com/xetorthio/jedis
[jekyll]: https://jekyllrb.com/
[jelastic]: https://jelastic.com/
[jenkins]: https://jenkins.io/
[jestjs]: https://jestjs.io/
[jest-image-snapshot]: https://github.com/americanexpress/jest-image-snapshot
[jetBrains-blog]: https://blog.jetbrains.com/
[jetty]: https://eclipse.org/jetty/
[jersey]: https://jersey.github.io/
[jfreechart]: https://www.jfree.org/jfreechart/
[jira]: https://www.atlassian.com/software/jira
[jitsi]: https://jitsi.org/
[jmespath]: https://jmespath.org/
[jmonkeyengine]: https://jmonkeyengine.org/
[jodatime]: https://www.joda.org/joda-time/
[jolokia]: https://jolokia.org/
[joomla]: https://www.joomla.org/
[jooq]: https://www.jooq.org/
[jp2a]: https://csl.name/jp2a/
[jquery]: https://jquery.com/
[jsf]: https://www.oracle.com/technetwork/java/javaee/javaserverfaces-139869.html
[json]: https://json.org/
[json-b]: http://json-b.net/
[json-java]: http://www.json.org/java/index.html
[json-p]: https://javaee.github.io/jsonp/
[json-schema]: https://json-schema.org/
[jsonpath]: https://github.com/json-path/JsonPath
[jsoup]: https://jsoup.org/
[junit]: https://junit.org/junit5/
[jvm]: https://es.wikipedia.org/wiki/M%C3%A1quina_virtual_Java
[jwt]: https://jwt.io/
[kaihl]: https://www.kailhswitch.com
[kaos]: https://kaosx.us/
[karma]: https://karma-runner.github.io
[karmacracy]: https://karmacracy.com/
[kde]: https://www.kde.org/
[kde-konsole]: https://konsole.kde.org/
[kde-plasma]: https://kde.org/es/plasma-desktop/
[keepass]: https://keepass.info/
[keepassx]: https://www.keepassx.org/
[keepassx]: https://www.keepassx.org/
[keepassxc]: https://keepassxc.org/
[keycloak]: https://www.keycloak.org/
[keychron]: https://www.keychron.com/
[kibana]: https://www.elastic.co/es/kibana
[klowner]: http://www.klowner.com/
[kemove]: https://kmovetech.com/
[kemove-shop]: https://www.kemove.com/shop/
[kobo]: https://www.kobo.com/
[kodi]: https://kodi.tv/
[kotlin]: https://kotlinlang.org/
[kubernetes]: https://kubernetes.io/
[kumuluzee]: https://ee.kumuluz.com/
[kvm]: https://www.linux-kvm.org/page/Main_Page
[lakka]: https://www.lakka.tv/
[lanterna]: https://github.com/mabe02/lanterna
[leaddev]: https://leaddev.com/
[leafletjs]: https://leafletjs.com/
[leroymerlin]: https://www.leroymerlin.es/
[less]: https://lesscss.org/
[letsencrypt]: https://letsencrypt.org/
[lgpl]: https://www.gnu.org/licenses/lgpl.html
[libreelec]: https://libreelec.tv/
[libreoffice]: https://www.libreoffice.org/
[lifeinformatica]: https://lifeinformatica.com/
[liferay]: https://www.liferay.com/
[liferea]: https://lzone.de/liferea/
[lighttpd]: https://www.lighttpd.net/
[lima]: https://github.com/lima-vm/lima
[lineageos]: https://lineageos.org/
[linkedin]: https://www.linkedin.com/
[linode]: https://www.linode.com/
[linus-torvalds]: https://en.wikipedia.org/wiki/Linus_Torvalds
[linux]: https://www.linux.com/
[linux-foundation]: https://www.linuxfoundation.org/
[linuxmint]: https://www.linuxmint.com/
[liquibase]: https://www.liquibase.org/
[log4j]: https://logging.apache.org/log4j/2.x/
[logback]: https://logback.qos.ch/
[logitech]: https://www.logitech.com/es-es
[logstash]: https://www.elastic.co/es/logstash
[lombok]: https://projectlombok.org/
[lozad]: https://apoorv.pro/lozad.js/
[lubuntu]: https://lubuntu.net/
[lyx]: https://www.lyx.org/
[lxde]: https://lxde.org/
[mac]: https://www.apple.com/es/mac/
[macos]: https://www.apple.com/macos/
[magpi]: https://magpi.raspberrypi.org/
[mame]: https://www.mame.net/
[manjaro]: https://manjaro.org/
[mantis]: https://www.mantisbt.org/
[maono]: https://www.maono.com
[marathon]: https://mesosphere.github.io/marathon/
[mariadb]: https://mariadb.org/
[marionettejs]: https://marionettejs.com/
[markdown]: https://es.wikipedia.org/wiki/Markdown
[markdownj]: https://github.com/myabc/markdownj
[mark-shuttleworth]: https://es.wikipedia.org/wiki/Mark_Shuttleworth
[martinfowler]: https://martinfowler.com/
[mate]: https://mate-desktop.org/
[material]: https://material.io/
[matomo]: https://matomo.org/
[maven]: https://maven.apache.org/
[maven-central]: https://search.maven.org/
[mcomix]: https://sourceforge.net/p/mcomix/wiki/Home/
[mediamarkt]: https://www.mediamarkt.es/
[mediawiki]: https://www.mediawiki.org/
[memcached]: https://memcached.org/
[memphis-dev]: https://memphis.dev/
[mercurial-scm]: https://www.mercurial-scm.org/
[metabase]: https://www.metabase.com/
[micrometer]: https://micrometer.io/
[microprofile]: https://microprofile.io/
[microsoft]: https://www.microsoft.com/
[microsoft-access]: https://products.office.com/es-ES/access
[microsoft-authenticator]: https://play.google.com/store/apps/details?id=com.azure.authenticator
[microsoft-azure]: https://azure.microsoft.com/es-es/
[microsft-azure-active-directory]: https://azure.microsoft.com/en-us/services/active-directory/
[microsoft-edge]: https://www.microsoft.com/es-es/windows/microsoft-edge/
[microsoft-ms-pl-license]: https://opensource.org/licenses/MS-PL
[microsoft-office]: https://products.office.com/es-es/
[microsoft-office-online]: https://www.microsoft.com/es-es/microsoft-365/free-office-online-for-the-web
[microsoft-office-365]: https://www.microsoft.com/es-es/microsoft-365/explore-microsoft-365-for-home
[microsoft-onenote]: https://www.microsoft.com/es-es/microsoft-365/onenote/digital-note-taking-app
[microsoft-store-windows]: https://www.microsoft.com/es-es/store/games/windows?icid=CNavGamesWindowsGames
[microsoft-store-xbox]: https://www.microsoft.com/es-es/store/top-paid/games/xbox?icid=CNavXboxGamesDownload
[microsoft-sqlserver]: https://www.microsoft.com/en-us/sql-server/sql-server-2016
[microsoft-teams]: https://www.microsoft.com/es-es/microsoft-teams/group-chat-software/
[microsoft-tts]: https://azure.microsoft.com/es-es/services/cognitive-services/text-to-speech/
[microsoft-xbox-one-s]: https://www.xbox.com/es-ES/xbox-one-s
[microsoft-xcloud]: https://www.xbox.com/en-US/xbox-game-pass/cloud-gaming
[microsoft-visual-studio]: https://visualstudio.microsoft.com/
[microsoft-visual-studio-code]: https://code.visualstudio.com/
[midnightbsd]: https://www.midnightbsd.org/
[milanuncios]: https://www.milanuncios.com
[minecraft]: https://minecraft.net/
[minikube]: https://kubernetes.io/docs/setup/minikube/
[minix]: https://www.minix3.org/
[mir]: https://en.wikipedia.org/wiki/Mir_(software)
[mit-license]: https://en.wikipedia.org/wiki/MIT_License
[mochajs]: https://mochajs.org/
[mockito]: https://site.mockito.org/
[mockserver]: https://www.mock-server.com/
[modelmapper]: http://modelmapper.org/
[modelo-vista-controlador]: https://es.wikipedia.org/wiki/Modelo%E2%80%93vista%E2%80%93controlador
[modernizr]: https://modernizr.com/
[momentjs]: https://momentjs.com/
[mongodb]: https://www.mongodb.com/
[mozilla]: https://www.mozilla.org/
[mozilla-mdn]: https://developer.mozilla.org/es/
[mpl-license]: https://www.mozilla.org/en-US/MPL/
[musl-libc]: https://www.musl-libc.org/
[mustache]: https://mustache.github.io/
[mvc]: https://en.wikipedia.org/wiki/Model%E2%80%93view%E2%80%93controller
[mybatis]: https://mybatis.org/mybatis-3/es/
[mysql]: https://www.mysql.com/
[mythtv]: https://www.mythtv.org/
[nanopi]: http://nanopi.org/
[ncurses]: https://invisible-island.net/ncurses/announce.html
[neofetch]: https://github.com/dylanaraps/neofetch
[netbeans]: https://netbeans.apache.org/
[netbsd]: https://www.netbsd.org/
[netflix]: https://www.netflix.com/es/
[netflix-eureka]: https://github.com/Netflix/eureka
[netflix-hystrix]: https://github.com/Netflix/Hystrix
[netflix-ribbon]: https://github.com/Netflix/ribbon
[netflix-zuul]: https://github.com/Netflix/zuul
[networkmanager]: https://wiki.gnome.org/Projects/NetworkManager
[nextcloud]: https://nextcloud.com/
[nexus]: https://www.sonatype.com/nexus/repository-oss
[nexus-pro]: https://www.sonatype.com/nexus/repository-pro
[newrelic]: https://newrelic.com/
[nginx]: https://nginx.org/
[nintendo]: https://www.nintendo.com/
[nintendo-switch]: https://www.nintendo.com/switch/
[nintendo-store]: https://www.nintendo.es/Buscar/Buscar-299117.html?f=147394-86
[nodejs]: https://nodejs.org/en/
[nokia]: https://www.nokia.com/es_int/
[nomad]: https://www.nomadproject.io/
[nomadbsd]: https://nomadbsd.org/
[nosql]: https://es.wikipedia.org/wiki/NoSQL
[noticias3d]: https://www.noticias3d.com/
[notion]: https://www.notion.so/product
[npm]: https://www.npmjs.com/
[ntppool]: https://www.ntppool.org/es/
[nuxeo]: https://www.nuxeo.com/
[nvidia]: https://www.nvidia.com/es-es/
[nvidia-ampere]: https://en.wikipedia.org/wiki/Ampere_(microarchitecture)
[nvidia-geforce2]: https://www.nvidia.com/page/geforce2mx.html
[nvidia-geforce-now]: https://www.nvidia.com/es-es/geforce-now/
[nvidia-turing]: https://en.wikipedia.org/wiki/Turing_(microarchitecture)
[nvidia-physx]: https://en.wikipedia.org/wiki/PhysX
[nvm]: https://github.com/creationix/nvm
[oauth]: https://oauth.net/
[oauth2-proxy]: https://oauth2-proxy.github.io/oauth2-proxy/
[obs]: https://obsproject.com/
[ohmyz]: https://ohmyz.sh/
[okhttp]: https://square.github.io/okhttp/
[okta]: https://www.okta.com/
[onlyoffice]: https://www.onlyoffice.com/es/
[octopress]: http://octopress.org/
[oocss]: http://oocss.org/
[openapi]: https://www.openapis.org/
[openbsd]: https://www.openbsd.org/
[opencsv]: http://opencsv.sourceforge.net/
[openelec]: https://openelec.tv/
[openglorg]: https://www.opengl.org/
[opengl]: https://www.khronos.org/opengl/
[opengles]: https://www.khronos.org/opengles/
[opencl]: https://www.khronos.org/opencl/
[openid-connect]: https://openid.net/connect/
[openjdk]: https://openjdk.java.net/
[openlibra]: https://openlibra.com
[openliberty]: https://openliberty.io
[openrc]: https://en.wikipedia.org/wiki/OpenRC
[openshift]: https://www.openshift.com/
[openshot]: https://www.openshot.org/
[opensource-definition]: https://opensource.org/osd
[openssh]:https://www.openssh.com/
[openssl]: https://www.openssl.org/
[openstack]: https://www.openstack.org/
[openstreetmap]: https://www.openstreetmap.org/
[opensuse]: https://www.opensuse.org/
[opentelemetry]: https://opentelemetry.io/
[opentracing]: https://opentracing.io/
[openvg]: https://www.khronos.org/openvg/
[openvz]: https://openvz.org/
[openwebstart]: https://openwebstart.com/
[openwrt]: https://openwrt.org/
[openzfs]: https://en.wikipedia.org/wiki/OpenZFS
[oracle]: https://www.oracle.com/
[oracle-cloud]: https://www.oracle.com/cloud/
[oracle-database]: https://www.oracle.com/database/
[oreilly-radar]: https://www.oreilly.com/radar/
[orm]: https://es.wikipedia.org/wiki/Mapeo_objeto-relacional
[osmc]: https://osmc.tv/
[ostree]: https://en.wikipedia.org/wiki/OSTree
[owasp]: https://owasp.org/
[owncloud]: https://owncloud.org/
[paas]: https://en.wikipedia.org/wiki/Cloud_computing
[pac4j]: https://www.pac4j.org/
[packer]: https://www.packer.io/
[paketo]: https://paketo.io/
[pact]: https://pact.io/
[parceljs]: https://parceljs.org/
[passwords-generator]: https://passwords-generator.org/
[patreon]: https://www.patreon.com/
[payara]: https://www.payara.fish/
[paypal]: https://www.paypal.com/
[pccomponentes]: https://www.pccomponentes.com/
[peazip]: https://www.peazip.org/peazip-64bit.html
[pelican]: https://docs.getpelican.com/en/stable/
[pepephone]: https://www.pepephone.com/
[pepeenergy]: https://www.pepeenergy.com/
[phishing]: https://es.wikipedia.org/wiki/Phishing
[phoenicis]: https://phoenicis.org/
[phoronix]: https://www.phoronix.com/
[php]: https://secure.php.net/
[phpbb]: https://www.phpbb.com/
[phpunit]: https://phpunit.de/
[pi4j]: https://pi4j.com/
[picard]: https://picard.musicbrainz.org/
[pidgin]: https://www.pidgin.im/
[piensasolutions]: https://www.piensasolutions.com/
[pine64]: https://www.pine64.org/
[pipewire]: https://pipewire.org/
[pit]: https://pitest.org/
[pitivi]: http://www.pitivi.org/
[playframework]: https://www.playframework.com/
[playonlinux]: https://www.playonlinux.com/en/
[playstation]: https://www.playstation.com/es-es/
[playstation-network]: https://www.playstation.com/es-es/explore/playstation-network/
[playstation-store]: https://www.playstation.com/es-es/buy/playstation-store/
[playstation-now]: https://www.playstation.com/es-es/explore/playstation-now/
[playstation-4]: https://www.playstation.com/es-es/ps4/
[playstation-5]: https://www.playstation.com/es-es/ps5/
[plone]: https://plone.org/
[pmd]: https://pmd.github.io/
[podman]: https://podman.io/
[polymer]: https://www.polymer-project.org/1.0/
[portal-internet]: https://es.wikipedia.org/wiki/Portal_%28Internet%29
[posix]: https://es.wikipedia.org/wiki/POSIX
[postcss]: https://postcss.org/
[postgresql]: https://www.postgresql.org/
[postman]: https://www.postman.com/
[prettier]: https://prettier.io/
[primer]: https://primer.style/
[prism]: https://stoplight.io/open-source/prism/
[procd]: https://oldwiki.archive.openwrt.org/doc/techref/procd
[profesionalreview]: https://www.profesionalreview.com/
[programacion-extrema]: https://es.wikipedia.org/wiki/Programaci%C3%B3n_extrema
[prometheus]: https://prometheus.io/
[protocol-buffers]: https://developers.google.com/protocol-buffers
[protonmail]: https://protonmail.com/es/
[prototypejs]: http://prototypejs.org/
[pulseaudio]: https://www.freedesktop.org/wiki/Software/PulseAudio/
[publisuites]: https://www.publisuites.com/
[publisuites-afiliado]: https://www.publisuites.com/aff/b6b76b095907d91e588d1c714c4a39ad9735c8cf/
[puppet]: https://puppet.com/
[puppylinux]: http://puppylinux.com/
[putty]: https://www.putty.org/
[python]: https://www.python.org/
[qualcomm]: https://www.qualcomm.com/
[quartz]: https://quartz-scheduler.org/
[qemu]: https://www.qemu.org/
[r]: https://www.r-project.org/
[reactivex]: http://reactivex.io/
[reasonjs]: https://reasonml.github.io/
[recordmydesktop]: https://sourceforge.net/projects/recordmydesktop/
[redox]: https://www.redox-os.org/
[redux]: https://redux.js.org/
[rex-ray]: https://rexray.codedellemc.com/
[rabbitmq]: https://www.rabbitmq.com/
[rackspace]: https://www.rackspace.com/es
[rancher]: https://rancher.com/
[raspberrypi]: https://www.raspberrypi.org/
[raspberrypi-software]: https://www.raspberrypi.org/software/
[rdbms]: https://en.wikipedia.org/wiki/Relational_database_management_system
[react]: https://reactjs.org/
[redash]: https://redash.io/
[redhat]: https://www.redhat.com/es
[redhat-ceph]: https://www.redhat.com/en/technologies/storage/ceph
[redhat-gluster]: https://www.redhat.com/en/technologies/storage/gluster
[reddit]: https://www.reddit.com/
[redis]: https://redis.io/
[redmine]: https://www.redmine.org/
[rhel]: https://www.redhat.com/en/technologies/linux-platforms/enterprise-linux
[remark]: https://github.com/giflw/remark-java
[replicant]: https://www.replicant.us/
[resilience4j]: https://github.com/resilience4j/resilience4j
[rest]: https://es.wikipedia.org/wiki/Representational_State_Transfer
[resteasy]: https://resteasy.jboss.org/
[retroarch]: https://www.retroarch.com/
[retrofit]: https://square.github.io/retrofit/
[retropie]: https://retropie.org.uk/
[requirejs]: https://requirejs.org/
[rexray]: https://rexray.readthedocs.io/en/v0.3.3/
[rhel]: https://www.redhat.com/es/technologies/linux-platforms/enterprise-linux
[rkt]: https://coreos.com/rkt/
[rmi]: https://en.wikipedia.org/wiki/Java_remote_method_invocation
[rpc]: https://es.wikipedia.org/wiki/Remote_Procedure_Call
[rock64]: https://www.pine64.org/?page_id=7147
[rollingrelease]: https://en.wikipedia.org/wiki/Rolling_release
[rollupjs]: https://rollupjs.org/guide/en
[royal-kludge]: https://rkgamingstore.com/
[rsync]: https://rsync.samba.org/
[ruby]: https://www.ruby-lang.org/es/
[rubyonrails]: https://rubyonrails.org/
[runit]: http://smarden.org/runit/
[rust]: https://www.rust-lang.org/
[rhythmbox]: https://wiki.gnome.org/Apps/Rhythmbox
[samsung]: https://www.samsung.com/es/
[samsung-galaxy-s6]: https://es.wikipedia.org/wiki/Samsung_Galaxy_S6
[samsung-galaxy-s21-fe]: https://www.samsung.com/es/smartphones/galaxy-s21-5g/galaxy-s21-fe-5g/
[samsung-oneui]: https://www.samsung.com/es/one-ui/
[sass]: https://sass-lang.com/
[scala]: https://www.scala-lang.org/
[screenfetch]: https://github.com/KittyKatt/screenFetch/
[scrum]: https://es.wikipedia.org/wiki/Scrum_(desarrollo_de_software)
[scummvm]: https://www.scummvm.org/
[sdkman]: https://sdkman.io/
[selenium]: https://docs.seleniumhq.org/
[seo]: https://en.wikipedia.org/wiki/Search_engine_optimization
[seur]: https://www.seur.com/es/index.html
[sharethis]: https://www.sharethis.com/
[shiro]: https://shiro.apache.org/
[shutter]: https://shutter-project.org/
[sinit]: https://core.suckless.org/sinit/
[skype]: https://www.skype.com/es/
[slf4j]: https://www.slf4j.org/
[slack]: https://slack.com/
[slick]: https://scala-slick.org/
[slick2d]: http://slick.ninjacave.com/
[slideshare]: https://es.slideshare.net/
[slim]: https://en.wikipedia.org/wiki/SLiM
[slimbook]: https://slimbook.es/
[slimbook-curve]: https://slimbook.es/aio-curve-el-all-in-one-curvo-de-gnu-linux
[slimbook-one]: https://slimbook.es/one-minipc-potente
[slimbook-pro2]: https://slimbook.es/pro-ultrabook-13-aluminio
[smartgit]: https://www.syntevo.com/smartgit/
[snapcraft]: https://snapcraft.io/
[soap]: https://es.wikipedia.org/wiki/Simple_Object_Access_Protocol
[solaris]: https://en.wikipedia.org/wiki/Solaris_(operating_system)
[solid]: https://en.wikipedia.org/wiki/SOLID_(object-oriented_design)
[solid-run]: https://www.solid-run.com/
[sonarqube]: https://www.sonarqube.org/
[sonatype-nexus]: https://www.sonatype.com/nexus/repository-oss
[sony]: https://www.sony.es/
[sony-play-station-3]: https://www.playstation.com/es-es/explore/ps3/
[sony-play-station-4]: https://www.playstation.com/es-es/explore/ps4/
[soundconverter]: https://soundconverter.org/
[sparc]: https://en.wikipedia.org/wiki/SPARC
[spark]: https://spark.apache.org/
[sparkjava]: https://sparkjava.com/
[speakerdeck]: https://speakerdeck.com/
[shellcheck]: https://www.shellcheck.net/
[spotbugs]: https://spotbugs.github.io/
[spring]: https://spring.io/
[springdoc]: https://springdoc.org/
[spring-boot]: https://projects.spring.io/spring-boot/
[spring-boot-actuator]: https://docs.spring.io/spring-boot/docs/current/reference/htmlsingle/#production-ready
[spring-cloud]: https://projects.spring.io/spring-cloud/
[spring-cloud-bus]: https://cloud.spring.io/spring-cloud-bus/
[spring-cloud-config]: https://cloud.spring.io/spring-cloud-config/
[spring-cloud-consul]: https://cloud.spring.io/spring-cloud-consul/
[spring-cloud-gateway]: https://spring.io/projects/spring-cloud-gateway
[spring-cloud-netflix]: https://cloud.spring.io/spring-cloud-netflix/
[spring-cloud-sleuth]: https://spring.io/projects/spring-cloud-sleuth
[spring-cloud-vault]: https://cloud.spring.io/spring-cloud-vault/
[spring-data]: https://spring.io/projects/spring-data
[spring-framework]: https://projects.spring.io/spring-framework/
[spring-hateoas]: https://docs.spring.io/spring-hateoas/docs/current/reference/html/
[spring-initializr]: https://start.spring.io/
[spring-kafka]: https://spring.io/projects/spring-kafka
[spring-projects]: https://spring.io/projects
[spring-reactive]: https://spring.io/reactive
[spring-retry]: https://github.com/spring-projects/spring-retry
[spring-security]: https://spring.io/projects/spring-security
[spring-security-oauth]: https://spring.io/projects/spring-security-oauth
[spring-session]: https://projects.spring.io/spring-session/
[spring-statemachine]: https://projects.spring.io/spring-statemachine/
[spring-validation]: https://spring.io/guides/gs/validating-form-input/
[spring-vault]: https://projects.spring.io/spring-vault/
[spring-webclient]: https://docs.spring.io/spring-framework/docs/current/reference/html/web-reactive.html#webflux-client
[spock]: https://code.google.com/p/spock/
[spotify]: https://www.spotify.com/es/
[sql]: https://en.wikipedia.org/wiki/SQL
[sqllite]: https://sqlite.org/index.html
[sqlpad]: https://sqlpad.github.io/sqlpad/#/
[sreweekly]: https://sreweekly.com/
[ssh]: https://es.wikipedia.org/wiki/Secure_Shell
[sslip]: https://sslip.io/
[sso]: https://es.wikipedia.org/wiki/Single_Sign-On
[stackoverflow]: https://stackoverflow.com/
[starship]: https://starship.rs/
[steam]: https://store.steampowered.com/
[steamdeck]: https://www.steamdeck.com/es/
[storybook]: https://storybook.js.org/
[stripe]: https://stripe.com/es
[strongpasswordgenerator]: https://privacycanada.net/strong-password-generator/
[struts]: https://struts.apache.org/
[storybook]: https://storybook.js.org/
[subscene]: https://subscene.com/
[sublime-text]: https://www.sublimetext.com/
[subtitle-edit]: https://www.nikse.dk/subtitleedit/
[subtitle-workshop]: http://www.uruworks.net/inicio.html
[subversion]: https://subversion.apache.org/
[sun-microsystems]: https://es.wikipedia.org/wiki/Sun_Microsystems
[supervisord]: http://supervisord.org/
[suse]: https://www.suse.com/es-es/
[suse-sles]: https://www.suse.com/es-es/products/server/
[symfony]: https://symfony.com/
[sysvinit]: https://savannah.nongnu.org/projects/sysvinit
[systemv]: https://es.wikipedia.org/wiki/System_V
[systemd]: https://www.freedesktop.org/wiki/Software/systemd/
[swagger]: https://swagger.io/
[swing]: https://docs.oracle.com/javase/8/docs/api/javax/swing/package-summary.html
[tails]: https://tails.boum.org/
[tapestry]: https://tapestry.apache.org/
[tapestry-jumpstart]: http://jumpstart.doublenegative.com.au/jumpstart/
[tecnoempleo]: https://www.tecnoempleo.com/
[telegram]: https://telegram.org/
[terraform]: https://www.terraform.io/
[tesseract]: https://github.com/tesseract-ocr/tesseract
[testcontainers]: https://www.testcontainers.org/
[testdevelocidad]: https://www.testdevelocidad.es/
[texas-instruments]: https://www.ti.com/
[thephonehouse]: https://www.phonehouse.es/
[theserverside]: https://www.theserverside.com/
[thunderbird]: https://www.thunderbird.net/es-ES/
[thymeleaf]: https://www.thymeleaf.org/
[tinycorelinux]: http://www.tinycorelinux.net/
[tiobe]: https://www.tiobe.com/tiobe-index/
[tls]: https://es.wikipedia.org/wiki/Transport_Layer_Security
[tmux]: https://github.com/tmux/tmux/wiki
[toolbox]:_https://github.com/containers/toolbox
[tomcat]: https://tomcat.apache.org/
[tomee]: https://tomee.apache.org/
[trabajoscom]: https://www.trabajos.com/
[trac]: https://trac.edgewall.org/
[traefik]: https://traefik.io/
[transifex]: https://www.transifex.com/
[transmissionbt]: https://transmissionbt.com/
[trello]: https://trello.com/
[trisquel]: https://trisquel.info/es
[tslint]: https://palantir.github.io/tslint/
[typescript]: https://www.typescriptlang.org/
[tutanota]: https://tutanota.com/es/
[twitch]: https://www.twitch.tv/
[twitter]: https://twitter.com/
[twitter4j]: https://twitter4j.org/en/index.html
[ubuntu]: https://www.ubuntu.com/
[ubuntu-download-desktop]: https://ubuntu.com/download/desktop
[ubuntu-packages]: https://packages.ubuntu.com/
[ubuntu-release-cyle]: https://ubuntu.com/about/release-cycle
[ubuntu-snappy]: https://www.ubuntu.com/desktop/snappy
[ufw]: https://launchpad.net/ufw
[uglifyjs]: https://www.npmjs.com/package/uglify-js
[underscorejs]: https://underscorejs.org/
[undertow]: https://undertow.io/
[universidad-de-deusto]: https://www.deusto.es
[upstart]: https://es.wikipedia.org/wiki/Upstart
[uptimerobot]: https://uptimerobot.com/
[utorrent]: https://www.utorrent.com/intl/es/
[xataka]: https://www.xataka.com/
[xfce]: https://xfce.org/
[yahoo]: https://www.yahoo.com/
[yaml]: https://www.yaml.org/
[yandex]: https://www.yandex.ru/
[xiaomi]: https://www.mi.com/es/
[xipio]: http://xip.io/
[xpath]: https://www.w3.org/TR/xpath/all/
[youtube]: https://www.youtube.com/
[youtube-studio]: https://studio.youtube.com/
[vagrant]: https://www.vagrantup.com/
[valve]: https://www.valvesoftware.com/es/
[vant]: https://www.vantpc.es/
[varnish]: https://varnish-cache.org/
[vault]: https://www.vaultproject.io/
[vavr]: https://www.vavr.io/
[vertx]: https://vertx.io/
[videoseven]: https://www.v7world.com/es/
[videoo]: http://videoo.tv/
[videoo-affiliate]: https://videoo.tv/es?referente=379#sctf
[vinted]: https://www.vinted.es/
[vim]: https://www.vim.org/
[vimeo]: https://vimeo.com/
[virt-manager]: https://virt-manager.org/
[virtualbox]: https://www.virtualbox.org/
[visualvm]: https://visualvm.github.io
[vlc]: https://www.videolan.org/vlc/
[voidlinux]: https://voidlinux.org/
[vouch-proxy]: https://github.com/vouch/vouch-proxy
[vsgamers]: https://www.vsgamers.es/
[vuejs]: https://vuejs.org/
[vuex]: https://vuex.vuejs.org/
[vulkan]: https://www.vulkan.org/
[wallapop]: https://es.wallapop.com/
[wargaming]: https://eu.wargaming.net/
[wargaming-worldoftanks]: https://worldoftanks.eu/es/
[wargaming-worldofwarships]: https://worldofwarships.com/
[wayland]: https://es.wikipedia.org/wiki/Wayland_(protocolo)
[waypoint]: https://www.waypointproject.io/
[web-components]: https://www.webcomponents.org/
[webgl]: https://www.khronos.org/webgl/
[webjars]: https://www.webjars.org/
[webkit]: https://webkit.org/
[weblate]: https://weblate.org/es/
[webp]: https://en.wikipedia.org/wiki/WebP
[webpack]: https://webpack.js.org/
[webpagetest]: https://webpagetest.org
[weblogic]: https://www.oracle.com/middleware/weblogic/
[websphere]: https://www.ibm.com/es-es/marketplace/java-ee-runtime/details
[wget]: https://www.gnu.org/software/wget/
[whatsapp]: https://www.whatsapp.com/
[wicket]: https://wicket.apache.org/
[wikipedia]: https://es.wikipedia.org/wiki/Wikipedia:Portada
[wikipedia-aop]: https://en.wikipedia.org/wiki/Aspect-oriented_programming
[wikipedia-beryl]: https://de.wikipedia.org/wiki/Beryl_(Software)
[wikipedia-big-o]: https://en.wikipedia.org/wiki/Big_O_notation
[wikipedia-bzip2]: https://en.wikipedia.org/wiki/Bzip2
[wikipedia-cidr]: https://es.wikipedia.org/wiki/Classless_Inter-Domain_Routing
[wikipedia-cgnat]: https://es.wikipedia.org/wiki/Carrier_Grade_NAT
[wikipedia-compiz]: https://es.wikipedia.org/wiki/Compiz
[wikipedia-cqrs]: https://en.wikipedia.org/wiki/Command–query_separation
[wikipedia-deflate]: https://en.wikipedia.org/wiki/DEFLATE
[wikipedia-domain-driven-design]: https://en.wikipedia.org/wiki/Domain-driven_design
[wikipedia-gdpr]: https://en.wikipedia.org/wiki/General_Data_Protection_Regulation
[wikipedia-gzip]: https://en.wikipedia.org/wiki/Gzip
[wikipedia-http-status-codes]: https://en.wikipedia.org/wiki/List_of_HTTP_status_codes
[wikipedia-iac]: https://es.wikipedia.org/wiki/Infraestructura_como_c%C3%B3digo
[wikipedia-ieee-754]: https://es.wikipedia.org/wiki/IEEE_754
[wikipedia-ipv4]: https://en.wikipedia.org/wiki/IPv4
[wikipedia-ipv6]: https://en.wikipedia.org/wiki/IPv6
[wikipedia-jdbc]: https://en.wikipedia.org/wiki/Java_Database_Connectivity
[wikipedia-ley-de-moore]: https://es.wikipedia.org/wiki/Ley_de_Moore
[wikipedia-lz4]: https://en.wikipedia.org/wiki/LZ4_(compression_algorithm)
[wikipedia-lzma]: https://en.wikipedia.org/wiki/Lempel%E2%80%93Ziv%E2%80%93Markov_chain_algorithm
[wikipedia-lzo]: https://en.wikipedia.org/wiki/Lempel%E2%80%93Ziv%E2%80%93Oberhumer
[wikipedia-securedigital]: https://en.wikipedia.org/wiki/Secure_Digital
[wikipedia-nat]: https://en.wikipedia.org/wiki/Network_address_translation
[wikipedia-ntp]: https://en.wikipedia.org/wiki/Network_Time_Protocol
[wikipedia-opensource-definition]: https://en.wikipedia.org/wiki/The_Open_Source_Definition
[wikipedia-out-of-order]: https://en.wikipedia.org/wiki/Out-of-order_execution
[wikipedia-playstation-4]: https://en.wikipedia.org/wiki/PlayStation_4
[wikipedia-playstation-5]: https://en.wikipedia.org/wiki/PlayStation_5
[wikipedia-power-pc]: https://en.wikipedia.org/wiki/POWER10
[wikipedia-ray-tracing]: https://en.wikipedia.org/wiki/Ray_tracing_(graphics)
[wikipedia-raja-koduri]: https://en.wikipedia.org/wiki/Raja_Koduri
[wikipedia-richard-stallman]: https://es.wikipedia.org/wiki/Richard_Stallman
[wikipedia-shebang]: https://en.wikipedia.org/wiki/Shebang_(Unix)
[wikipedia-solid]: https://en.wikipedia.org/wiki/SOLID
[wikipedia-speculative-execution]: https://en.wikipedia.org/wiki/Speculative_execution
[wikipedia-superescalar]: https://en.wikipedia.org/wiki/Superscalar_processor
[wikipedia-tar]: https://en.wikipedia.org/wiki/Tar_(computing)
[wikipedia-uml]: https://es.wikipedia.org/wiki/Lenguaje_unificado_de_modelado
[wikipedia-zip]: https://en.wikipedia.org/wiki/ZIP_(file_format)
[wikipedia-zlib]: https://es.wikipedia.org/wiki/Zlib
[wikipedia-zstd]: https://en.wikipedia.org/wiki/Zstandard
[wildfly]: https://wildfly.org/
[wine]: https://www.winehq.org/
[wine-appdb]: https://appdb.winehq.org/
[winepak]: https://www.winepak.org/
[winzip]: https://www.winzip.com/win/es/
[windows]: https://www.microsoft.com/es-es/windows/
[wireguard]: https://www.wireguard.com/
[wiremock]: http://wiremock.org/
[wiringpi]: http://wiringpi.com/
[vmware]: https://www.vmware.com/
[wps-office]: https://www.wps.com/
[wordpress]: https://wordpress.org/
[wro4j]: https://github.com/wro4j/wro4j/
[w3]: https://www.w3.org/
[xbox]: https://www.xbox.com
[xbox-one]: https://es.wikipedia.org/wiki/Xbox_One
[xbox-series-xs]: https://en.wikipedia.org/wiki/Xbox_Series_X_and_Series_S
[xorg]: https://www.x.org/wiki/
[xserver]: https://www.x.org/wiki/XServer/
[xubuntu]: https://xubuntu.org/
[zentyal]: https://www.zentyal.org/
[zipkin]: https://zipkin.io/
[zotac]: https://www.zotac.com/es/
[zfs]: https://en.wikipedia.org/wiki/ZFS
[zsh]: https://zsh.sourceforge.net/

[blogbitix]: https://picodotdev.github.io/blog-bitix/
[blogbitix-amp]: https://picodotdev.github.io/blog-bitix/index-amp.html
[blogbitix-archive]: https://picodotdev.github.io/blog-bitix/archive/
[blogbitix-feed]: https://picodotdev.github.io/blog-bitix/index.xml
[blogbitix-googleplus]: https://plus.google.com/114317443908384387611/posts
[blogbitix-tag-java]: https://picodotdev.github.io/blog-bitix/tags/java/
[blogbitix-tag-gnu-linux]: https://picodotdev.github.io/blog-bitix/tags/javascript/
[blogbitix-tag-javascript]: https://picodotdev.github.io/blog-bitix/tags/javascript/
[blogbitix-tag-tapestry]: https://picodotdev.github.io/blog-bitix/tags/tapestry/
[blogbitix-tag-web]: https://picodotdev.github.io/blog-bitix/tags/web/
[blogbitix-section-2013]: https://picodotdev.github.io/blog-bitix/2013/
[blogbitix-section-2014]: https://picodotdev.github.io/blog-bitix/2014/
[blogbitix-section-2015]: https://picodotdev.github.io/blog-bitix/2015/
[blogbitix-section-2016]: https://picodotdev.github.io/blog-bitix/2016/
[blogbitix-section-2017]: https://picodotdev.github.io/blog-bitix/2017/
[blogbitix-section-2018]: https://picodotdev.github.io/blog-bitix/2018/
[blogbitix-section-2019]: https://picodotdev.github.io/blog-bitix/2019/
[blogbitix-section-2020]: https://picodotdev.github.io/blog-bitix/2020/
[blogbitix-section-2021]: https://picodotdev.github.io/blog-bitix/2021/
[blogbitix-section-2022]: https://picodotdev.github.io/blog-bitix/2022/
[blogbitix-section-2023]: https://picodotdev.github.io/blog-bitix/2023/
[blogbitix-section-2024]: https://picodotdev.github.io/blog-bitix/2024/
[blogbitix-section-2025]: https://picodotdev.github.io/blog-bitix/2025/
[blogbitix-section-2026]: https://picodotdev.github.io/blog-bitix/2026/
[blogbitix-section-2027]: https://picodotdev.github.io/blog-bitix/2027/
[blogbitix-section-2028]: https://picodotdev.github.io/blog-bitix/2028/
[blogbitix-section-2029]: https://picodotdev.github.io/blog-bitix/2029/
[blogbitix-serie-aniversario]: https://picodotdev.github.io/blog-bitix/series/aniversario/
[blogbitix-serie-bilbostack]: https://picodotdev.github.io/blog-bitix/series/bilbostack/
[blogbitix-serie-desempaquetado-otros]: https://picodotdev.github.io/blog-bitix/series/desempaquetado-otros/
[blogbitix-serie-desempaquetado-tecnologia]: https://picodotdev.github.io/blog-bitix/series/desempaquetado-tecnologia/
[blogbitix-serie-docker]: https://picodotdev.github.io/blog-bitix/series/docker/
[blogbitix-serie-donacion]: https://picodotdev.github.io/blog-bitix/series/donacion/
[blogbitix-serie-electronica]: https://picodotdev.github.io/blog-bitix/series/electronica/
[blogbitix-serie-graphql]: https://picodotdev.github.io/blog-bitix/series/graphql/
[blogbitix-serie-java-platform]: https://picodotdev.github.io/blog-bitix/series/java-platform/
[blogbitix-serie-juegos]: https://picodotdev.github.io/blog-bitix/series/juegos/
[blogbitix-serie-hemeroteca]: https://picodotdev.github.io/blog-bitix/series/hemeroteca/
[blogbitix-serie-spring-cloud]: https://picodotdev.github.io/blog-bitix/series/spring-cloud/
[blogbitix-serie-terminal]: https://picodotdev.github.io/blog-bitix/series/terminal/
[blogbitix-serie-web]: https://picodotdev.github.io/blog-bitix/series/web/

[blogbitix-page-p1]: https://picodotdev.github.io/blog-bitix/pages/enlaces-a-otros-blogs-y-webs/
[blogbitix-page-p2]: https://picodotdev.github.io/blog-bitix/pages/acerca-de/
[blogbitix-page-p3]: https://picodotdev.github.io/blog-bitix/pages/advertising/
[blogbitix-page-p4]: https://picodotdev.github.io/blog-bitix/pages/donate/

[elblogdepicodev]: https://elblogdepicodev.blogspot.com.es
[elblogdepicodev-label-tapestry]: https://elblogdepicodev.blogspot.com.es/search/label/tapestry

[blogstack]: https://twitter.com/blogstackinfo
[blogstack-twitter]: https://twitter.com/blogstackinfo
[blogstack-git]: https://github.com/picodotdev/blog-stack/tree/master

[ejemplo-plugin-tapestry]: https://github.com/picodotdev/blog-ejemplos/tree/master/PlugInTapestry
[plugin-tapestry-pdf]: https://picodotdev.github.io/blog-bitix/assets/custom/PlugInTapestry.pdf
[plugin-tapestry-epub]: https://picodotdev.github.io/blog-bitix/assets/custom/PlugInTapestry.epub
[plugin-tapestry-mobi]: https://picodotdev.github.io/blog-bitix/assets/custom/PlugInTapestry.mobi
[plugin-tapestry-html]: https://picodotdev.github.io/blog-bitix/assets/custom/PlugInTapestry.zip

[amazon-afiliados]: https://afiliados.amazon.es
[github-picodotdev]: https://github.com/picodotdev/
[github-picodotdev-blog-ejemplos]: https://github.com/picodotdev/blog-ejemplos/
[twitter-blogstack]: https://twitter.com/blogstackinfo/
[twitter-picodotdev]: https://twitter.com/picodotdev/
