{{ if .Params.series }}
  <div class="row serie">
    <div class="col-12">
      {{ range $serie := .Params.series }}
        <p>
          Este artículo forma parte de la serie <b>{{ $serie }}</b>:
        </p>
        {{ $articles := index $.Site.Taxonomies.series $serie }}
        <ol class="serie-articles">
          {{ range $articles.Pages.Reverse }}
            <li>
              <a href="{{ .Permalink }}">{{ .Title }}</a>
            </li>
          {{ end }}
        </ol>
      {{ end }}
    </div>
  </div>
{{end}}
