div.box-animation {
   width: 100px;
   height: 100px;
   background-color: red;
   position: relative;

   animation-name: animation1;
   animation-duration: 5s;
   animation-timing-function: linear;
   animation-delay: 2s;
   animation-iteration-count: infinite;
   animation-direction: alternate;
}