.header {
  width: 200px;
  height: 50px;
  padding: 10px;
}

.header--small {
  width: 150px;
  height: 50px;
  padding: 10px;
}

.header__title {
  color: #000;
}

.header__date {
  color: #000;
}

.header__text {
  font-family: 'Roboto', Helvetica, sans-serif;
}

.header__title--secondary {
  color: #aaa;
}