h1 {
  font-family: 'Roboto', Helvetica, sans-serif;
  color: #F44;
}

h1, .h1-size { font-size: 2em;   }
h2, .h2-size { font-size: 1.8em; }
h3, .h3-size { font-size: 1.5em; }

.muted {
   opacity: 0.5;
   filter: alpha(opacity = 50);
}