.block-red {
    width: 200px;
    height: 50px;
    padding: 10px;
    border: solid 1px #000;
    background: linear-gradient(#ccc, #f00);
  }
  
  .block-blue {
    width: 200px;
    height: 50px;
    padding: 10px;
    border: solid 1px #000;
    background: linear-gradient(#ccc, #00f);
  }