<div class="row">
  <div class="col-md-12 text-center">
    {{ partial "adsense/large-skycraper.html" . }}
  </div>
</div>
<div class="row">
  <div class="col-md-12 text-center">
    {{ partial "adsense/large-rectangle.html" . }}
  </div>
</div>
{{ partial "featured.html" . }}
<div class="row">
  <div class="col-md-12">
    <hr>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <ul class="list-unstyled recents">
      <li><span class="glyphicon glyphicon-hand-right"></span> <a href="archive/">{{ i18n "articles_in_archve" }}</a></li>
    </ul>
  </div>
</div>
