{{ $urlsuffix := .Site.Params.outputformats.html.urlsuffix }}
{{ $videoo := partial "videoo.html" . }}
{{ $content := .Content }}
<article>
    <h1>{{ .Title }}</h1>
    <p class="information">
      {{ if eq .Params.promoted "external" }}
        {{ i18n "published_by" }}
      {{ else }}
        {{ i18n "writed_by" }}
      {{ end }} 
      <span>{{ if isset .Params "author" }}{{ .Params.author }}{{ else }}{{ .Site.Author.name }}{{ end }}</span> {{ i18n "writed_on" }} <time>{{ .Date.Format "02/01/2006" }}</time>{{ if isset .Params "updated" }}, {{ i18n "updated_on" }} <time>{{ dateFormat "02/01/2006" .Params.updated }}</time>.{{ else }}.{{ end }}
      {{ if isset .Params "tags" }}
        <br>
        {{ range $tag := .Params.tags -}}
          {{ $url := print "tags/" $tag "/" $urlsuffix | relURL }}
          <a href="{{ $url }}">{{ $tag }}</a>
        {{ end }}
      {{ end }}
      <br>
      <a href="{{ .RelPermalink }}">{{ i18n "permanent_link" }}</a>
      {{ if .Params.comments }}
        <a href="{{ .RelPermalink }}#comments">{{ i18n "comments" }}</a>
      {{ end }}
    </p>

    {{ if isset .Params "summary" }}
      <p class="summary">{{ .Params.summary | markdownify }}</p>
    {{ end }}
    {{ if isset .Params "note" }}
      <div class="alert alert-warning">{{ .Params.note | markdownify }}</div>
    {{ end }}

    {{ if isset .Params "summary" }}
      <div class="adblock-container-leaderboard mt-3 mb-3 p-0">
      {{ partial "adsense/leaderboard.html" . }}
      </div>
    {{ end }}

    <div class="content">
      {{ partial "share-this-begin.html" . }}
      {{ if in $content "<toc></toc>" }}
        {{ $content = replaceRE "(.*<toc></toc>.*)" (print "<div class=\"row toc\"><div class=\"col-12 col-lg-6\">" "$1 " "</div><div class=\"col-12 col-lg-6\">" $videoo "</div></div>") $content 1 }}
        {{ $content = replace $content "<toc></toc>" .TableOfContents  }}
      {{ end }}
      {{ $content | safeHTML }}
    </div>

    <p class="information">
      {{ if eq .Params.promoted true }}
        <div class="alert alert-info fs-6" role="alert">
          <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span> {{ i18n "promoted_info" | markdownify | htmlUnescape | safeHTML }}
        </div>
      {{ else if eq .Params.promoted "external" }}
        <div class="alert alert-info fs-6" role="alert">
          <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span> {{ i18n "promoted_external_info" | markdownify | htmlUnescape | safeHTML }}
        </div>
      {{ end }}
    </p>

    {{ if findRE .Site.Params.misc.sponsoredlink .Content }}
      <div class="alert alert-info fs-6" role="alert">
        <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span> {{ i18n "affiliates_info" | markdownify | htmlUnescape | safeHTML }}
      </div>
    {{ end }}
  </article>