{{ $urlsuffix := .Site.Params.outputformats.html.urlsuffix }}
<ul class="list-unstyled">
    {{ range first 15 (where .Site.RegularPages ".Params.index" true) }}
    <li>
      <article>
        <h1><a href="{{ .RelPermalink }}">{{ .Title }}</a></h1>
        <span class="information">
          <time>{{ .Date.Format "02/01/2006" }}</time>
          {{ if isset .Params "tags" }}
            {{ range $tag := .Params.tags -}}
              {{ $url := print "tags/" $tag "/" $urlsuffix | relURL }}
              <a href="{{ $url }}">{{ $tag }}</a>
            {{ end }}
          {{ end }}
        </span>
        <p>
          {{ if isset .Params "summary" }}
            {{ .Params.summary | markdownify }}
          {{ else }}
            {{ .Summary }}
          {{ end }}
          <br>
          <a href="{{ .RelPermalink }}">{{ i18n "cotinue_reading" }}</a>
        </p>
      </article>
    </li>
    {{ end }}
  </ul>