{{ if .Params.comments }}
  <a id="comments"></a>
  <div class="row">
    <div class="col-md-12">
      <div id="disqus_thread"></div>
    </div>
  </div>

  <script type="text/javascript" async>
    var disqus_shortname = '{{ .Site.Params.disqus.shortname }}';
    var disqus_identifier = '{{ .Site.Params.disqus.shortname }}-{{ .Params.pid }}';
    var disqus_url = '{{ .Site.Params.baseurl }}{{ .Params.url }}';
    var disqus_script = 'embed.js';
    (function () {
      var dsq = document.createElement('script'); 
      dsq.type = 'text/javascript'; 
      dsq.async = true;
      dsq.src = '//' + disqus_shortname + '.disqus.com/' + disqus_script;
      (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    }());
  </script>
{{ end }}