<header>
  <div class="row">
    <div class="col-md-4 col-md-offset-4">
      <h2 class="title"><a href="{{ .Site.BaseURL }}">{{ .Site.Title }}</a></h2>
      <div class="links">
        {{ if .Site.Params.links.feed }}
          <a href="{{ .Site.Params.links.feed.url }}" title="{{ .Site.Params.links.feed.title }}"><img src="assets/images/custom/rss.png"></a>
        {{ end }}
        {{ if .Site.Params.links.twitter }}
          <a href="{{ .Site.Params.links.twitter.url }}" title="{{ .Site.Params.links.twitter.title }}"><img src="assets/images/custom/twitter.png"></a>
        {{ end }}
        {{ if .Site.Params.links.googleplus }}
          <a href="{{ .Site.Params.links.googleplus.url }}" title="{{ .Site.Params.links.googleplus.title }}"><img src="assets/images/custom/google-plus.png"></a>
        {{ end }}
        {{ if .Site.Params.links.github }}
          <a href="{{ .Site.Params.links.github.url }}" title="{{ .Site.Params.links.github.title }}"><img src="assets/images/custom/github.png"></a>
        {{ end }}
        {{ if .Site.Params.links.facebook }}
          <a href="{{ .Site.Params.links.facebook.url }}" title="{{ .Site.Params.links.facebook.title }}"><img src="assets/images/custom/facebook.png"></a>
        {{ end }}
        {{ if .Site.Params.links.linkedin }}
          <a href="{{ .Site.Params.links.linkedin.url }}" title="{{ .Site.Params.links.linkedin.title }}"><img src="assets/images/custom/linkedin.png"></a>
        {{ end }}
      </div>
    </div>
    <div class="col-md-4 text-center">
      <form name="query" class="form-inline search" onsubmit="return false;">
        <div class="input-group">
          <input type="text" name="q" class="form-control">
          <span class="input-group-btn">
            <button class="btn btn-default" type="submit">{{ i18n "search"}}</button>
          </span>
        </div>
      </form>
      <form name="search" action="https://duckduckgo.com/" method="get" class="hidden" data-site="{{ .Site.BaseURL }}">
        <input type="hidden" name="q" value="">
      </form>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      {{ partial "menu.html" . }}
    </div>
  </div>
</header>
