{{ "<!-- Social -->" | safeHTML }}
<meta property="og:title" content="{{ .Title }}">
<meta property="og:url" content="{{ .Permalink }}">
{{ range first 1 ($.Scratch.Get "images") -}}
<meta property="og:image" content="{{ . }}">
{{ end }}
<meta property="og:site_name" content="{{ .Site.Title }}">
<meta property="og:description" content="{{ if .IsPage }}{{ .Summary }} &hellip;{{ else }}{{ .Site.Params.description }}{{ end }}">
<meta property="og:type" content="article">

<meta name="twitter:card" content="summary_large_image">
{{ range first 1 ($.Scratch.Get "images") -}}
<meta property="twitter:image" content="{{ . }}">
{{ end }}
<meta name="twitter:site" content="{{ .Site.Params.links.twitter.user }}">
<meta name="twitter:title" content="{{ .Title }}">
<meta name="twitter:description" content="{{ if .IsPage }}{{ .Summary }} &hellip;{{ else }}{{ .Site.Params.description }}{{ end }}">
<meta name="twitter:creator" content="{{ .Site.Params.links.twitter.user }}">