<script type="text/javascript" src="https://securepubads.g.doubleclick.net/tag/js/gpt.js" async></script>
<script>
    window.googletag = window.googletag || {cmd: []};
    googletag.cmd.push(function() {
      // header, blogbitix-980x280
      // footer, blogbitix-980x280
      // article, blogbitix-728x90
      // sidebarLeft, blogbitix-300x600-left
      // sidebarRight, blogbitix-300x600-right
      var headerSlot = googletag.defineSlot('/23054707577/ZH9HsBYd', [[980, 280], [728, 280], [300, 250], [250, 250]], 'div-gpt-ad-1705154566741-0').addService(googletag.pubads());
      var footerSlot = googletag.defineSlot('/23054707577/ankvbP5Z', [[250, 250], [300, 250], [728, 280], [980, 280]], 'div-gpt-ad-1729812526422-0').addService(googletag.pubads());
      var articleSlot = googletag.defineSlot('/23054707577/etaEP84a', [[728, 90], [468, 90], [300, 90]], 'div-gpt-ad-1705154918797-0').addService(googletag.pubads());
      var sidebarLeftSlot = googletag.defineSlot('/23054707577/s42YszNi', [[300, 600], [250, 600], [160, 600]], 'div-gpt-ad-1705605693502-0').addService(googletag.pubads());
      var sidebarRightSlot = googletag.defineSlot('/23054707577/GrHBPdvN', [[300, 600], [250, 600], [160, 600]], 'div-gpt-ad-1705155070019-0').addService(googletag.pubads());

      var headerMapping = googletag.sizeMapping()
        .addSize([1025, 0], [[980, 280]])
        .addSize([770, 0], [[728, 280]])
        .addSize([335, 0], [[300, 250], [250, 250]])
        .addSize([0, 0], [[300, 250], [250, 250]])
        .build();
      var footerMapping = googletag.sizeMapping()
        .addSize([1025, 0], [[980, 280]])
        .addSize([770, 0], [[728, 280]])
        .addSize([335, 0], [[300, 250], [250, 250]])
        .addSize([0, 0], [[300, 250], [250, 250]])
        .build();
      var articleMapping = googletag.sizeMapping()
        .addSize([770, 0], [[728, 90]])
        .addSize([0, 0], [[468, 90], [300, 90]])
        .build();
      var sidebarLeftMapping = googletag.sizeMapping()
        .addSize([1440, 0], [[300, 600]])
        .addSize([1366, 0], [[250, 600], [160, 600]])
        .addSize([1280, 0], [[160, 600]])
        .build();
      var sidebarRightMapping = googletag.sizeMapping()
        .addSize([1440, 0], [[300, 600]])
        .addSize([1366, 0], [[250, 600], [160, 600]])
        .addSize([1280, 0], [[160, 600]])
        .build();

      headerSlot.defineSizeMapping(headerMapping);
      footerSlot.defineSizeMapping(footerMapping);
      articleSlot.defineSizeMapping(articleMapping);
      sidebarLeftSlot.defineSizeMapping(sidebarLeftMapping);
      sidebarRightSlot.defineSizeMapping(sidebarRightMapping);

      googletag.pubads().enableSingleRequest();
      googletag.enableServices();
    });
</script>