{{ $expression := split .Params.imagePost ":" }}
{{ $binding := default "data" (index $expression 0) }}
{{ $value := default "blogbitix.png" (index $expression 1) }}

{{ if (eq $binding "resource") }}
    {{ $resource := .Page.Resources.GetMatch $value }}
    {{ $resource1x1 := $resource.Fit "1200x1200" }}

    {{ .Scratch.Set "image1x1" (cond (ne $resource nil) $resource1x1.RelPermalink nil) }}
{{ end }}
{{ if (eq $binding "data") }}
    {{ $value1x1 := replaceRE "\\.(png|jpg)$" "-1200.$1" $value }}
    {{ $image1x1 := print "static/assets/images/structured-data/" $value1x1 }}

    {{ if ne (fileExists $image1x1) true }}
        {{ errorf "Missing image post logotype: %s" $image1x1 }}
    {{ end }}

    {{ .Scratch.Set "image1x1" $image1x1 }}
{{ end }}

{{ $image1x1 := default .Site.Params.publisher.logotype (.Scratch.Get "image1x1") }}
{{ $image1x1 := $image1x1 | absURL }}
{{ $images := slice $image1x1 }}

{{ return $images }}