{{ $urlsuffix := .Site.Params.outputformats.amp.urlsuffix }}
{{ partial "html-head.amp.html" . }}
<body>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        {{ partial "head.amp.html" . }}
        <div class="row">
          <div class="col-12 adblock-container-billboard mt-3 mb-3 p-0">
            {{ partial "adsense/billboard.amp.html" . }}
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <h1>{{ .Title }}</h1>
            <h3>{{ i18n "tags_title" }}</h3>
            <p>{{ i18n "tags_description" }}</p>
            <ul class="tags">
              {{ range $tag, $taxonomy := .Site.Taxonomies.tags -}}
                {{ $url := print "tags/" $tag "/" $urlsuffix | relURL }}
                <li><a href="{{ $url | urlize }}">{{ $tag }}</a> <small>({{ $taxonomy.Count }})</small></li>
              {{ end }}
            </ul>
            <h3>{{ i18n "series_title" }}</h3>
            <p>{{ i18n "series_description" }}</p>
            <ul class="series">
            {{ range $serie, $taxonomy := .Site.Taxonomies.series -}}
              {{ $url := print "series/" $serie "/" $urlsuffix | relURL }}
              <li><a href="{{ $url | urlize }}">{{ $serie }}</a> <small>({{ $taxonomy.Count }})</small></li>
            {{ end }}
            </ul>
            <h3>{{ i18n "library_title" }}</h3>
            <p>{{ i18n "library_description" }}</p>
            <ul class="library">
            {{ range where .Site.Pages "Params.library" "true" -}}
              <li>
                <article class="h-entry">
                  <a href="{{ .Permalink }}" itemprop="name url">{{ .Title }}</a>
                  <small><time itemprop="datePublished" datetime="{{ .Date.Format "2006-01-02" }}">{{ .Date.Format "02/01/2006" }}</time></small>
                </article>
              </li>
            {{ end }}
            </ul>
            <h3>{{ i18n "archive_title" }}</h3>
            <p>{{ i18n "archive_description" }}</p>
            {{ range (where .Site.Pages "Section" "in" (split "posts" ",")).GroupByDate "2006" "desc" -}}
              <h3>{{ .Key }}</h3>
              <ul>
                {{ range where .Pages "Type" "in" (slice "post") -}}
                {{ if .Params.index }}
                <li>
                  <article class="h-entry">
                    {{ partial "icon-post.html" . }}
                    <a href="{{ .Permalink }}" class="p-name u-url">{{ .Title }}</a>
                  </article>
                </li>
                {{ end }}
                {{ end }}
              </ul>
            {{ end }}
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12 adblock-container-billboard mt-3 mb-3 p-0">
        {{ partial "adsense/billboard.amp.html" . }}
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <hr>
      </div>
    </div>
    {{ partial "footer.amp.html" . }}
  </div>
  {{ partial "html-footer.amp.html" . }}
  {{ partial "html-footer-custom.amp.html" . }}
</body>
</html>