{{ $urlsuffix := .Site.Params.outputformats.amp.urlsuffix }}
{{ partial "html-head.amp.html" . }}
<body>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        {{ partial "head.amp.html" . }}
        <div class="row">
          <div class="col-md-12 text-center">
            {{ partial "adsense/billboard.amp.html" . }}
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="adblock-sidebar-container">
              <div class="adblock-sidebar-container-left">
                {{ partial "adsense/auto-vertical.amp.html" . }}
              </div>
              <div class="adblock-sidebar-container-right">
                {{ partial "adsense/auto-vertical.amp.html" . }}
              </div>
            </div>
            <h1>{{ .Title }}</h1>
            <h3>{{ i18n "library" }}</h3>
            <ul class="library">
            {{ range where .Site.Pages "Params.library" "true" }}
              <li>
                <article class="h-entry">
                  <a href="{{ .Permalink }}" itemprop="name url">{{ .Title }}</a>
                  <small><time itemprop="datePublished" datetime="{{ .Date.Format "2006-01-02" }}">{{ .Date.Format "02/01/2006" }}</time></small>
                </article>
              </li>
            {{ end }}
            </ul>
            <h3>{{ i18n "tags" }}</h3>
            <ul class="tags">
              {{ range $name, $taxonomy := .Site.Taxonomies.tags }}
                {{ $url := print "tags/" $name "/" $urlsuffix | relURL }}
                <li><a href="{{ $url | urlize }}">{{ $name }}</a> <small>({{ $taxonomy.Count }})</small></li>
              {{ end }}
              </ul>
              <h3>Series</h3>
              <ul class="tags">
              {{ range $name, $taxonomy := .Site.Taxonomies.series }}
                {{ $url := print "series/" $name "/" $urlsuffix | relURL }}
                <li><a href="{{ $url | urlize }}">{{ $name }}</a> <small>({{ $taxonomy.Count }})</small></li>
              {{ end }}
            </ul>
            {{ range (where .Site.Pages "Section" "in" (split "2013,2014,2015,2016,2017,2018,2019,2020,2021,2022,2023,2024,2025,2026,2027,2028,2029" ",")).GroupByDate "2006" "desc" }}
              <h3>{{ .Key }}</h3>
              <ul>
              {{ range where .Pages "Title" "not in" (slice "Posts") }}
                <li>
                  <article class="h-entry">
                    <a href="{{ .Permalink }}" class="p-name u-url">{{ .Title }}</a>
                  </article>
                </li>
              {{ end }}
            </ul>
            {{ end }}
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 text-center">
        {{ partial "adsense/billboard.amp.html" . }}
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <hr>
      </div>
    </div>
    {{ partial "footer.amp.html" . }}
  </div>
  {{ partial "html-footer.amp.html" . }}
  {{ partial "html-footer-custom.amp.html" . }}
</body>
</html>