Donaciones que he realizado hasta el momento:

<table class="table">
    <thead class="thead-light">
        <tr class="thead-light">
            <th>Fecha</td>
            <th>Proyecto</td>
            <th>Donación</td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>2015/12</td>
            <td>FSFE</td>
            <td>40€</td>
        </tr>
        <tr>
            <td>2016/09</td>
            <td>Wikipedia, Firefox</td>
            <td>10€, 10€</td>
        </tr>
        <tr>
            <td>2017/01</td>
            <td>elementaryOS, Libre Office, Arch Linux ARM</td>
            <td>10€, 10€, 10€</td>
        </tr>
        <tr>
            <td>2017/05</td>
            <td>GNOME, VideoLAN (VLC), Arch Linux</td>
            <td>15,31€, 10€, 0,31€</td>
        </tr>
        <tr>
            <td>2018/01</td>
            <td>LineageOS, Replicant</td>
            <td>15€, 15€</td>
        </tr>
        <tr>
            <td>2018/12</td>
            <td>Wine</td>
            <td>$20</td>
        </tr>
        <tr>
            <td colspan="2">Total</td>
            <td>145,62€, $20</td>
        </tr>
    </tbody>
</table>
