[blogbitix-0]: https://picodotdev.github.io/blog-bitix/2013/12/hola-nuevo-mundo/
[blogbitix-1]: https://picodotdev.github.io/blog-bitix/2013/12/usar-el-dni-electronico-con-firefox-en-linux/
[blogbitix-2]: https://picodotdev.github.io/blog-bitix/2013/12/enviar-correos-electronicos-firmados-con-el-dnie-y-evolution/
[blogbitix-3]: https://picodotdev.github.io/blog-bitix/2013/12/firmar-digitalmente-documentos-con-el-dnie-y-sinadura/
[blogbitix-4]: https://picodotdev.github.io/blog-bitix/2013/12/hemeroteca-4/
[blogbitix-5]: https://picodotdev.github.io/blog-bitix/2014/01/raspberry-pi-como-media-center-con-geexbox/
[blogbitix-6]: https://picodotdev.github.io/blog-bitix/2014/01/iniciar-la-raspberry-pi-desde-un-disco-o-memoria-usb/
[blogbitix-7]: https://picodotdev.github.io/blog-bitix/2014/01/mi-experiencia-y-consejos-para-un-blog/
[blogbitix-8]: https://picodotdev.github.io/blog-bitix/2014/01/ejemplo-del-patron-de-diseno-no-operation/
[blogbitix-9]: https://picodotdev.github.io/blog-bitix/2014/01/logging-usando-marcadores-con-slf4j-y-logback/
[blogbitix-10]: https://picodotdev.github.io/blog-bitix/2014/02/servidor-de-aplicaciones-jboss-slash-wildfly/
[blogbitix-11]: https://picodotdev.github.io/blog-bitix/2014/02/presentacion-sobre-apache-tapestry/
[blogbitix-12]: https://picodotdev.github.io/blog-bitix/2014/02/libro-sobre-desarrollo-de-aplicaciones-con-apache-tapestry/
[blogbitix-13]: https://picodotdev.github.io/blog-bitix/2014/02/generar-y-convertir-claves-y-certificados-con-openssl/
[blogbitix-14]: https://picodotdev.github.io/blog-bitix/2014/02/configurar-ssl-en-un-servidor-tomcat-jboss-wildfly-lighttpd-nginx-apache/
[blogbitix-15]: https://picodotdev.github.io/blog-bitix/2014/03/introduccion-y-ejemplo-sencillo-de-java-message-service-jms/
[blogbitix-16]: https://picodotdev.github.io/blog-bitix/2014/03/guia-para-la-creacion-de-un-blog-con-octopress/
[blogbitix-17]: https://picodotdev.github.io/blog-bitix/2014/03/novedades-y-nuevas-caracteristicas-de-java-8/
[blogbitix-18]: https://picodotdev.github.io/blog-bitix/2014/03/desempaquetado-y-analisis-samsung-840-evo-ssd-250-gb/
[blogbitix-19]: https://picodotdev.github.io/blog-bitix/2014/04/usar-grunt-para-ejecutar-teses-unitarios-de-codigo-javascript/
[blogbitix-20]: https://picodotdev.github.io/blog-bitix/2014/04/ejemplo-lista-de-tareas-con-backbone-y-react/
[blogbitix-21]: https://picodotdev.github.io/blog-bitix/2014/04/introduccion-a-elasticsearch/
[blogbitix-22]: https://picodotdev.github.io/blog-bitix/2014/05/anexo-a-la-guia-de-instalacion-y-del-principiante-de-arch-linux/
[blogbitix-23]: https://picodotdev.github.io/blog-bitix/2014/05/presentacion-blog-stack/
[blogbitix-24]: https://picodotdev.github.io/blog-bitix/2014/05/arquitectura-y-hospedaje-de-blog-stack/
[blogbitix-25]: https://picodotdev.github.io/blog-bitix/2014/05/pagina-de-excepcion-de-grails/
[blogbitix-26]: https://picodotdev.github.io/blog-bitix/2014/05/detectar-problema-n-plus-1-y-obtener-estadisticas-de-hibernate-con-grails/
[blogbitix-27]: https://picodotdev.github.io/blog-bitix/2014/06/ejecutar-apache-tapestry-en-el-servidor-de-aplicaciones-wildfly/
[blogbitix-28]: https://picodotdev.github.io/blog-bitix/2014/06/pagina-dashboard-de-apache-tapestry/
[blogbitix-29]: https://picodotdev.github.io/blog-bitix/2014/06/iniciar-rapidamente-aplicacion-con-apache-tapestry/
[blogbitix-30]: https://picodotdev.github.io/blog-bitix/2014/06/hemeroteca-5/
[blogbitix-31]: https://picodotdev.github.io/blog-bitix/2014/07/modelo-push-contra-modelo-pull-en-frameworks-web/
[blogbitix-32]: https://picodotdev.github.io/blog-bitix/2014/07/plantillas-en-apache-tapestry/
[blogbitix-33]: https://picodotdev.github.io/blog-bitix/2014/07/anotacion-cached-de-apache-tapestry/
[blogbitix-34]: https://picodotdev.github.io/blog-bitix/2014/07/servir-recursos-estaticos-desde-un-cdn-en-apache-tapestry/
[blogbitix-35]: https://picodotdev.github.io/blog-bitix/2014/07/usar-apache-tapestry-en-una-aplicacion-standalone/
[blogbitix-36]: https://picodotdev.github.io/blog-bitix/2014/08/de-arch-linux-a-arch-linux/
[blogbitix-37]: https://picodotdev.github.io/blog-bitix/2014/08/experiencia-instalando-sistema-operativo-a-ordenador-viejo/
[blogbitix-38]: https://picodotdev.github.io/blog-bitix/2014/08/forzar-el-uso-del-protocolo-https-en-apache-tapestry/
[blogbitix-39]: https://picodotdev.github.io/blog-bitix/2014/08/doble-barra-de-botones-con-apache-tapestry/
[blogbitix-40]: https://picodotdev.github.io/blog-bitix/2014/08/actualizacion-del-libro-plugin-tapestry/
[blogbitix-41]: https://picodotdev.github.io/blog-bitix/2014/09/procesador-de-documentos-lyx/
[blogbitix-42]: https://picodotdev.github.io/blog-bitix/2014/09/compilar-y-cargar-de-forma-dinamica-una-clase-java/
[blogbitix-43]: https://picodotdev.github.io/blog-bitix/2014/09/monitorizar-archivos-con-java/
[blogbitix-44]: https://picodotdev.github.io/blog-bitix/2014/09/configuracion-usando-codigo-java/
[blogbitix-45]: https://picodotdev.github.io/blog-bitix/2014/09/agregador-blog-stack-redisenado/
[blogbitix-46]: https://picodotdev.github.io/blog-bitix/2014/10/generar-urls-semanticas-y-amigables/
[blogbitix-47]: https://picodotdev.github.io/blog-bitix/2014/10/que-es-y-como-hacer-web-scraping-en-java/
[blogbitix-48]: https://picodotdev.github.io/blog-bitix/2014/10/como-filtrar-contenido-html-de-forma-segura/
[blogbitix-49]: https://picodotdev.github.io/blog-bitix/2014/10/introduccion-y-caracteristicas-de-docker/
[blogbitix-50]: https://picodotdev.github.io/blog-bitix/2014/11/inicio-basico-de-docker/
[blogbitix-51]: https://picodotdev.github.io/blog-bitix/2014/11/como-crear-una-imagen-para-docker-usando-un-dockerfile/
[blogbitix-52]: https://picodotdev.github.io/blog-bitix/2014/11/introduccion-a-ansible/
[blogbitix-53]: https://picodotdev.github.io/blog-bitix/2014/11/integracion-entre-ansible-y-docker/
[blogbitix-54]: https://picodotdev.github.io/blog-bitix/2014/11/introduccion-a-bitnami/
[blogbitix-55]: https://picodotdev.github.io/blog-bitix/2014/12/8-plus-libros-para-mejorar-como-programadores/
[blogbitix-56]: https://picodotdev.github.io/blog-bitix/2014/12/ejercicios-katas-para-mejorar-habilidades-de-programacion-practicando/
[blogbitix-57]: https://picodotdev.github.io/blog-bitix/2014/12/introduccion-al-gestor-de-proyectos-y-tareas-redmine/
[blogbitix-58]: https://picodotdev.github.io/blog-bitix/2014/12/hemeroteca-6/
[blogbitix-59]: https://picodotdev.github.io/blog-bitix/2015/01/instalar-y-usar-plugin-agil-en-redmine/
[blogbitix-60]: https://picodotdev.github.io/blog-bitix/2015/01/introduccion-e-inicio-a-drupal/
[blogbitix-61]: https://picodotdev.github.io/blog-bitix/2015/01/como-hacer-un-substring-de-una-cadena-html/
[blogbitix-62]: https://picodotdev.github.io/blog-bitix/2015/01/conferencia-bilbostack-2015/
[blogbitix-63]: https://picodotdev.github.io/blog-bitix/2015/01/internacionalizacion-i18n-en-javascript/
[blogbitix-64]: https://picodotdev.github.io/blog-bitix/2015/01/convertir-fechas-y-husos-horarios-en-java/
[blogbitix-65]: https://picodotdev.github.io/blog-bitix/2015/02/5o-aniversario-del-blog/
[blogbitix-66]: https://picodotdev.github.io/blog-bitix/2015/02/como-hacer-un-downgrade-de-un-paquete-en-arch-linux/
[blogbitix-67]: https://picodotdev.github.io/blog-bitix/2015/02/la-palabra-clave-assert-de-java-y-un-ejemplo/
[blogbitix-68]: https://picodotdev.github.io/blog-bitix/2015/02/ejemplo-de-listener-de-eventos-de-hibernate/
[blogbitix-69]: https://picodotdev.github.io/blog-bitix/2015/02/listener-de-eventos-de-hibernate-con-servicios-de-spring/
[blogbitix-70]: https://picodotdev.github.io/blog-bitix/2015/03/datos-de-sesion-externalizados-con-spring-session/
[blogbitix-71]: https://picodotdev.github.io/blog-bitix/2015/03/aplicacion-web-java-autocontenida-con-tomcat-embedded/
[blogbitix-72]: https://picodotdev.github.io/blog-bitix/2015/03/introduccion-y-ejemplo-de-api-rpc-con-apache-thrift/
[blogbitix-73]: https://picodotdev.github.io/blog-bitix/2015/03/productividad-y-errores-de-compilacion-con-apache-tapestry/
[blogbitix-74]: https://picodotdev.github.io/blog-bitix/2015/04/evitar-iniciar-varias-veces-la-maquina-virtual-java-para-procesos-cortos/
[blogbitix-75]: https://picodotdev.github.io/blog-bitix/2015/04/guardar-contrasenas-usando-salted-password-hashing-y-otras-formas-correctas/
[blogbitix-76]: https://picodotdev.github.io/blog-bitix/2015/04/nueva-visita-a-5-plus-opciones-de-hosting-para-aplicaciones/
[blogbitix-77]: https://picodotdev.github.io/blog-bitix/2015/04/certificado-ssl-de-empresa-wildcard-y-de-validacion-extendida/
[blogbitix-78]: https://picodotdev.github.io/blog-bitix/2015/04/escribir-en-varios-writer-a-la-vez/
[blogbitix-79]: https://picodotdev.github.io/blog-bitix/2015/05/programacion-de-juegos-y-3d-en-java-con-jmonkeyengine/
[blogbitix-80]: https://picodotdev.github.io/blog-bitix/2015/05/nuevo-diseno-en-blog-bitix/
[blogbitix-81]: https://picodotdev.github.io/blog-bitix/2015/05/10-razones-para-seguir-usando-java/
[blogbitix-82]: https://picodotdev.github.io/blog-bitix/2015/05/alternativa-a-hibernate-u-orm-y-ejemplo-de-jooq/
[blogbitix-83]: https://picodotdev.github.io/blog-bitix/2015/05/patron-multiples-vistas-de-un-mismo-dato-en-tapestry/
[blogbitix-84]: https://picodotdev.github.io/blog-bitix/2015/06/nueva-visita-a-herramientas-para-un-proyecto-java/
[blogbitix-85]: https://picodotdev.github.io/blog-bitix/2015/06/servicio-para-obtener-ratios-de-conversion-entre-divisas/
[blogbitix-86]: https://picodotdev.github.io/blog-bitix/2015/06/hemeroteca-7/
[blogbitix-87]: https://picodotdev.github.io/blog-bitix/2015/07/aplicaciones-multicontenedor-con-docker-compose/
[blogbitix-88]: https://picodotdev.github.io/blog-bitix/2015/07/crear-y-usar-un-repositorio-en-docker-hub/
[blogbitix-89]: https://picodotdev.github.io/blog-bitix/2015/07/usar-docker-con-docker-machine-en-linux-windows-o-mac/
[blogbitix-90]: https://picodotdev.github.io/blog-bitix/2015/07/como-trabajar-con-importes-ratios-y-divisas-en-java/
[blogbitix-91]: https://picodotdev.github.io/blog-bitix/2015/07/cambiar-la-ruta-raiz-del-entorno-de-docker/
[blogbitix-92]: https://picodotdev.github.io/blog-bitix/2015/07/a-microsoft-no-le-importa-que-uses-windows-u-office-sin-licencia/
[blogbitix-93]: https://picodotdev.github.io/blog-bitix/2015/08/implementacion-de-maquina-de-estados-finita-fsm-con-java-8/
[blogbitix-94]: https://picodotdev.github.io/blog-bitix/2015/09/aplicacion-java-extensible-con-la-clase-serviceloader/
[blogbitix-95]: https://picodotdev.github.io/blog-bitix/2015/09/ejemplo-practico-de-serviceloader-con-serviceprovider-de-java-money/
[blogbitix-96]: https://picodotdev.github.io/blog-bitix/2015/09/ejemplo-de-multiproyecto-con-gradle/
[blogbitix-97]: https://picodotdev.github.io/blog-bitix/2015/09/grabar-y-compartir-video-de-la-terminal-con-asciinema/
[blogbitix-98]: https://picodotdev.github.io/blog-bitix/2015/09/generar-recursos-estaticos-con-wro4j/
[blogbitix-99]: https://picodotdev.github.io/blog-bitix/2015/09/ejemplo-del-patron-de-diseno-builder/
[blogbitix-100]: https://picodotdev.github.io/blog-bitix/2015/10/introduccion-a-javafx-aplicaciones-de-escritorio-en-java/
[blogbitix-101]: https://picodotdev.github.io/blog-bitix/2015/10/similitudes-entre-react-y-polymer-con-apache-tapestry/
[blogbitix-102]: https://picodotdev.github.io/blog-bitix/2015/10/javafx-scene-builder-editor-para-crear-archivos-fxml/
[blogbitix-103]: https://picodotdev.github.io/blog-bitix/2015/10/aplicacion-java-autocontenida-con-spring-boot/
[blogbitix-104]: https://picodotdev.github.io/blog-bitix/2015/10/como-crear-clases-factoria-sin-usar-if-else/
[blogbitix-105]: https://picodotdev.github.io/blog-bitix/2015/10/el-patron-de-diseno-observer-y-una-forma-de-implementarlo-en-java/
[blogbitix-106]: https://picodotdev.github.io/blog-bitix/2015/10/multiples-esquemas-o-bases-de-datos-con-jooq-y-spring-en-java/
[blogbitix-107]: https://picodotdev.github.io/blog-bitix/2015/10/caracteristicas-de-los-lenguajes-de-programacion/
[blogbitix-108]: https://picodotdev.github.io/blog-bitix/2015/11/java-para-tareas-de-scripting/
[blogbitix-109]: https://picodotdev.github.io/blog-bitix/2015/11/obtener-datos-de-multiples-tablas-con-jooq/
[blogbitix-110]: https://picodotdev.github.io/blog-bitix/2015/11/validar-objetos-con-spring-validation-ejemplo-registros-de-jooq/
[blogbitix-111]: https://picodotdev.github.io/blog-bitix/2015/11/comprando-por-internet-unos-estores-en-cortinadecor/
[blogbitix-112]: https://picodotdev.github.io/blog-bitix/2015/11/configuracion-de-una-aplicacion-en-diferentes-entornos-con-spring-cloud-config/
[blogbitix-113]: https://picodotdev.github.io/blog-bitix/2015/12/informacion-y-metricas-de-la-aplicacion-con-spring-boot-actuator/
[blogbitix-114]: https://picodotdev.github.io/blog-bitix/2015/12/monitorizar-estado-de-sitios-web-con-uptime-robot/
[blogbitix-115]: https://picodotdev.github.io/blog-bitix/2015/12/como-buscar-los-enlaces-rotos-de-un-sitio-web/
[blogbitix-116]: https://picodotdev.github.io/blog-bitix/2015/12/publicado-apache-tapestry-5-4/
[blogbitix-117]: https://picodotdev.github.io/blog-bitix/2015/12/yo-apoyo-al-software-libre-tu-tambien/
[blogbitix-118]: https://picodotdev.github.io/blog-bitix/2016/01/hemeroteca-8/
[blogbitix-119]: https://picodotdev.github.io/blog-bitix/2016/01/windows-10-y-office-2016-tan-faciles-de-usar-sin-licencia-como-siempre/
[blogbitix-120]: https://picodotdev.github.io/blog-bitix/2016/01/introduccion-y-ejemplo-basico-sobre-vertx/
[blogbitix-121]: https://picodotdev.github.io/blog-bitix/2016/01/aplicacion-web-con-spark-framework-y-java/
[blogbitix-122]: https://picodotdev.github.io/blog-bitix/2016/01/desempaquetado-y-analisis-de-aspiradora-dyson-dc37c-advanced-allergy/
[blogbitix-123]: https://picodotdev.github.io/blog-bitix/2016/01/conferencia-bilbostack-2016/
[blogbitix-124]: https://picodotdev.github.io/blog-bitix/2016/02/6o-aniversario-del-blog/
[blogbitix-125]: https://picodotdev.github.io/blog-bitix/2016/02/como-recuperar-archivos-eliminados-o-de-una-unidad-corrupta-en-gnu-linux/
[blogbitix-126]: https://picodotdev.github.io/blog-bitix/2016/02/cifrar-archivos-con-encfs-en-gnu-linux/
[blogbitix-127]: https://picodotdev.github.io/blog-bitix/2016/02/introduccion-al-protocolo-http-2/
[blogbitix-128]: https://picodotdev.github.io/blog-bitix/2016/02/cifrar-unidad-usb-completamente-con-dm-crypt-y-luks-en-gnu-linux/
[blogbitix-129]: https://picodotdev.github.io/blog-bitix/2016/02/configurar-http-2-en-nginx-apache-httpd-wildfly-o-jetty/
[blogbitix-130]: https://picodotdev.github.io/blog-bitix/2016/03/como-eliminar-de-forma-segura-archivos-con-wipe-y-dd-en-gnu-linux/
[blogbitix-131]: https://picodotdev.github.io/blog-bitix/2016/03/introduccion-y-nuevas-caracteristicas-de-java-ee-7/
[blogbitix-132]: https://picodotdev.github.io/blog-bitix/2016/03/como-ejecutar-un-proceso-del-sistema-con-java/
[blogbitix-133]: https://picodotdev.github.io/blog-bitix/2016/03/como-firmar-correos-electronicos-con-gpg-y-javamail/
[blogbitix-134]: https://picodotdev.github.io/blog-bitix/2016/03/cambiar-el-formato-de-archivos-de-musica-o-audio-en-gnu-linux/
[blogbitix-135]: https://picodotdev.github.io/blog-bitix/2016/04/cambiar-el-formato-de-archivos-de-video-o-peliculas-en-gnu-linux/
[blogbitix-136]: https://picodotdev.github.io/blog-bitix/2016/04/aplicacion-de-ejemplo-usando-varias-especificaciones-de-java-ee-7/
[blogbitix-137]: https://picodotdev.github.io/blog-bitix/2016/04/usar-twitter-desde-java-con-twitter4j/
[blogbitix-138]: https://picodotdev.github.io/blog-bitix/2016/04/tutorial-sobre-los-tipos-genericos-de-java/
[blogbitix-139]: https://picodotdev.github.io/blog-bitix/2016/04/el-componente-grid-de-apache-tapestry/
[blogbitix-140]: https://picodotdev.github.io/blog-bitix/2016/05/extraer-elementos-de-una-cadena-con-una-expresion-regular/
[blogbitix-141]: https://picodotdev.github.io/blog-bitix/2016/05/que-es-el-concepto-de-heap-pollution-en-java/
[blogbitix-142]: https://picodotdev.github.io/blog-bitix/2016/05/la-clase-threadlocal-de-java-y-usos-practicos/
[blogbitix-143]: https://picodotdev.github.io/blog-bitix/2016/05/3-opciones-ofimaticas-alternativas-a-microsoft-office/
[blogbitix-144]: https://picodotdev.github.io/blog-bitix/2016/05/como-realizar-copias-de-seguridad-en-windows-con-freefilesync/
[blogbitix-145]: https://picodotdev.github.io/blog-bitix/2016/05/incluir-informacion-de-la-version-en-el-artefacto-distribuible-con-gradle/
[blogbitix-146]: https://picodotdev.github.io/blog-bitix/2016/05/ejemplo-sencillo-de-como-crear-un-excel-en-java-con-apache-poi/
[blogbitix-147]: https://picodotdev.github.io/blog-bitix/2016/06/ofrecer-contenido-personalizado-al-usuario-basado-en-su-ubicacion/
[blogbitix-148]: https://picodotdev.github.io/blog-bitix/2016/06/moment-js-libreria-javascript-para-fechas/
[blogbitix-149]: https://picodotdev.github.io/blog-bitix/2016/06/la-siguiente-disrupcion-tecnologica-la-convergencia/
[blogbitix-150]: https://picodotdev.github.io/blog-bitix/2016/06/atajos-de-teclado-basicos-de-la-terminal-en-gnu-linux/
[blogbitix-151]: https://picodotdev.github.io/blog-bitix/2016/06/como-redirigir-peticiones-de-http-a-https-en-nginx-apache-tomcat-jetty-y-wildfly/
[blogbitix-152]: https://picodotdev.github.io/blog-bitix/2016/06/combinacion-de-teclas-para-copiar-y-pegar-en-la-terminal/
[blogbitix-153]: https://picodotdev.github.io/blog-bitix/2016/06/el-lenguaje-de-programacion-framework-y-librerias-importan/
[blogbitix-154]: https://picodotdev.github.io/blog-bitix/2016/07/hemeroteca-9/
[blogbitix-155]: https://picodotdev.github.io/blog-bitix/2016/07/como-optimizar-un-sitio-web-con-compresion-gzip-en-nginx-y-apache-httpd/
[blogbitix-156]: https://picodotdev.github.io/blog-bitix/2016/07/comandos-basicos-de-gnu-linux/
[blogbitix-157]: https://picodotdev.github.io/blog-bitix/2016/07/configurar-nginx-como-balanceador-de-carga/
[blogbitix-158]: https://picodotdev.github.io/blog-bitix/2016/07/guia-basica-del-interprete-de-comandos-bash/
[blogbitix-159]: https://picodotdev.github.io/blog-bitix/2016/07/como-crear-un-proxy-inverso-entre-el-servidor-web-nginx-y-un-servidor-de-aplicaciones-java/
[blogbitix-160]: https://picodotdev.github.io/blog-bitix/2016/07/jugar-al-ajedrez-en-gnu-linux-con-gnome/
[blogbitix-161]: https://picodotdev.github.io/blog-bitix/2016/07/como-crear-vistas-previas-de-imagenes-con-imagemagick/
[blogbitix-162]: https://picodotdev.github.io/blog-bitix/2016/07/las-cabeceras-de-cache-del-protocolo-http/
[blogbitix-163]: https://picodotdev.github.io/blog-bitix/2016/07/jugar-al-clasico-de-estrategia-de-tablero-go-en-gnu-linux/
[blogbitix-164]: https://picodotdev.github.io/blog-bitix/2016/07/no-un-tag-jsp-o-un-tag-de-grails-no-es-equivalente-a-un-componente-de-tapestry/
[blogbitix-165]: https://picodotdev.github.io/blog-bitix/2016/07/configurar-nginx-para-cachear-respuestas-del-servidor-de-aplicaciones/
[blogbitix-166]: https://picodotdev.github.io/blog-bitix/2016/08/como-y-por-que-redirigir-trafico-web-del-dominio-raiz-al-subdominio-www/
[blogbitix-167]: https://picodotdev.github.io/blog-bitix/2016/08/juegos-incluidos-en-el-entorno-de-escritorio-gnome/
[blogbitix-168]: https://picodotdev.github.io/blog-bitix/2016/08/por-que-guardar-las-fechas-en-utc-en-la-base-de-datos/
[blogbitix-169]: https://picodotdev.github.io/blog-bitix/2016/08/eligiendo-proveedor-de-internet-finalmente-pepephone/
[blogbitix-170]: https://picodotdev.github.io/blog-bitix/2016/08/jugar-a-videojuegos-clasicos-y-miticos-de-arcade-con-mame-en-gnu-linux/
[blogbitix-171]: https://picodotdev.github.io/blog-bitix/2016/08/descargar-paquetes-a-actualizar-sin-instalarlos-en-arch-linux/
[blogbitix-172]: https://picodotdev.github.io/blog-bitix/2016/08/22-plus-buenos-juegos-en-gnu-linux/
[blogbitix-173]: https://picodotdev.github.io/blog-bitix/2016/08/varios-juegos-de-culto-con-scummvm-en-gnu-linux/
[blogbitix-174]: https://picodotdev.github.io/blog-bitix/2016/08/como-configurar-una-impresora-hp-en-red-en-arch-linux/
[blogbitix-175]: https://picodotdev.github.io/blog-bitix/2016/08/sobre-los-infimos-impuestos-que-paga-apple/

[elblogdepicodev-0]: http://elblogdepicodev.blogspot.com.es/2010/02/hola-mundo_06.html
[elblogdepicodev-1]: http://elblogdepicodev.blogspot.com.es/2010/02/cambiando-el-fondo-de-pantalla-del.html
[elblogdepicodev-2]: http://elblogdepicodev.blogspot.com.es/2010/02/cambiar-el-fondo-de-pantalla-de-gdm.html
[elblogdepicodev-3]: http://elblogdepicodev.blogspot.com.es/2010/02/configurar-modo-grafico-de-grub-2.html
[elblogdepicodev-4]: http://elblogdepicodev.blogspot.com.es/2010/02/enlaces-de-la-semana-6-del-2010.html
[elblogdepicodev-5]: http://elblogdepicodev.blogspot.com.es/2010/02/escuchar-radios-traves-de-internet-con.html
[elblogdepicodev-6]: http://elblogdepicodev.blogspot.com.es/2010/02/alternativas-tus-programas-propietarios.html
[elblogdepicodev-7]: http://elblogdepicodev.blogspot.com.es/2010/02/cambiar-los-punteros-del-raton-en-arch.html
[elblogdepicodev-8]: http://elblogdepicodev.blogspot.com.es/2010/02/enlaces-de-la-semana-7-de-2010.html
[elblogdepicodev-9]: http://elblogdepicodev.blogspot.com.es/2010/02/publicado-calendario-gnome-30.html
[elblogdepicodev-10]: http://elblogdepicodev.blogspot.com.es/2010/02/instalar-el-tema-de-iconos-gnome-colors.html
[elblogdepicodev-11]: http://elblogdepicodev.blogspot.com.es/2010/02/mejorar-la-visualizacion-de-la-fuentes.html
[elblogdepicodev-12]: http://elblogdepicodev.blogspot.com.es/2010/02/enlaces-de-la-semana-8-de-2010.html
[elblogdepicodev-13]: http://elblogdepicodev.blogspot.com.es/2010/03/cambiar-el-prompt-de-la-terminal-bash.html
[elblogdepicodev-14]: http://elblogdepicodev.blogspot.com.es/2010/03/enlaces-de-la-semana-9-de-2010.html
[elblogdepicodev-15]: http://elblogdepicodev.blogspot.com.es/2010/03/de-windows-arch-linux.html
[elblogdepicodev-16]: http://elblogdepicodev.blogspot.com.es/2010/03/arch-linux-cheat-cube.html
[elblogdepicodev-17]: http://elblogdepicodev.blogspot.com.es/2010/04/gnome-230-publicado.html
[elblogdepicodev-18]: http://elblogdepicodev.blogspot.com.es/2010/04/instalar-conector-apr-en-jboss-51.html
[elblogdepicodev-19]: http://elblogdepicodev.blogspot.com.es/2010/05/hola-mundo-con-apache-tapestry.html
[elblogdepicodev-20]: http://elblogdepicodev.blogspot.com.es/2010/05/actualizacion-medios-instalacion-arch.html
[elblogdepicodev-21]: http://elblogdepicodev.blogspot.com.es/2010/05/documentacion-sobre-apache-tapestry.html
[elblogdepicodev-22]: http://elblogdepicodev.blogspot.com.es/2010/05/hola-mundo-con-apache-tapestry-5.html
[elblogdepicodev-23]: http://elblogdepicodev.blogspot.com.es/2010/05/guia-instalacion-arch-linux-parte-i.html
[elblogdepicodev-24]: http://elblogdepicodev.blogspot.com.es/2010/06/cambiar-el-fondo-de-escritorio.html
[elblogdepicodev-25]: http://elblogdepicodev.blogspot.com.es/2010/06/disenador-de-plantillas-de-blogger-in.html
[elblogdepicodev-26]: http://elblogdepicodev.blogspot.com.es/2010/06/hola-mundo-con-apache-tapestry-51-en.html
[elblogdepicodev-27]: http://elblogdepicodev.blogspot.com.es/2010/06/sistema-de-control-de-versiones.html
[elblogdepicodev-28]: http://elblogdepicodev.blogspot.com.es/2010/07/guia-instalacion-arch-linux-parte-ii.html
[elblogdepicodev-29]: http://elblogdepicodev.blogspot.com.es/2010/07/aurvote-paquete-para-votar-paquetes-de.html
[elblogdepicodev-30]: http://elblogdepicodev.blogspot.com.es/2010/08/firebug-revision-de-la-traduccion-al.html
[elblogdepicodev-31]: http://elblogdepicodev.blogspot.com.es/2010/08/lenguajes-de-scripting-sobre-la.html
[elblogdepicodev-32]: http://elblogdepicodev.blogspot.com.es/2010/08/programacion-orientada-aspectos-con-la.html
[elblogdepicodev-33]: http://elblogdepicodev.blogspot.com.es/2010/08/copiar-archivos-desde-y-un-dispositivo.html
[elblogdepicodev-34]: http://elblogdepicodev.blogspot.com.es/2010/10/gnome-232-publicado-rumbo-gnome-30.html
[elblogdepicodev-35]: http://elblogdepicodev.blogspot.com.es/2010/10/instalar-la-ubuntu-font-en-arch-linux.html
[elblogdepicodev-36]: http://elblogdepicodev.blogspot.com.es/2010/10/ubuntu-enterprise-cloud-1010.html
[elblogdepicodev-37]: http://elblogdepicodev.blogspot.com.es/2010/10/virtualbox-linux-y-adaptador-puente.html
[elblogdepicodev-38]: http://elblogdepicodev.blogspot.com.es/2010/10/el-sistema-operativo-minix.html
[elblogdepicodev-39]: http://elblogdepicodev.blogspot.com.es/2010/11/guia-instalacion-minix.html
[elblogdepicodev-40]: http://elblogdepicodev.blogspot.com.es/2010/11/entorno-de-desarrollo-para-apache.html
[elblogdepicodev-41]: http://elblogdepicodev.blogspot.com.es/2010/11/nueva-pagina-web-de-apache-tapestry.html
[elblogdepicodev-42]: http://elblogdepicodev.blogspot.com.es/2010/12/juegos-para-gnulinux.html
[elblogdepicodev-43]: http://elblogdepicodev.blogspot.com.es/2010/12/apache-tapestry-524-publicado.html
[elblogdepicodev-44]: http://elblogdepicodev.blogspot.com.es/2010/12/feliz-navidad-y-prospero-2011.html
[elblogdepicodev-45]: http://elblogdepicodev.blogspot.com.es/2011/01/componente-cache-para-tapestry-5.html
[elblogdepicodev-46]: http://elblogdepicodev.blogspot.com.es/2011/01/componente-lista-para-tapestry-5.html
[elblogdepicodev-47]: http://elblogdepicodev.blogspot.com.es/2011/02/chrome-web-store.html
[elblogdepicodev-48]: http://elblogdepicodev.blogspot.com.es/2011/02/1-aniversario-del-blog.html
[elblogdepicodev-49]: http://elblogdepicodev.blogspot.com.es/2011/02/unir-apache-httpd-y-tomcat-mediante-un.html
[elblogdepicodev-50]: http://elblogdepicodev.blogspot.com.es/2011/02/enviar-correos-mediante-java-mail.html
[elblogdepicodev-51]: http://elblogdepicodev.blogspot.com.es/2011/02/implementacion-de-un-comparator.html
[elblogdepicodev-52]: http://elblogdepicodev.blogspot.com.es/2011/03/instalar-plymouth-como-arranque-grafico.html
[elblogdepicodev-53]: http://elblogdepicodev.blogspot.com.es/2011/04/poner-en-color-pacman-y-yaourt.html
[elblogdepicodev-54]: http://elblogdepicodev.blogspot.com.es/2011/04/publicado-gnome-3.html
[elblogdepicodev-55]: http://elblogdepicodev.blogspot.com.es/2011/04/hola-planeta-linux.html
[elblogdepicodev-56]: http://elblogdepicodev.blogspot.com.es/2011/04/obtener-informacion-del-sistema-en.html
[elblogdepicodev-57]: http://elblogdepicodev.blogspot.com.es/2011/05/impuesto-windows.html
[elblogdepicodev-58]: http://elblogdepicodev.blogspot.com.es/2011/05/anadir-marcas-de-agua-con-imagemagick.html
[elblogdepicodev-59]: http://elblogdepicodev.blogspot.com.es/2011/05/guias-de-instalacion-arch-linux.html
[elblogdepicodev-60]: http://elblogdepicodev.blogspot.com.es/2011/05/servidor-web-ligero-cherokee.html
[elblogdepicodev-61]: http://elblogdepicodev.blogspot.com.es/2011/06/libros-de-ciencia-ficcion-y-fantasia.html
[elblogdepicodev-62]: http://elblogdepicodev.blogspot.com.es/2011/06/elegir-herramientas-para-un-proyecto.html
[elblogdepicodev-63]: http://elblogdepicodev.blogspot.com.es/2011/06/instalar-symfony-y-cherokee-en-arch.html
[elblogdepicodev-64]: http://elblogdepicodev.blogspot.com.es/2011/06/hola-mundo-con-symfony-2-y-cherokee.html
[elblogdepicodev-65]: http://elblogdepicodev.blogspot.com.es/2011/07/motivos-para-elegir-la-distribucion.html
[elblogdepicodev-66]: http://elblogdepicodev.blogspot.com.es/2011/07/usar-apache-tapestry-5-con-groovy-u.html
[elblogdepicodev-67]: http://elblogdepicodev.blogspot.com.es/2011/07/video-promocional-sobre-arch-linux.html
[elblogdepicodev-68]: http://elblogdepicodev.blogspot.com.es/2011/07/un-dia-en-la-euskal-encounter-19.html
[elblogdepicodev-69]: http://elblogdepicodev.blogspot.com.es/2011/08/internacionalizacion-lenguajes-con.html
[elblogdepicodev-70]: http://elblogdepicodev.blogspot.com.es/2011/08/seleccionar-el-lenguaje-locale-segun-el.html
[elblogdepicodev-71]: http://elblogdepicodev.blogspot.com.es/2011/08/motivos-para-elegir-apache-tapestry.html
[elblogdepicodev-72]: http://elblogdepicodev.blogspot.com.es/2011/09/integracion-continua-con-jenkins.html
[elblogdepicodev-73]: http://elblogdepicodev.blogspot.com.es/2011/09/componente-ajaxspinner-para-apache.html
[elblogdepicodev-74]: http://elblogdepicodev.blogspot.com.es/2011/09/comparar-cadenas-en-java-ignorando.html
[elblogdepicodev-75]: http://elblogdepicodev.blogspot.com.es/2011/09/peticiones-ajax-en-tapestry.html
[elblogdepicodev-76]: http://elblogdepicodev.blogspot.com.es/2011/10/configuracion-de-entorno-en-java-con.html
[elblogdepicodev-77]: http://elblogdepicodev.blogspot.com.es/2011/10/ejemplo-sencillo-con-javacc-de-un.html
[elblogdepicodev-78]: http://elblogdepicodev.blogspot.com.es/2011/10/peticiones-ajax-en-tapestry-ii.html
[elblogdepicodev-79]: http://elblogdepicodev.blogspot.com.es/2011/10/hola-planeta-codigo.html
[elblogdepicodev-80]: http://elblogdepicodev.blogspot.com.es/2011/11/formatear-precios-con-simbolo-de-moneda.html
[elblogdepicodev-81]: http://elblogdepicodev.blogspot.com.es/2011/11/internacionalizacion-i18n-de-campos-con.html
[elblogdepicodev-82]: http://elblogdepicodev.blogspot.com.es/2011/11/personalizar-gnome-iconos-temas.html
[elblogdepicodev-83]: http://elblogdepicodev.blogspot.com.es/2011/11/apache-tapestry-53-publicado.html
[elblogdepicodev-84]: http://elblogdepicodev.blogspot.com.es/2011/12/convenciones-para-los-literales-en.html
[elblogdepicodev-85]: http://elblogdepicodev.blogspot.com.es/2011/12/como-seria-si-microsoft-apple-y-linux.html
[elblogdepicodev-86]: http://elblogdepicodev.blogspot.com.es/2011/12/arte-usando-texto-ascii-con-figlet.html
[elblogdepicodev-87]: http://elblogdepicodev.blogspot.com.es/2011/12/feliz-navidad-y-prospero-2012.html
[elblogdepicodev-88]: http://elblogdepicodev.blogspot.com.es/2012/01/calendario-arch-linux-2012.html
[elblogdepicodev-89]: http://elblogdepicodev.blogspot.com.es/2012/01/errores-de-precision-redondeo-y.html
[elblogdepicodev-90]: http://elblogdepicodev.blogspot.com.es/2012/01/last-como-obtener-los-ultimos-inicios.html
[elblogdepicodev-91]: http://elblogdepicodev.blogspot.com.es/2012/02/recarga-de-clases-class-reloading-en.html
[elblogdepicodev-92]: http://elblogdepicodev.blogspot.com.es/2012/02/por-que-usar-enums-en-vez-de-constantes.html
[elblogdepicodev-93]: http://elblogdepicodev.blogspot.com.es/2012/02/debug-de-una-aplicacion-java.html
[elblogdepicodev-94]: http://elblogdepicodev.blogspot.com.es/2012/02/5-opciones-de-hosting-para-aplicaciones.html
[elblogdepicodev-95]: http://elblogdepicodev.blogspot.com.es/2012/03/conversiones-de-datos-entre-el-cliente.html
[elblogdepicodev-96]: http://elblogdepicodev.blogspot.com.es/2012/03/guia-post-instalacion-minix.html
[elblogdepicodev-97]: http://elblogdepicodev.blogspot.com.es/2012/03/patrones-de-diseno-en-la-programacion.html
[elblogdepicodev-98]: http://elblogdepicodev.blogspot.com.es/2012/03/herramienta-de-construccion-gradle.html
[elblogdepicodev-99]: http://elblogdepicodev.blogspot.com.es/2012/03/karmacracy-y-como-integrarlo-en-blogger.html
[elblogdepicodev-100]: http://elblogdepicodev.blogspot.com.es/2012/04/usar-gradle-mediante-gradle-wrapper.html
[elblogdepicodev-101]: http://elblogdepicodev.blogspot.com.es/2012/04/ejemplo-del-patron-de-diseno-command-y.html
[elblogdepicodev-102]: http://elblogdepicodev.blogspot.com.es/2012/04/librerias-de-logging-para-java-slf4j.html
[elblogdepicodev-103]: http://elblogdepicodev.blogspot.com.es/2012/05/obtener-la-clave-de-una-red-wifi-wep.html
[elblogdepicodev-104]: http://elblogdepicodev.blogspot.com.es/2012/05/github-repositorio-git-para-proyectos.html
[elblogdepicodev-105]: http://elblogdepicodev.blogspot.com.es/2012/05/raspberry-pi-desempaquetado-unboxing.html
[elblogdepicodev-106]: http://elblogdepicodev.blogspot.com.es/2012/05/guia-instalacion-cyanogenmod.html
[elblogdepicodev-107]: http://elblogdepicodev.blogspot.com.es/2012/06/hojas-de-estilo-css-con-less.html
[elblogdepicodev-108]: http://elblogdepicodev.blogspot.com.es/2012/06/guia-instalacion-raspberry-pi-con-arch.html
[elblogdepicodev-109]: http://elblogdepicodev.blogspot.com.es/2012/06/componente-selector-de-fecha-para.html
[elblogdepicodev-110]: http://elblogdepicodev.blogspot.com.es/2012/06/guia-instalacion-raspberry-pi-con-arch_22.html
[elblogdepicodev-111]: http://elblogdepicodev.blogspot.com.es/2012/06/hemeroteca-1.html
[elblogdepicodev-112]: http://elblogdepicodev.blogspot.com.es/2012/07/validaciones-de-datos-de-formularios.html
[elblogdepicodev-113]: http://elblogdepicodev.blogspot.com.es/2012/07/extender-las-validaciones-de-apache.html
[elblogdepicodev-114]: http://elblogdepicodev.blogspot.com.es/2012/07/pruebas-unitarias-con-spock-y-mockito.html
[elblogdepicodev-115]: http://elblogdepicodev.blogspot.com.es/2012/07/obtener-informacion-del-entorno-de-una.html
[elblogdepicodev-116]: http://elblogdepicodev.blogspot.com.es/2012/08/jodatime-y-como-integrarlo-con-hibernate.html
[elblogdepicodev-117]: http://elblogdepicodev.blogspot.com.es/2012/08/analisis-estatico-de-codigo-con-pmd.html
[elblogdepicodev-118]: http://elblogdepicodev.blogspot.com.es/2012/08/desempaquetado-unboxing-de-amazon.html
[elblogdepicodev-119]: http://elblogdepicodev.blogspot.com.es/2012/08/paginas-pagecatalog-servicestatus-e.html
[elblogdepicodev-120]: http://elblogdepicodev.blogspot.com.es/2012/08/deshabilitar-el-parametro-jsessionid.html
[elblogdepicodev-121]: http://elblogdepicodev.blogspot.com.es/2012/09/systemd-reemplazo-de-sysvinit.html
[elblogdepicodev-122]: http://elblogdepicodev.blogspot.com.es/2012/09/guia-para-aprender-usar-vim.html
[elblogdepicodev-123]: http://elblogdepicodev.blogspot.com.es/2012/09/conceptos-sobre-procesos-de-negocio-bp.html
[elblogdepicodev-124]: http://elblogdepicodev.blogspot.com.es/2012/09/procesos-de-negocio-con-activiti.html
[elblogdepicodev-125]: http://elblogdepicodev.blogspot.com.es/2012/10/usar-variables-en-un-proceso-de-negocio.html
[elblogdepicodev-126]: http://elblogdepicodev.blogspot.com.es/2012/10/tratamiento-de-errores-en-procesos-de.html
[elblogdepicodev-127]: http://elblogdepicodev.blogspot.com.es/2012/10/reglas-de-negocio-con-drools-y-activiti.html
[elblogdepicodev-128]: http://elblogdepicodev.blogspot.com.es/2012/10/crear-un-archivo-zip-con-java.html
[elblogdepicodev-129]: http://elblogdepicodev.blogspot.com.es/2012/11/convertir-imagenes-entre-formatos-y.html
[elblogdepicodev-130]: http://elblogdepicodev.blogspot.com.es/2012/11/como-devolver-un-archivo-con-apache.html
[elblogdepicodev-131]: http://elblogdepicodev.blogspot.com.es/2012/11/como-enviar-un-archivo-con-apache.html
[elblogdepicodev-132]: http://elblogdepicodev.blogspot.com.es/2012/11/como-crear-y-usar-sprites-en-paginas.html
[elblogdepicodev-133]: http://elblogdepicodev.blogspot.com.es/2012/12/mi-guia-para-eleccion-de-portatil-nuevo.html
[elblogdepicodev-134]: http://elblogdepicodev.blogspot.com.es/2012/12/desempaquetado-sony-vaio-e-14p.html
[elblogdepicodev-135]: http://elblogdepicodev.blogspot.com.es/2012/12/analisis-software-y-bios-sony-vaio-e-14p.html
[elblogdepicodev-135]: http://elblogdepicodev.blogspot.com.es/2012/12/color-en-la-terminal-con-jansi.html
[elblogdepicodev-136]: http://elblogdepicodev.blogspot.com.es/2012/12/el-blog-de-picodev-te-desea-un-2013.html
[elblogdepicodev-137]: http://elblogdepicodev.blogspot.com.es/2013/01/calendario-arch-linux-2013.html
[elblogdepicodev-138]: http://elblogdepicodev.blogspot.com.es/2013/01/dejar-procesos-vivos-de-conexion-ssh.html
[elblogdepicodev-139]: http://elblogdepicodev.blogspot.com.es/2013/01/autenticacion-ssh-con-clave-privada-y.html
[elblogdepicodev-140]: http://elblogdepicodev.blogspot.com.es/2013/01/4-formas-de-escuchar-musica-internet.html
[elblogdepicodev-141]: http://elblogdepicodev.blogspot.com.es/2013/02/reproductor-de-radios-jamendo-con-python.html
[elblogdepicodev-142]: http://elblogdepicodev.blogspot.com.es/2013/02/ejemplo-sencillo-de-web-service-con-resteasy.html
[elblogdepicodev-143]: http://elblogdepicodev.blogspot.com.es/2013/02/cliente-javascript-y-java-de-servicio-web-resteasy.html
[elblogdepicodev-144]: http://elblogdepicodev.blogspot.com.es/2013/02/devolver-xml-json-o-html-con-resteasy.html
[elblogdepicodev-145]: http://elblogdepicodev.blogspot.com.es/2013/03/integracion-tapestry-con-resteasy.htm.html
[elblogdepicodev-146]: http://elblogdepicodev.blogspot.com.es/2013/03/skinning-de-web-usando-apache-tapestry.html
[elblogdepicodev-147]: http://elblogdepicodev.blogspot.com.es/2013/03/introduccion-y-ejemplo-de-requirejs.html
[elblogdepicodev-148]: http://elblogdepicodev.blogspot.com.es/2013/03/introduccion-y-ejemplo-de-mustache.htmlf
[elblogdepicodev-149]: http://elblogdepicodev.blogspot.com.es/2013/03/logging-en-javascript-con-log4javascript.html
[elblogdepicodev-150]: http://elblogdepicodev.blogspot.com.es/2013/04/capturar-errores-de-javascript.html
[elblogdepicodev-151]: http://elblogdepicodev.blogspot.com.es/2013/04/optimizar-modulos-de-requirejs.html
[elblogdepicodev-152]: http://elblogdepicodev.blogspot.com.es/2013/04/introduccion-y-ejemplo-de-backbonejs.html
[elblogdepicodev-153]: http://elblogdepicodev.blogspot.com.es/2013/04/ejemplo-lista-de-tareas-con-backbone.html
[elblogdepicodev-154]: http://elblogdepicodev.blogspot.com.es/2013/05/ejemplo-de-pruebas-unitarias-en.html
[elblogdepicodev-155]: http://elblogdepicodev.blogspot.com.es/2013/05/modificar-la-base-de-datos-con-liquibase.html
[elblogdepicodev-156]: http://elblogdepicodev.blogspot.com.es/2013/05/copia-de-seguridad-con-rsync.html
[elblogdepicodev-157]: http://elblogdepicodev.blogspot.com.es/2013/05/seguridad-en-aplicacion-web-con-apache.html
[elblogdepicodev-158]: http://elblogdepicodev.blogspot.com.es/2013/05/seguridad-en-aplicacion-web-con-apache-II.html
[elblogdepicodev-159]: http://elblogdepicodev.blogspot.com.es/2013/06/persistencia-con-jpa-y-apache-tapestry.html
[elblogdepicodev-160]: http://elblogdepicodev.blogspot.com.es/2013/06/mantenimiento-crud-en-apache-tapestry.html
[elblogdepicodev-161]: http://elblogdepicodev.blogspot.com.es/2013/06/pruebas-unitarias-y-de-integracion-en-apache-tapestry.html
[elblogdepicodev-162]: http://elblogdepicodev.blogspot.com.es/2013/06/hemeroteca-3.html
[elblogdepicodev-163]: http://elblogdepicodev.blogspot.com.es/2013/07/redefinicion-de-paginas-de-error-404.html
[elblogdepicodev-164]: http://elblogdepicodev.blogspot.com.es/2013/07/personalizar-la-pagina-de-informe-de-error.html
[elblogdepicodev-165]: http://elblogdepicodev.blogspot.com.es/2013/07/dao-generico-para-jpa-orm.html
[elblogdepicodev-166]: http://elblogdepicodev.blogspot.com/2013/07/libro-sobre-apache-tapestry.html
[elblogdepicodev-167]: http://elblogdepicodev.blogspot.com.es/2013/08/acceso-base-de-datos-con-hibernate-y-jpa.html
[elblogdepicodev-168]: http://elblogdepicodev.blogspot.com.es/2013/08/busquedas-de-texto-completo-en-objetos-de-dominio.html
[elblogdepicodev-169]: http://elblogdepicodev.blogspot.com.es/2013/08/pruebas-unitarias-de-codigo-que-accede-a-base-de-datos.html
[elblogdepicodev-170]: http://elblogdepicodev.blogspot.com.es/2013/08/ejemplo-del-patron-de-diseno-state.html
[elblogdepicodev-171]: http://elblogdepicodev.blogspot.com.es/2013/08/ejemplo-lista-de-tareas-con-marionette.html
[elblogdepicodev-172]: http://elblogdepicodev.blogspot.com.es/2013/09/como-optimizar-modulos-de-requirejs-y-archivos-javascript-II.html
[elblogdepicodev-173]: http://elblogdepicodev.blogspot.com.es/2013/09/guia-basica-del-reproductor-de-musica-cmus.html
[elblogdepicodev-174]: http://elblogdepicodev.blogspot.com.es/2013/09/archivos-properties-con-codificacion-utf8.html
[elblogdepicodev-175]: http://elblogdepicodev.blogspot.com.es/2013/09/trazas-en-un-gsp-de-grails.html
[elblogdepicodev-176]: http://elblogdepicodev.blogspot.com.es/2013/10/archivo-de-log-de-sentencias-sql-en-mysql-mariadb.html
[elblogdepicodev-177]: http://elblogdepicodev.blogspot.com.es/2013/10/solucion-al-doble-envio-de-peticiones.html
[elblogdepicodev-178]: http://elblogdepicodev.blogspot.com.es/2013/10/relaciones-jerarquicas-en-bases-de-datos-relacionales.html
[elblogdepicodev-179]: http://elblogdepicodev.blogspot.com.es/2013/11/transacciones-en-apache-tapestry.html
[elblogdepicodev-180]: http://elblogdepicodev.blogspot.com.es/2013/11/integracion-y-transacciones-con-spring.html
[elblogdepicodev-181]: http://elblogdepicodev.blogspot.com.es/2013/11/introduccion-la-criptografia-e-inicio-con-gpg.html
[elblogdepicodev-182]: http://elblogdepicodev.blogspot.com.es/2013/11/como-usar-gpg-con-evolution.html
[elblogdepicodev-183]: http://elblogdepicodev.blogspot.com.es/2013/11/instalar-un-lector-de-tarjetas-inteligentes-en-arch-linux.html
[elblogdepicodev-184]: http://elblogdepicodev.blogspot.com.es/2013/12/adios-viejo-mundo.html
[elblogdepicodev-185]: http://elblogdepicodev.blogspot.com.es/2013/10/solucion-al-problema-de-seguridad-csrf.html

[elblogdepicodev-5-opciones-de-hosting-para-aplicaciones]: http://elblogdepicodev.blogspot.com.es/2012/02/5-opciones-de-hosting-para-aplicaciones.html
[elblogdepicodev-de-windows-arch-linux]: http://elblogdepicodev.blogspot.com.es/2010/03/de-windows-arch-linux.html
[elblogdepicodev-desempaquetado-sony-vaio-e-14p]: http://elblogdepicodev.blogspot.com.es/2012/12/desempaquetado-sony-vaio-e-14p.html
[elblogdepicodev-desempaquetado-unboxing-de-amazon]: http://elblogdepicodev.blogspot.com.es/2012/08/desempaquetado-unboxing-de-amazon.html
[elblogdepicodev-guia-instalacion-raspberry-pi-con-arch]: http://elblogdepicodev.blogspot.com.es/2012/06/guia-instalacion-raspberry-pi-con-arch.html
[elblogdepicodev-internacionalizacion-lenguajes-con]: http://elblogdepicodev.blogspot.com.es/2011/08/internacionalizacion-lenguajes-con.html
[elblogdepicodev-internacionalizacion-i18n-de-campos-con]: http://elblogdepicodev.blogspot.com.es/2011/11/internacionalizacion-i18n-de-campos-con.html
[elblogdepicodev-motivos-para-elegir-apache-tapestry]: http://elblogdepicodev.blogspot.com.es/2011/08/motivos-para-elegir-apache-tapestry.html
[elblogdepicodev-patrones-de-diseno-en-la-programacion]: http://elblogdepicodev.blogspot.com.es/2012/03/patrones-de-diseno-en-la-programacion.html
[elblogdepicodev-personalizar-la-pagina-de-informe-de-error]: http://elblogdepicodev.blogspot.com.es/2013/07/personalizar-la-pagina-de-informe-de-error.html
[elblogdepicodev-seguridad-en-aplicacion-web-con-apache]: http://elblogdepicodev.blogspot.com.es/2013/05/seguridad-en-aplicacion-web-con-apache.html
