{{ $tags := $.Site.Data.theme.conf.tags.amp }}
{{ $imgtagopen := $tags.imgtagopen }}
{{ $imgtagclose := $tags.imgtagclose }}
{{ $imgtagsrc := $tags.imgtagsrc }}

<div class="alert alert-secondary sourcecode">
    {{ $imgtagopen | safeHTML }} {{ $imgtagsrc }}="{{ "assets/images/icons/terminal.svg" | relURL }}" width="64" height="64" alt="Terminal" title="Terminal" class="lozad sourcecode-icon">{{ $imgtagclose | safeHTML }}
    <p>
        El <a href="https://github.com/picodotdev/{{ .Params.git }}">código fuente completo del ejemplo</a> puedes descargarlo del repositorio de ejemplos de Blog Bitix alojado en GitHub
        {{- if .Params.command }} y probarlo en tu equipo ejecutando siguiente comando:<br><code>{{ .Params.command }}</code>{{ else }}.{{end -}}
        {{- if .Params.note }}<br><small>Nota: {{ .Params.note }}</small>{{end -}}
    </p>
</div>
